@media (max-width: 992px) {
  /* ----- Header nav-bar ----- */
  header {
    position: relative;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links-wrapper {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1c202d;
    padding-block: 20px;
    position: absolute;
    top: 55px;
    left: 0;
    transition: all 0.3s ease;
  }

  .nav-links-wrapper.active {
    display: block;
  }

  .nav-links,
  .nav-buttons {
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 20px;
    margin: auto;
  }

  .nav-buttons {
    padding-top: 25px;
  }

  /* .nav-login-button,
  .nav-buynow-button {
    text-align: center;
  } */

  .nav-buynow-button {
    text-align: center;
  }

  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }

  .nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: translateX(0px) rotate(-45deg);
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 32px;
  }

  .hero-section-wrapper {
    flex-direction: column;
    gap: 60px;
  }

  .hero-section-content,
  .hero-section-media {
    width: 100%;
  }

  .hero-section-content-title {
    font-size: 48px;
  }

  .hero-section-content-dec {
    width: 100%;
  }

  .security-detail-card {
    left: 114px;
  }

  .growth-detail-card {
    right: 116px;
  }

  /* ----- How it work section ----- */
  .how-it-works-card-btn {
    margin-top: 50px;
  }

  /* ----- pricing cards section ----- */
  .pricing-cards-section .cards-section-wrapper :nth-child(3).pricing-card {
    grid-area: 2 / -3 / 2 / -1;
    justify-self: center;
  }

  /* ----- Footer section ----- */
  .footer-section {
    padding-top: 45px;
  }

  .footer-content-wrapper {
    flex-direction: column;
    gap: 36px;
  }

  .footer-content {
    width: 100%;
  }

  .footer-content-dec {
    max-width: 100%;
  }

  .footer-links {
    width: 100%;
  }

  .footer-service {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 15px;
  }
  .hero-new-feature-content {
    gap: 5px;
  }

  .hero-section-content-title {
    font-size: 36px;
  }

  .security-detail-card {
    left: 17px;
  }

  .growth-detail-card {
    right: 17px;
  }

  /* ----- How it work section ----- */
  .how-it-works-card-btn {
    margin-top: 40px;
  }

  /* ----- Review section ----- */
  .review-card {
    padding: 28px;
  }

  .review-card-dec {
    font-size: 18px;
  }

  /* ----- pricing cards section ----- */
  .pricing-card {
    padding: 25px 18px;
  }

  .pricing-cards-section {
    padding-top: 50px;
  }

  .pricing-cards-section .cards-section-wrapper :nth-child(3).pricing-card {
    grid-area: auto;
    justify-self: normal;
  }

  /* ----- CTA section ----- */
  .cta-content-wrapper {
    padding: 27px;
  }

  .cta-content-title {
    font-size: 28px;
  }

  .cta-content-dec {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  /* ----- Hero section ----- */
  .hero-section-wrapper {
    gap: 90px;
  }

  .hero-section-content-btns a {
    padding: 11px 12px;
  }

  .hero-start-trading-btn,
  .hero-start-view-demo-btn {
    justify-content: center;
  }

  .hero-section-counter {
    flex-direction: column;
    gap: 8px;
  }

  .security-detail-card {
    top: -50px;
  }

  .growth-detail-card {
    bottom: -50px;
  }

  /* ----- Review section ----- */
  .splide__slide {
    padding: 0;
  }

  /* ----- FAQ section ----- */
  .faq-question {
    padding: 16px;
  }

  .faq-answer p {
    padding: 0 16px 16px;
  }

  /* ----- CTA section ----- */
  .cta-content-wrapper {
    padding: 18px;
  }

  .cta-content-btns {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  /* ----- Footer section ----- */
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-Policy {
    gap: 5px 16px;
    justify-content: center;
  }

  .footer-Policy a {
    margin-left: 0 !important;
    margin-top: 4px;
  }
}
