@media (max-width: 1096px) {
  .link-dropdown-container {
    min-width: 356px;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding: 12px;
  }

  .nav-toggle-wrapper {
    display: block;
  }

  .header-content,
  .header-content:not(.submenu-wrapper) {
    margin: 0;
  }

  .header-content-container {
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(20%);
  }

  .header-content-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(70px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .header-content-container {
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    padding: 60px 20px 100px;
  }

  .content-container {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
  }

  .header-content {
    border: none;
  }

  .submenu-wrapper {
    padding-bottom: 0;
    border-radius: 16px;
  }

  .submenu-wrapper::after {
    display: none;
  }

  .header-content,
  .header-content-link {
    width: 100%;
  }

  .header-content-link {
    justify-content: space-between;
  }

  .link-dropdown-container {
    grid-template-rows: 0fr;
    min-width: 100%;
    position: static;
  }

  .link-dropdown-wrapper {
    padding: 0 22px;
    border: none;
    border-radius: 0;
  }

  .header-content.visible .link-dropdown-wrapper {
    padding: 32px 22px;
  }
}

@media (max-width: 767px) {
  .header-content.visible .link-dropdown-wrapper {
    padding: 22px;
  }

  .dropdown-link-new-tag {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .desktop-view {
    display: none;
  }

  .responsive-view {
    display: flex;
  }

  .header-content-container.active {
    transform: translateY(66px);
  }

  .header-content-container {
    padding: 42px 20px 100px;
  }

  .dropdown-content {
    margin-top: 16px;
  }
}
