@media (max-width: 1096px) {
  .link-dropdown-container {
    min-width: 356px;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding: 12px;
  }

  .nav-toggle-wrapper {
    display: block;
  }

  .header-content,
  .header-content:not(.submenu-wrapper) {
    margin: 0;
  }

  .header-content-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    padding: 20px 20px 60px;
    margin-top: 16px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 0.3s ease-in-out;
    transform: translateY(40px);
  }

  .header-content-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .content-container {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
  }

  .header-content {
    border: none;
  }

  .submenu-wrapper {
    padding-bottom: 0;
    border-radius: 16px;
  }

  .submenu-wrapper::after {
    display: none;
  }

  .header-content,
  .header-link-wrapper {
    width: 100%;
  }

  .header-link-wrapper {
    justify-content: space-between;
  }

  .header-link-icon {
    display: flex;
    justify-content: end;
    flex-grow: 1;
  }

  .link-dropdown-container {
    height: 0;
    border: none;
    border-radius: 0;
    min-width: 100%;
    position: static;
    padding: 0 16px;
  }

  .submenu-wrapper.visible .link-dropdown-container {
    height: 100%;
    opacity: 1;
    padding: 32px 16px;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .content-container {
    padding-bottom: 100px;
  }

  .dropdown-link-new-tag {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .desktop-view {
    display: none;
  }

  .responsive-view {
    display: flex;
  }

  .header-content-container {
    padding: 20px 20px 40px;
  }

  .dropdown-content {
    margin-top: 12px;
  }

  .link-dropdown-container {
    padding: 0;
  }

  .header-content.visible .link-dropdown-container {
    padding: 16px 0;
  }

  .dropdown-link-container {
    padding: 10px;
  }
}

@media (max-width: 424px) {
  .dropdown-link-container {
    padding: 8px;
  }
}
