:root {
  --primary: #ffffeb;
  --black: #191805;
  --white: #fffdfa;
  --antiquewhite: #e3e2cf;
  --dimgray: #7b7975;
  --sandybrown: #ffa845;
  --thistle: #f0d7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--primary);
}

/* ----- Common css ----- */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  align-items: center;
  gap: 6px;
  color: var(--black);
  font-weight: 500;
}
/* ----- End common css ----- */

/* ----- Header ----- */
.header {
  padding-top: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-container,
.header-content-container,
.content-container,
.header-buttons {
  display: flex;
  align-items: center;
}

.header-container {
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 14px;
  border: 2px solid var(--antiquewhite);
  border-radius: 12px;
  padding: 0 8px 0 16px;
  position: relative;
  z-index: 4;
}

.content-container,
.header-buttons {
  gap: 8px;
}

.header-content {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: 2px solid transparent;
  margin-top: 16px;
  transition: all 0.4s ease-in-out;
}

.header-content:hover {
  overflow: visible;
  border-color: var(--black);
  background-color: var(--white);
}

.submenu-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  padding-bottom: 16px;
  border-bottom: none;
}

.submenu-wrapper::after {
  content: "";
  width: 100%;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: transparent;
  z-index: 1;
  transition: all 0.1s ease-in-out;
}

.header-content:hover.submenu-wrapper::after {
  background-color: var(--white);
}

.header-content:not(.submenu-wrapper) {
  margin-bottom: 14px;
}

.header-content-link {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.header-content-link svg {
  transition: all 0.3s ease-in-out;
}

.download-btn {
  background-color: var(--thistle);
  padding: 6px 8px;
  border: 2px solid var(--black);
  border-radius: 8px;
}

.download-btn,
.download-btn svg {
  transition: 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #daaff4;

  & svg {
    transform: scale(1.1);
  }
}

.link-dropdown-container {
  min-width: 408px;
  position: absolute;
  top: 53px;
  left: -2px;
  display: grid;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 999px) {
  .link-dropdown-container {
    grid-template-rows: auto 0fr;
  }

  .header-content:hover .header-content-link svg {
    transform: rotate(180deg);
  }

  .header-content:hover .link-dropdown-container {
    grid-template-rows: 1fr;
  }
}

.submenu-wrapper.visible .link-dropdown-container {
  grid-template-rows: 1fr;
}

.header-content.visible .header-content-link svg {
  transform: rotate(180deg);
}

.link-dropdown-wrapper {
  padding: 32px 22px;
  border: 2px solid transparent;
  border-radius: 0 16px 16px;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.header-content:hover .link-dropdown-wrapper {
  border-color: var(--black);
}

.responsive-view {
  display: none;
}

.dropdown-tag {
  font-size: 14px;
  color: var(--dimgray);
  text-transform: uppercase;
}

.dropdown-content {
  margin-top: 24px;
}

.dropdown-link-container {
  width: 100%;
  align-items: flex-start;
  padding: 6px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.dropdown-link-container:hover {
  background-color: var(--antiquewhite);
}

.dropdown-link-container svg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.dropdown-link {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown-link-new-tag {
  background-color: var(--sandybrown);
  color: var(--black);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
}

.dropdown-link-dec {
  font-size: 14px;
  color: var(--dimgray);
  font-weight: 400;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.nav-toggle-wrapper {
  display: none;
}

.nav-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 10;
}

.bar {
  width: 22px;
  height: 3px;
  border-radius: 999px;
  background: var(--black);
  transition: all 0.3s ease-in-out;
}

.nav-toggle .bar:nth-child(1),
.nav-toggle .bar:nth-child(3) {
  transform: translateX(-2px);
}

.nav-toggle .bar:nth-child(2) {
  transform: translateX(3px);
}

.nav-toggle.active .bar:nth-child(2) {
  transform: translateX(6px);
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: translate(0, 7px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(3) {
  transform: translate(0, -7px) rotate(-45deg);
}

.hidden {
  /* overflow: hidden; */
}
