:root {
  --primary: #ffffeb;
  --black: #191805;
  --white: #fffdfa;
  --antiquewhite: #e3e2cf;
  --dimgray: #7b7975;
  --sandybrown: #ffa845;
  --thistle: #f0d7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--primary);
}

/* ----- Common css ----- */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  align-items: center;
  gap: 6px;
  color: var(--black);
  font-weight: 500;
}
/* ----- End common css ----- */

/* ----- Header ----- */
.header {
  padding: 20px 0;
}

.header-container,
.header-content-container,
.header-buttons {
  display: flex;
  align-items: center;
}

.header-container {
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 14px;
  border: 2px solid var(--antiquewhite);
  border-radius: 12px;
  padding: 8px;
}

.header-content {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.header-content-container {
  gap: 8px;
}

.header-content-link {
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.header-content-link:hover {
  border: 1px solid var(--black);
  background-color: var(--white);
}

.download-btn {
  background-color: var(--thistle);
  padding: 6px 8px;
  border: 2px solid var(--black);
  border-radius: 8px;
}

.link-dropdown-container {
  min-width: 408px;
  position: absolute;
  top: 38px;
  left: 0;
  padding-top: 16px;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.header-content-link:hover .link-dropdown-container {
  height: auto;
  grid-template-rows: repeat(5, 1fr);
  overflow: visible;
}

.link-dropdown-wrapper {
  padding: 22px;
  background-color: var(--white);
  border-radius: 18px;
}

.dropdown-tag {
  font-size: 14px;
  color: var(--dimgray);
  text-transform: uppercase;
}

.dropdown-content {
  margin-top: 24px;
}

.dropdown-link-container {
  align-items: flex-start;
}

.dropdown-link-container svg {
  width: 22px;
  height: 22px;
}

.dropdown-link {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown-link-new-tag {
  background-color: var(--sandybrown);
  color: var(--black);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
}

.dropdown-link-dec {
  font-size: 14px;
  color: var(--dimgray);
  font-weight: 400;
}
