:root {
  --bg-yellow: linear-gradient(225deg, #ffee57, #ffb930);
  --bg-pink: linear-gradient(225deg, #fbc9c9, #cf3939);
  --bg-purple: linear-gradient(225deg, #dcb7f2, #dcb7f2);
  --bg-goldenrod: linear-gradient(225deg, #f2dbaf, #9c9344);
  --bg-brown: linear-gradient(225deg, #ceb7b4, #b57049);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ----- Common css ----- */
img {
  width: 100%;
  height: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

h1,
.h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: 56px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}

/* ----- Hero-slider ----- */

.hero-slider .fruit-slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-slider .splide__track {
  height: 100%;
}

.splide-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* gap: 110px; */
  justify-content: center;
  align-items: center;
}

.content-container {
  max-width: 450px;
  z-index: 10;
}

.content-title {
  color: #000000cc;
}

.content-dec {
  margin-top: 16px;
  color: #000000b3;
  line-height: 1.4;
}

.content-title,
.content-dec {
  transform: translateY(50px);
  filter: blur(12px);
  opacity: 0;
  transition: all 0.5s linear;
}

.item-container.is-active .content-title,
.item-container.is-active .content-dec {
  animation: textBlur 0.5s 0.2s linear 1 forwards;
}

.item-container.is-active .content-dec {
  animation-delay: 0.4s;
}

@keyframes textBlur {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.splide-media {
  max-width: 40%;
  transform: scale(1.05);
  position: absolute;
  top: 20%;
  right: 10%;
}

.item-container.is-active .splide-media {
  animation: imageScale 0.5s 0.5s linear 1 forwards;
}

@keyframes imageScale {
  to {
    transform: scale(1);
  }
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-pink {
  background: var(--bg-pink);
}

.bg-purple {
  background: var(--bg-purple);
}

.bg-goldenrod {
  background: var(--bg-goldenrod);
}

.bg-brown {
  background: var(--bg-brown);
}

/* ----- Thumbnail ----- */
.hero-slider .thumbnail-container {
  width: 100%;
  position: absolute;
  bottom: 103px;
  left: 0;
}

.thumbnails-slider .thumbnails-list-container {
  max-width: 370px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.thumbnails-slider .thumbnails-list {
  align-items: center;
  min-height: 244px;
}

.thumbnails-slider .thumbnail {
  width: auto !important;
}

.thumbnails-slider .thumbnail-media {
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 14px;
  box-shadow: 4px 8px 10px #0003;
}

.thumbnails-slider .thumbnail-media img {
  max-width: 144px;
  height: auto;
}

.thumbnails-slider .splide__arrows {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.thumbnails-slider .splide__arrow--next {
  left: 5px;
  right: auto;
}

.thumbnails-slider .splide__arrow--prev {
  right: 5px;
  left: auto;
}

.thumbnails-slider .splide__arrow {
  width: 50px;
  height: 50px;
  background-color: #0d0f0ecc;
  opacity: 1;
}

.thumbnails-slider .splide__arrow,
.thumbnails-slider .splide__arrow svg {
  transition: all 0.4s ease-in-out;
}

.thumbnails-slider .splide__arrow svg {
  fill: #e7e7e7;
  width: 9px;
  height: 9px;
}

.thumbnails-slider .splide__arrow:hover {
  background-color: #ffffff;
}

.thumbnails-slider .splide__arrow:hover svg {
  fill: #000000;
}

.thumbnails-slider .splide__track--nav > .splide__list > .splide__slide {
  border: none;
}

@media (max-width: 1023px) {
  .item-container {
    padding: 0 20px;
  }

  .thumbnails-slider .thumbnails-list-container {
    max-width: 192px;
  }
}

@media (max-width: 991px) {
  .content-container {
    max-width: 302px;
  }

  .splide-media {
    max-width: 52%;
    right: 5%;
  }

  .hero-slider .thumbnail-container {
    bottom: 81px;
  }
}

@media (max-width: 767px) {
  .content-container {
    max-width: 241px;
  }

  .content-dec {
    font-size: 13px;
  }

  .splide-media {
    max-width: 95%;
    top: 5%;
    right: auto;
  }

  .hero-slider .thumbnail-container {
    bottom: 60px;
  }

  .thumbnails-slider .thumbnails-list-container {
    max-width: 152px;
    bottom: -44px;
  }

  .thumbnails-slider .thumbnails-list {
    min-height: 220px;
  }

  .thumbnails-slider .thumbnail-media {
    min-height: 170px;
  }

  .thumbnails-slider .thumbnail-media img {
    max-width: 136px;
  }
}

@media (max-width: 575px) {
  .thumbnails-slider .thumbnails-list-container {
    max-width: 120px;
  }

  .thumbnails-slider .thumbnail-media {
    min-height: 150px;
  }
}
