:root {
  --bg-yellow: linear-gradient(225deg, #ffee57, #ffb930);
  --bg-pink: linear-gradient(225deg, #fbc9c9, #cf3939);
  --bg-purple: linear-gradient(225deg, #dcb7f2, #dcb7f2);
  --bg-goldenrod: linear-gradient(225deg, #f2dbaf, #9c9344);
  --bg-brown: linear-gradient(225deg, #ceb7b4, #b57049);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ----- Common css ----- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style-type: none;
}

h1,
.h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 45px;
  }
}

/* ----- Hero-slider ----- */
.hero-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-slider .fruit-slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-slider .splide__track {
  height: 100%;
}

.item-wrapper {
  align-items: center;
}

.item-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide-content-wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  width: 50%;
}

.content-container {
  max-width: 420px;
}

.content-title {
  color: #000000cc;
}

.content-dec {
  margin-top: 20px;
  color: #000000b3;
}

.content-title,
.content-dec {
  transform: translateY(50px);
  filter: blur(12px);
  opacity: 0;
  transition: all 0.5s linear;
}

.item-container.is-active .content-title,
.item-container.is-active .content-dec {
  animation: textBlur 0.5s 0.2s linear 1 forwards;
}

.item-container.is-active .content-dec {
  animation-delay: 0.4s;
}

@keyframes textBlur {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes bgBlur {
  to {
    backdrop-filter: blur(16px);
    background-color: rgb(0, 0, 0, 0.2);
  }
}

.splide-media {
  max-width: 450px;
  transform: scale(1.2);
}

.item-container.is-active .splide-media {
  animation: imageScale 0.5s 0.5s linear 1 forwards;
}

@keyframes imageScale {
  to {
    transform: scale(1);
  }
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-pink {
  background: var(--bg-pink);
}

.bg-purple {
  background: var(--bg-purple);
}

.bg-goldenrod {
  background: var(--bg-goldenrod);
}

.bg-brown {
  background: var(--bg-brown);
}

/* ----- Thumbnail ----- */
.thumbnails-slider {
  max-width: 420px;
  position: absolute !important;
  bottom: 65px !important;
  right: 0 !important;
}

.thumbnails-list {
  min-height: 210px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.thumbnail {
  width: 180px !important;
  height: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 0 !important;
  transform: scale(1);
}

.thumbnail-media {
  max-width: 145px;
}

.splide__arrows {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.splide__arrow--prev {
  left: -60px !important;
}

.splide__arrow--next {
  right: -60px !important;
}

.splide__arrow {
  width: 44px !important;
  height: 44px !important;
  background-color: #0d0f0ecc !important;
}

.splide__arrow,
.splide__arrow svg {
  transition: all 0.4s ease-in-out;
}

.splide__arrow:hover {
  background-color: #e7e7e7 !important;

  & svg {
    fill: #0d0f0ecc !important;
  }
}

.splide__arrow svg {
  fill: #e7e7e7 !important;
  width: 1em !important;
  height: 1em !important;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: none !important;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

@media (max-width: 1023px) {
  .content-container {
    width: 100%;
  }

  .splide-media {
    max-width: 330px;
  }

  .thumbnails-slider {
    max-width: 220px;
    bottom: 20px !important;
  }

  .thumbnail {
    width: 170px !important;
    height: 155px !important;
    border-radius: 12px;
  }
}

@media (max-width: 767px) {
  .splide-content-wrapper {
    flex-direction: column-reverse;
  }

  .item-container {
    align-items: self-start;
    padding-top: 30px !important;
  }

  .content-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 10;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
  }

  .splide-media {
    max-width: 410px;
    position: relative;
  }

  .item-container.is-active .content-container {
    animation: bgBlur 1s 0.3s linear 1 forwards;
  }
}

@media (max-width: 575px) {
  .splide__arrows {
    bottom: 16%;
    left: 24%;
  }

  .splide-content-wrapper {
    gap: 12px;
  }

  .splide__arrow {
    width: 38px !important;
    height: 38px !important;
  }

  .splide__arrow--prev {
    left: -50px !important;
  }

  .splide__arrow--next {
    right: -50px !important;
  }

  .content-container {
    position: static;
    transform: translate(0);
    border-radius: 0;
    overflow: visible;
  }

  .splide-media {
    width: 70%;
  }

  .item-container.is-active .content-container {
    animation: none;
  }

  .thumbnails-slider {
    max-width: 196px;
    bottom: 80px !important;
  }

  .thumbnails-list {
    min-height: 146px;
  }

  .thumbnail {
    width: 156px !important;
    height: 136px !important;
  }

  .thumbnail-media {
    max-width: 112px;
  }
}
