:root {
  --bg-yellow: linear-gradient(225deg, #ffee57, #ffb930);
  --bg-pink: linear-gradient(225deg, #fbc9c9, #cf3939);
  --bg-purple: linear-gradient(225deg, #dcb7f2, #dcb7f2);
  --bg-goldenrod: linear-gradient(225deg, #f2dbaf, #9c9344);
  --bg-brown: linear-gradient(225deg, #ceb7b4, #b57049);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ----- Common css ----- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style-type: none;
}

h1,
.h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: 56px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}

/* ----- Hero-slider ----- */
.hero-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-slider .fruit-slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-slider .splide__track {
  height: 100%;
}

.item-wrapper {
  align-items: center;
}

.item-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 60%;
  max-width: 450px;
  position: absolute;
  top: 38%;
  left: 10%;
  z-index: 10;
}

.content-title {
  color: #000000cc;
}

.content-dec {
  margin-top: 16px;
  color: #000000b3;
  line-height: 1.4;
}

.content-title,
.content-dec {
  transform: translateY(50px);
  filter: blur(12px);
  opacity: 0;
  transition: all 0.5s linear;
}

.item-container.is-active .content-title,
.item-container.is-active .content-dec {
  animation: textBlur 0.5s 0.2s linear 1 forwards;
}

.item-container.is-active .content-dec {
  animation-delay: 0.4s;
}

@keyframes textBlur {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.splide-media {
  max-width: 40%;
  /* max-width: 767px; */
  transform: scale(1.05);
  position: absolute;
  top: 20%;
  right: 10%;
}

.item-container.is-active .splide-media {
  animation: imageScale 0.5s 0.5s linear 1 forwards;
}

@keyframes imageScale {
  to {
    transform: scale(1);
  }
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-pink {
  background: var(--bg-pink);
}

.bg-purple {
  background: var(--bg-purple);
}

.bg-goldenrod {
  background: var(--bg-goldenrod);
}

.bg-brown {
  background: var(--bg-brown);
}

/* ----- Thumbnail ----- */
.thumbnails-slider {
  max-width: 394px;
  position: absolute !important;
  bottom: 88px !important;
  right: 0 !important;
}

.thumbnails-list {
  min-height: 256px;
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 180px !important;
  height: 220px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px !important;
  transform: scale(1);
  padding: 14px;
  box-shadow: 4px 8px 10px #0003;
}

.thumbnail-media {
  max-width: 145px;
}

.splide__arrows {
  position: absolute;
  bottom: 16px;
  /* left: -566px; */
  left: -144%;
}

.splide__arrow--prev {
  left: -55px !important;
}

.splide__arrow--next {
  right: -55px !important;
}

.splide__arrow {
  width: 50px !important;
  height: 50px !important;
  background-color: #0d0f0ecc !important;
  opacity: 1 !important;
}

.splide__arrow,
.splide__arrow svg {
  transition: all 0.4s ease-in-out;
}

.splide__arrow:hover {
  background-color: #ffffff !important;

  & svg {
    fill: #000000 !important;
  }
}

.splide__arrow svg {
  fill: #e7e7e7 !important;
  width: 9px !important;
  height: 9px !important;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: none !important;
}

@media (max-width: 1023px) {
  .item-container {
    padding: 0 20px;
  }

  .content-container {
    width: 100%;
  }

  .splide__arrows {
    bottom: 6%;
  }

  .thumbnails-slider {
    max-width: 208px;
    bottom: 56px !important;
  }

  .thumbnail {
    border-radius: 12px;
    margin: 0 12px !important;
  }

  .thumbnail-media {
    max-width: 116px;
  }
}

@media (max-width: 991px) {
  .content-container {
    max-width: 302px;
    top: 24%;
    left: 5%;
  }

  .splide-media {
    max-width: 52%;
    right: 5%;
  }
}

@media (max-width: 767px) {
  .splide-content-wrapper {
    flex-direction: column-reverse;
  }

  .item-container {
    align-items: self-start;
    padding-top: 30px !important;
  }

  .content-container {
    max-width: 241px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .content-dec {
    font-size: 13px;
  }

  .splide-media {
    max-width: 95%;
    top: 5%;
    right: auto;
  }

  .splide__arrows {
    bottom: 39%;
    left: -140%;
  }

  .thumbnails-slider {
    max-width: 168px;
    max-width: 150px;
    bottom: 12px !important;
  }

  .thumbnails-list {
    min-height: 189px;
  }

  .thumbnail {
    width: 170px !important;
    height: 150px !important;
  }
}

@media (max-width: 575px) {
  .splide-content-wrapper {
    gap: 32px;
  }

  .splide__arrow--prev {
    left: -42px !important;
  }

  .splide__arrow--next {
    right: -72px !important;
  }

  .content-container {
    border-radius: 0;
    overflow: visible;
  }

  .splide__arrows {
    bottom: 0;
    left: -192%;
  }

  .thumbnails-slider {
    bottom: 45px !important;
    max-width: 76px;
  }

  .thumbnail {
    width: 156px !important;
    height: 136px !important;
  }

  .thumbnail-media {
    max-width: 112px;
  }
}

@media (max-width: 424px) {
  .splide__arrows {
    left: -140%;
  }
}
