:root {
  --bg-yellow: linear-gradient(225deg, #ffee57, #ffb930);
  --bg-pink: linear-gradient(225deg, #fbc9c9, #cf3939);
  --bg-purple: linear-gradient(225deg, #dcb7f2, #dcb7f2);
  --bg-goldenrod: linear-gradient(225deg, #f2dbaf, #9c9344);
  --bg-brown: linear-gradient(225deg, #ceb7b4, #b57049);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ----- Common css ----- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style-type: none;
}

h1,
.h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 45px;
  }
}

/* ----- Hero-slider ----- */
.hero-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-slider .fruit-slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-slider .splide__track {
  height: 100%;
}

.item-wrapper {
  align-items: center;
}

.item-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 50%;
  max-width: 450px;
}

.content-title {
  color: #000000cc;
}

.content-dec {
  margin-top: 16px;
  color: #000000b3;
  line-height: 1.4;
}

.content-title,
.content-dec {
  transform: translateY(50px);
  filter: blur(12px);
  opacity: 0;
  transition: all 0.5s linear;
}

.item-container.is-active .content-title,
.item-container.is-active .content-dec {
  animation: textBlur 0.5s 0.2s linear 1 forwards;
}

.item-container.is-active .content-dec {
  animation-delay: 0.4s;
}

@keyframes textBlur {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.splide-media {
  max-width: 40%;
  transform: scale(1.2);
}

.item-container.is-active .splide-media {
  animation: imageScale 0.5s 0.5s linear 1 forwards;
}

@keyframes imageScale {
  to {
    transform: scale(1);
  }
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-pink {
  background: var(--bg-pink);
}

.bg-purple {
  background: var(--bg-purple);
}

.bg-goldenrod {
  background: var(--bg-goldenrod);
}

.bg-brown {
  background: var(--bg-brown);
}

/* ----- Thumbnail ----- */
.thumbnails-slider {
  max-width: 306px;
  position: absolute !important;
  bottom: 88px !important;
  right: 0 !important;
}

.thumbnails-list {
  min-height: 256px;
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 180px !important;
  height: 220px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 14px !important;
  transform: scale(1);
  box-shadow: 4px 8px 10px #0003;
}

.thumbnail-media {
  max-width: 145px;
}

.splide__arrows {
  position: absolute;
  bottom: 6%;
  left: -126%;
}

.splide__arrow--prev {
  left: -55px !important;
}

.splide__arrow--next {
  right: -55px !important;
}

.splide__arrow {
  width: 50px !important;
  height: 50px !important;
  background-color: #0d0f0ecc !important;
  opacity: 1 !important;
}

.splide__arrow,
.splide__arrow svg {
  transition: all 0.4s ease-in-out;
}

.splide__arrow:hover {
  background-color: #ffffff !important;

  & svg {
    fill: #000000 !important;
  }
}

.splide__arrow svg {
  fill: #e7e7e7 !important;
  width: 9px !important;
  height: 9px !important;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: none !important;
}

@media (max-width: 1023px) {
  .item-container {
    padding: 0 20px;
  }

  .content-container {
    width: 100%;
  }

  .splide-media {
    max-width: 330px;
  }

  .splide__arrows {
    bottom: 28%;
  }

  .thumbnails-slider {
    max-width: 220px;
    bottom: 20px !important;
  }

  .thumbnail {
    width: 145px !important;
    height: 155px !important;
    border-radius: 12px;
  }

  .thumbnail-media {
    max-width: 116px;
  }
}

@media (max-width: 767px) {
  .splide-content-wrapper {
    flex-direction: column-reverse;
  }

  .item-container {
    align-items: self-start;
    padding-top: 30px !important;
  }

  .content-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 10;
    border-radius: 12px;
    overflow: hidden;
  }

  .content-dec {
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .splide-media {
    max-width: 410px;
    position: relative;
  }

  .thumbnails-slider {
    max-width: 168px;
  }

  .thumbnails-slider {
    bottom: 40px !important;
  }

  .splide__arrows {
    bottom: 39%;
    left: -140%;
  }

  .thumbnails-slider {
    max-width: 150px;
    bottom: 12px !important;
  }

  .thumbnails-list {
    min-height: 170px;
  }
}

@media (max-width: 575px) {
  .splide-content-wrapper {
    gap: 32px;
    justify-content: flex-end;
  }

  .splide__arrow {
    width: 38px !important;
    height: 38px !important;
  }

  .splide__arrow--prev {
    left: -41px !important;
  }

  .splide__arrow--next {
    right: -41px !important;
  }

  .content-container {
    position: static;
    transform: translate(0);
    border-radius: 0;
    overflow: visible;
  }

  .splide-media {
    width: 70%;
  }

  .thumbnails-slider {
    bottom: 82px !important;
  }

  .thumbnail {
    width: 156px !important;
    height: 136px !important;
  }

  .thumbnail-media {
    max-width: 112px;
  }
}

@media (max-width: 424px) {
  .splide__arrows {
    left: -64%;
  }
}
