:root {
  --black-400: #181d27;
  --white: #fffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.outline {
  border: 1px solid var();
}
