:root {
  --black-400: #181d27;
  --white: #ffffff;
  --lightgray: #d4d4d4;
  --outline: 1px solid rgba(255, 255, 255, 0.316);
  --bg-gradient: linear-gradient(
    270deg,
    #181d27,
    #181d27 18%,
    #a68cad33 33%,
    #937d9b40 47%,
    #38364580 60%,
    #181d27 84%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.outline {
  border: 1px solid var(--outline);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
