@media (max-width: 1023px) {
  .faq-contents {
    display: flex;
    flex-direction: column-reverse;
  }

  .faq-media {
    position: static;
    width: 100%;
    height: 350px;
  }

  .faq-contents-wrapper.active .faq-media {
    transform: rotate(0);
  }

  .faq-answer {
    max-width: 100%;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .faq-section {
    padding: 50px 0;
  }

  .faq-title {
    margin-bottom: 34px;
  }

  .faq-media {
    height: 300px;
    border-radius: 24px;
  }

  .faq-answer {
    font-size: 16px;
  }

  .faq-wrapper {
    gap: 20px;
  }
}

@media (max-width: 575px) {
  .faq-title {
    text-align: center;
  }
}
