/* ----- Faq section ----- */
.faq-section {
  padding: 65px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.faq-title {
  margin-bottom: 50px;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-contents-wrapper {
  width: 100%;
  padding: 30px 0;
  border-bottom: var(--outline);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.faq-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-title-wrapper svg {
  width: 28px;
  aspect-ratio: 1;
  transition: all 0.3s ease-in-out;
}

.faq-answer-container {
  overflow: hidden;
}

.faq-answer-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.4s ease-in-out;
}

.faq-contents {
  overflow: hidden;
}

.faq-media {
  width: 236px;
  aspect-ratio: 1;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 145px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.faq-content {
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.faq-answer {
  max-width: 599px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--lightgray);
  margin-top: 30px;
  padding-bottom: 50px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.faq-contents-wrapper.active {
  background: var(--bg-gradient);
  border-color: transparent;
}

.faq-contents-wrapper.active .faq-content,
.faq-contents-wrapper.active .faq-answer,
.faq-contents-wrapper.active .faq-media {
  opacity: 1;
}

.faq-contents-wrapper.active .faq-answer-wrapper {
  grid-template-rows: 1fr;
}

.faq-contents-wrapper.active .faq-title-wrapper svg {
  transform: rotate(-45deg);
}

.faq-contents-wrapper.active .faq-media {
  transform: rotate(-20deg);
}
