:root {
  --white: #ffffff;
  --primary-color: #14183e;
  --secondary-color: #5e6282;
  --gray-100: #686d77;
  --gray-200: #1e1d4c;
  --gray-300: #080809;
  --gray-500: #181e4b;
  --grey-600: #212832;
  --yellow-100: #f0bb1f;
  --yellow-200: #f1a501;
  --orange-50: #fff1da;
  --orange-100: #df6951;
  --orange-200: #f15a2b;
  --plum-100: #d5aee4;
  --steelblue: #006380;
  --deepskyblue: #59b1e6;
  --font-poppins: "Poppins", sans-serif;
  --font-volkhov: "Volkhov", serif;
  --font-google-sans: "Google Sans", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --line-height-1_8: 1.8;
  --line-height-1: 1.05;
  --line-height-1_6: 1.6;
  --icon-bg: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style-type: none;
}

.outline {
  border: 1px solid transparent;
}

.btn {
  display: flex;
  align-items: center;
  padding: 18px 26px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .btn {
    padding: 14px 22px;
  }
}

.btn-hover {
  position: relative;
}

.btn-hover::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #08080929;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover::before {
  width: 100%;
}

.h1,
h1 {
  font-size: 84px;
  font-weight: 700;
  line-height: var(--line-height-1);
}
@media (max-width: 1023px) {
  .h1,
  h1 {
    font-size: 54px;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1 {
    font-size: 34px;
  }
}

.h2,
h2 {
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .h2,
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2 {
    font-size: 34px;
    font-weight: 600;
  }
}

.h3,
h3 {
  font-size: 33px;
  font-weight: 600;
}

.h4,
h4 {
  font-size: 22px;
  font-weight: 600;
}

.h5,
h5 {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .h5,
  h5 {
    font-size: 18px;
  }
}

.h6,
h6 {
  font-size: 18px;
  font-weight: 600;
}

.gradient-box {
  width: 100%;
  max-width: 478px;
  aspect-ratio: 1;
  background: var(--plum-100);
  filter: blur(150px);
  opacity: 30%;
}
@media (max-width: 1023px) {
  .gradient-box {
    max-width: 370px;
  }
}
@media (max-width: 991px) {
  .gradient-box {
    max-width: 280px;
  }
}
@media (max-width: 991px) {
  .gradient-box {
    max-width: 200px;
  }
}
