:root {
  --white: #ffffff;
  --primary-color: #14183e;
  --secondary-color: #5e6282;
  --gray-100: #686d77;
  --gray-200: #1e1d4c;
  --gray-300: #080809;
  --gray-500: #181e4b;
  --grey-600: #212832;
  --yellow-100: #f0bb1f;
  --yellow-200: #f1a501;
  --orange-50: #fff1da;
  --orange-100: #df6951;
  --font-poppins: "Poppins", sans-serif;
  --font-volkhov: "Volkhov", serif;
  --font-google-sans: "Google Sans", sans-serif;
  --icon-bg: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

.outline {
  border: 1px solid transparent;
}

.btn {
  padding: 18px 26px;
  border-radius: 10px;
}

.primary-btn {
  background-color: var(--yellow-400);
  color: var(--white);
}

.h1,
h1 {
  font-size: 84px;
  font-weight: 700;
}

.h2,
h2 {
  font-size: 84px;
  font-weight: 700;
}

.h3,
h3 {
  font-size: 33px;
  font-weight: 600;
}

.h4,
h4 {
  font-size: 22px;
  font-weight: 600;
}

.h5,
h5 {
  font-size: 20px;
  font-weight: 700;
}

.h6,
h6 {
  font-size: 18px;
  font-weight: 400;
}
