@media (max-width: 1023px) {
  /* ----- Header ----- */
  .header-contents-wrapper {
    gap: 22px;
  }

  .header-contents {
    gap: 8px;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header-toggle-wrapper {
    display: block;
  }

  .heaer-container-wrapper {
    width: 100%;
    max-height: 216px;
    overflow: auto;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    padding: 20px;
    margin-top: 2px;
    visibility: hidden;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transform: translateY(28px);
    transition: all 0.3s ease-in-out;
  }

  .header-contents-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .heaer-contents-container.active .heaer-container-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .heaer-contents-container {
    gap: 18px;
  }

  #language-select {
    padding: 6px 12px;
  }

  /* ----- Footer ----- */
  .footer-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .footer-logo {
    max-width: 112px;
    margin-bottom: 10px;
  }

  .footer-container,
  .footer-media {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  /* ----- Footer ----- */
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-content-wrapper,
  .footet-social-midea {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */
  .header {
    padding: 22px 0;
  }

  .header-logo {
    max-width: 96px;
  }

  .header-link-wrapper {
    display: none;
  }

  .responsive-link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heaer-container-wrapper {
    max-height: 302px;
    flex-direction: column;
  }

  .header-sign-up {
    border: none;
  }

  .header-contents .header-link:hover {
    color: var(--yellow-200);

    &::after {
      width: 100%;
    }
  }

  /* ----- Footer ----- */
  .footer-logo {
    max-width: 100px;
  }

  .copy-rights-tag {
    margin-top: 30px;
  }

  .footer-content-wrapper {
    gap: 18px 36px;
    flex-wrap: wrap;
  }
}

@media (max-width: 424px) {
  /* ----- Footer ----- */
  .footer-wrapper {
    gap: 24px;
  }

  .footer-content-wrapper {
    gap: 18px 22px;
  }

  .footer-link-container {
    max-width: 45%;
    width: 100%;
  }

  .footet-midea-dec {
    margin-top: 18px;
  }

  .social-midea-platforms {
    gap: 12px;
  }
}
