@media (max-width: 1023px) {
  /* ----- Header ----- */
  .header-contents-wrapper {
    gap: 22px;
  }

  .header-contents {
    gap: 8px;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header-toggle-wrapper {
    display: block;
  }

  .heaer-container-wrapper {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    padding: 20px;
    visibility: hidden;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transform: translateY(28px);
    transition: all 0.3s ease-in-out;
  }

  .header-contents-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .heaer-contents-container.active .heaer-container-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .heaer-contents-container {
    gap: 18px;
  }

  #language-select {
    padding: 6px 12px;
  }

  /* ----- Footer ----- */
  .footer-content-wrapper {
    gap: 42px;
  }

  .footer-content-container {
    width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */
  .header-link-wrapper {
    display: none;
  }

  .responsive-link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heaer-container-wrapper {
    flex-direction: column;
  }

  .header-sign-up {
    border: none;
  }

  .header-contents .header-link:hover {
    color: var(--yellow-400);

    &::after {
      width: 100%;
    }
  }

  /* ----- Footer ----- */
  .copy-rights-tag {
    margin-top: 30px;
  }

  .footer-content-wrapper {
    gap: 18px 36px;
  }
}
