/* ----- Start @media (max-width: 1142px) ----- */
@media (max-width: 1142px) {
  /* ----- Services section ----- */
  .destinations-card-container:hover .destinations-decore-media {
    transform: translate(16px, -47px);
  }
}
/* ----- End @media (max-width: 1142px) ----- */

/* ----- Start @media (max-width: 1090px) ----- */
@media (max-width: 1090px) {
  /* ----- Testimonials section ----- */
  .testimonials-splide {
    width: 80%;
  }

  .testimonials-splide .splide__pagination--ttb {
    left: -300px;
    top: 155px;
  }
}
/* ----- End @media (max-width: 1090px) ----- */

/* ----- Start @media (max-width: 1023px) ----- */
@media (max-width: 1023px) {
  /* ----- Header ----- */
  .header-contents-wrapper {
    gap: 22px;
  }

  .header-contents {
    gap: 8px;
  }

  /* ----- Footer ----- */
  .footer-gradient {
    bottom: -410px;
    right: -270px;
  }

  /* ----- Hero section ----- */
  .hero-gradient {
    top: -230px;
    left: -384px;
  }

  .hero-content-title span::before {
    bottom: 6px;
  }

  .hero-media-bg-layer {
    max-width: 618px;
  }
  /* ----- Services section ----- */
  .services-decore-media {
    max-width: 112px;
  }

  /* ----- Destinations section ----- */
  .destinations-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 20px;
  }

  .destinations-card-container:hover .destinations-decore-media {
    transform: translate(40px, -47px);
  }
}
/* ----- End @media (max-width: 1023px) ----- */

/* ----- Start @media (max-width: 991px) ----- */
@media (max-width: 991px) {
  /* ----- Header ----- */
  .header-toggle-wrapper {
    display: block;
  }

  .heaer-container-wrapper {
    width: 100%;
    max-height: 216px;
    overflow: auto;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    padding: 20px;
    margin-top: 2px;
    visibility: hidden;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px 0px;
    transform: translateY(28px);
    transition: all 0.3s ease-in-out;
  }

  .header-contents-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .heaer-contents-container.active .heaer-container-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .heaer-contents-container {
    gap: 18px;
  }

  #language-select {
    padding: 6px 12px;
  }

  /* ----- Footer ----- */
  .footer {
    padding: 56px 0;
  }

  .footer-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .footer-logo {
    max-width: 112px;
    margin-bottom: 10px;
  }

  .footer-container,
  .footer-media {
    max-width: 100%;
  }

  .footer-gradient {
    bottom: -160px;
    right: -60px;
  }

  /* ----- Hero section ----- */
  .hero-gradient {
    top: -100px;
    left: -100px;
  }

  .hero-media-wrapper {
    display: flex;
  }

  .hero-media {
    max-width: 434px;
    flex-shrink: 0;
    margin-left: -64px;
  }

  .hero-content-tag {
    font-size: 18px;
  }

  .hero-content-title {
    margin-top: 20px;
    margin-bottom: 24px;
  }

  /* ----- Services section ----- */
  .services-card {
    box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 4.15px 6.52px 0px #00000002,
      0px 6px 16px 0px #00000003, 0px 18.52px 12.48px 0px #00000003,
      0px 30.81px 20.85px 0px #00000004, 0px 16px 32px 0px #00000005;
  }

  .services-cards-wrapper {
    margin-top: 46px;
  }

  .services-card {
    padding: 35px;
  }

  /* ----- Two column section ----- */
  .two-column-contents {
    width: 40%;
  }

  .two-column-media-wrapper {
    width: 60%;
  }

  .tc-contents-lists-wrapper {
    gap: 20px;
  }

  .tc-lists-wrapper {
    gap: 18px;
  }

  .two-column-media-bg {
    max-width: 290px;
    top: 74px;
    right: 200px;
  }

  /* ----- Travel agency section ----- */
  .travel-agency-splide::before,
  .travel-agency-splide::after {
    width: 140px;
    height: 80px;
  }

  .agency-media {
    min-height: 60px;
  }

  .agency-media img {
    max-width: 135px;
  }

  /* ----- Cta section ----- */
  .email-input {
    padding: 20px;
    padding-left: 48px;
  }

  .input-icon svg {
    top: 20px;
    left: 18px;
  }

  /* ----- Testimonials section ----- */
  .testimonials-wrapper {
    flex-direction: column;
  }

  .testimonials-heading,
  .testimonials-splide {
    width: 100%;
    max-width: 100%;
  }

  .testimonials-heading {
    text-align: center;
    padding-bottom: 50px;
  }

  .testimonials-splide .splide__pagination--ttb {
    top: auto;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%) rotate(-90deg);
  }

  .testimonials-splide .splide__arrows {
    right: 80px;
  }
}
/* ----- End @media (max-width: 991px) ----- */

/* ----- Start @media (max-width: 767px) ----- */
@media (max-width: 767px) {
  /* ----- Header ----- */
  .header {
    padding: 22px 0;
  }

  /* ----- Footer ----- */
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-content-wrapper,
  .footet-social-midea {
    max-width: 100%;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-bottom: 56px;
  }

  .hero-wrapper {
    flex-direction: column-reverse;
  }

  .hero-content-container,
  .hero-media-wrapper {
    width: 100%;
  }

  .hero-media-wrapper {
    justify-content: center;
  }

  .hero-media {
    max-width: 528px;
    margin-left: 0;
    flex-shrink: 1;
  }

  .hero-content-container,
  .hero-content-dec {
    max-width: 100%;
  }

  .hero-content-title span::before {
    width: 170%;
    left: -22px;
    bottom: 0px;
  }

  .hero-content-title {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  /* ----- Services section ----- */
  .services-section {
    padding: 56px 0;
  }

  .services-cards-wrapper {
    gap: 50px 38px;
  }

  .services-card {
    padding: 46px 35px;
  }

  .services-decore-media {
    max-width: 92px;
    z-index: -1;
  }

  /* ----- Destinations section ----- */
  .destinations-section {
    padding: 56px 0;
  }

  .destinations-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 38px;
  }

  /* ----- Two column section ----- */
  .two-column-wrapper {
    flex-direction: column;
  }

  .two-column-contents,
  .two-column-media-wrapper {
    width: 100%;
  }

  .two-column-title,
  .tc-contents-lists-wrapper {
    max-width: 100%;
  }

  .two-column-media-wrapper {
    display: flex;
    justify-content: center;
  }

  .two-column-section {
    padding: 56px 0;
  }

  .tc-contents-lists-wrapper {
    margin-top: 24px;
  }

  .two-column-media-bg {
    max-width: 250px;
    right: 100px;
  }

  /* ----- Travel agency section ----- */
  .travel-agency-wrapper {
    min-height: 130px;
  }

  .travel-agency-list {
    max-width: 200px;
  }

  .agency-media {
    max-width: 138px;
  }

  .agency-media,
  .agency-media img {
    max-width: 100%;
  }

  .agency-media:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .agency-media {
    padding: 10px;
  }

  /* ----- Cta section ----- */
  .cta-section {
    padding: 56px 0;
  }

  .cta-container {
    border-radius: 80px 20px 20px;
  }

  .cta-title {
    margin-bottom: 52px;
  }

  .cta-left-decore-media {
    width: 290px;
  }

  .cta-right-decore-media {
    width: 160px;
  }

  .cta-right-decore-tag {
    width: 50px;
    height: 50px;
  }

  .input-icon {
    width: 58%;
  }

  .email-input {
    padding: 14px;
    padding-left: 48px;
  }

  .input-icon svg {
    top: 14px;
    left: 16px;
  }

  .cta-right-decore-tag svg {
    width: 32px;
    height: 32px;
  }

  .cta-bottom-decore-media {
    display: none;
  }

  /* ----- Testimonials section ----- */
  .testimonials-section {
    padding: 56px 0;
  }

  .testimonials-splide .splide__arrows {
    right: 20px;
  }

  .testimonials-heading {
    padding-bottom: 40px;
  }

  .testimonials-content-container {
    margin: 32px;
  }

  .testimonials-media {
    width: 58px;
    height: 58px;
  }

  .testimonials-container {
    padding: 24px 28px;
  }
}
/* ----- End @media (max-width: 767px) ----- */

/* ----- Start @media (max-width: 575px) ----- */
@media (max-width: 575px) {
  /* ----- Header ----- */
  .header {
    padding: 22px 0;
  }

  .header-logo {
    max-width: 96px;
  }

  .header-link-wrapper {
    display: none;
  }

  .responsive-link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heaer-container-wrapper {
    max-height: 302px;
    flex-direction: column;
  }

  .header-sign-up {
    border: none;
  }

  .header-contents .header-link:hover {
    color: var(--yellow-200);

    &::after {
      width: 100%;
    }
  }

  .nice-select .list {
    width: 110px;
    margin-top: 8px;
  }

  /* ----- Footer ----- */
  .footer-logo {
    max-width: 100px;
  }

  .copy-rights-tag {
    margin-top: 30px;
  }

  .footer-content-wrapper {
    gap: 18px 36px;
    flex-wrap: wrap;
  }

  /* ----- Hero section ----- */
  .hero-gradient {
    top: -42px;
    left: 40px;
  }

  .hero-content-tag {
    font-size: 16px;
  }

  .hero-content-title {
    margin: 14px 0 18px;
  }

  .hero-content-dec {
    margin-bottom: 28px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    margin-top: 38px;
  }

  .services-card {
    max-width: 100%;
    border-radius: 18px;
    padding: 36px 28px;
  }

  .services-card-dec {
    max-width: 100%;
  }

  .services-card::after {
    width: 86px;
    bottom: -30px;
    left: -30px;
  }

  /* ----- Two column section ----- */
  .two-column-wrapper {
    gap: 40px;
  }

  .two-column-media-bg {
    top: 118px;
    height: 118px;
  }

  .tc-lists-wrapper {
    gap: 14px;
  }

  .tc-contents-lists-icon {
    width: 44px;
    height: 44px;
  }

  .tc-contents-lists-icon img {
    width: 18px;
    height: 18px;
  }

  /* ----- Travel agency section ----- */
  .travel-agency-splide::before,
  .travel-agency-splide::after {
    width: 80px;
  }

  .travel-agency-wrapper {
    min-height: 100px;
  }

  .agency-media {
    min-height: 40px;
  }

  /* ----- Cta section ----- */
  .cta-container {
    padding: 46px 30px;
  }

  .cta-left-decore-media {
    width: 220px;
  }

  .cta-right-decore-media {
    width: 130px;
  }

  .cta-title {
    margin-bottom: 38px;
  }

  .form-wrapper {
    flex-direction: column;
    align-items: end;
    gap: 16px;
  }

  .input-icon {
    width: 100%;
  }

  .email-input,
  .cta-bottom-decore-media {
    max-width: 100%;
  }

  .form-btn {
    width: 100%;
    justify-content: center;
  }

  /* ----- Testimonials section ----- */
  .testimonials-splide .splide__arrows {
    top: -38px;
  }

  .testimonials-splide .splide__arrows--ttb .splide__arrow--prev {
    bottom: 10px;
  }

  .testimonials-splide .splide__arrows--ttb .splide__arrow--next {
    top: 10px;
  }

  .testimonials-splide .splide__arrows {
    right: 35px;
  }

  .testimonials-content-container.is-active .testimonials-container {
    box-shadow: 0px 1.85px 2px 0px #00000001, 0px 4px 4px 0px #00000002,
      0px 16px 10px 0px #00000003, 0px 34px 22px 0px #00000003,
      0px 24px 38px 0px #00000004, 0px 20px 40px 0px #00000005;
  }
}
/* ----- End @media (max-width: 575px) ----- */

/* ----- Start @media (max-width: 424px) ----- */
@media (max-width: 424px) {
  /* ----- Footer ----- */
  .footer-wrapper {
    gap: 24px;
  }

  .footer-content-wrapper {
    gap: 18px 22px;
  }

  .footer-link-container {
    max-width: 45%;
    width: 100%;
  }

  .footet-midea-dec {
    margin-top: 18px;
  }

  .social-midea-platforms {
    gap: 12px;
  }
  /* ----- Destinations section ----- */
  .destinations-decore-media {
    display: none;
  }

  /* ----- Two column section ----- */
  .two-column-media-bg {
    max-width: 160px;
    height: 120px;
    right: 50px;
  }

  .travel-agency-list {
    min-width: 136px;
  }

  /* ----- Cta section ----- */
  .form-wrapper {
    gap: 18px;
  }
  /* ----- Testimonials section ----- */
  .testimonials-media {
    width: 52px;
    height: 52px;
  }
}
/* ----- End @media (max-width: 424px) ----- */
