/* ----- Header ----- */
.header {
  padding: 28px 0;
  /* background-color: var(--white); */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.header.active {
  border-color: var(--grey-600);
}

.hiddden-overflow {
  overflow: hidden;
}

.header-wrapper,
.heaer-contents-container,
.heaer-container-wrapper,
.header-contents,
#language-select {
  display: flex;
  align-items: center;
}

.header-wrapper {
  justify-content: space-between;
}

.header-logo {
  max-width: 116px;
  max-height: 34px;
}

.heaer-contents-container {
  gap: 42px;
}

.header-contents {
  gap: 16px;
}

.header-link {
  flex-direction: column;
  color: var(--grey-600);
  font-family: var(--font-google-sans);
  padding: 8px 16px;
  text-transform: capitalize;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.header-link::after,
.responsive-link-wrapper .header-sign-up::after {
  content: "";
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
  background: var(--yellow-200);
}

.header-contents :not(.header-sign-up).header-link:hover {
  color: var(--yellow-200);

  &::after {
    width: 100%;
  }
}

.header-link-wrapper {
  font-weight: 500;
}

.header-sign-up {
  border-color: var(--grey-600);
  position: relative;
  overflow: hidden;
}

.header-sign-up,
.header-sign-up::after {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
  .header-sign-up::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--yellow-200);
  }

  .header-sign-up:hover {
    color: var(--white);
    border-color: var(--yellow-200);

    &::after {
      width: 100%;
    }
  }
}

#language-select {
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 8px 16px;
  font-family: var(--font-google-sans);
  position: relative;
  text-transform: uppercase;
}

#language-select::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23212832" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>');
  width: 10px;
  height: 4.5px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--grey-600);
  background: var(--grey-600);
}

.responsive-link-wrapper {
  display: none;
}

.header-toggle-wrapper {
  display: none;
}

.header-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar {
  width: 24px;
  height: 4px;
  border-radius: 12px;
  background: var(--grey-600);
  transition: all 0.3s ease-in-out;
}

.header-toggle.active .bar:nth-child(1) {
  transform: translate(0px, 8px) rotate(45deg);
}

.header-toggle.active .bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.header-toggle.active .bar:nth-child(3) {
  transform: translate(0px, -8px) rotate(-45deg);
}

/* ----- Footer ----- */
.footer {
  margin-top: auto;
  padding: 50px 0;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.footer-media {
  max-width: 208px;
  width: 100%;
}

.footer-logo {
  max-width: 152px;
  margin-bottom: 20px;
}

.footer-dec {
  color: var(--secondary-color);
  font-size: 12px;
}

.footer-container {
  max-width: 894px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-content-wrapper {
  max-width: 439px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-link-container {
  text-transform: capitalize;
}

.footer-link-tag {
  color: var(--gray-300);
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  max-width: max-content;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--yellow-200);
}

.footer-link:not(:last-child) {
  margin-bottom: 12px;
}

.footet-social-midea {
  max-width: 333px;
  width: 100%;
}

.footet-icon-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.footet-midea-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.footet-midea-icon,
.footet-midea-icon svg,
.footet-midea-icon::after {
  transition: all 0.3s ease-in-out;
}

.footet-midea-icon svg {
  width: 18px;
  height: 18px;
  z-index: 2;
  color: var(--gray-300);
}

.footet-midea-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background-image: var(--icon-bg);
}

.footet-midea-icon:hover {
  color: var(--white);

  svg {
    color: var(--white);
  }

  &::after {
    opacity: 1;
  }
}

.footet-midea-dec {
  font-weight: 400;
  color: var(--secondary-color);
  margin-top: 22px;
}

.social-midea-platform {
  background-color: var(--gray-300);
  border-radius: 38px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-midea-platforms {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.social-midea-icon {
  display: flex;
}

.social-midea-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.social-midea-content {
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.2;
}

.social-midea-title {
  font-size: 14px;
  font-weight: 600;
}

.social-midea-dec {
  font-size: 14px;
  font-weight: 100;
}

.ios-social-midea .social-midea-content {
  text-transform: inherit;
}

.ios-icon-dec {
  font-size: 10px;
  font-weight: 500;
}

.ios-icon-title {
  font-size: 16px;
  text-transform: capitalize;
}

.copy-rights-tag {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 50px;
}

.copy-rights-link {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.copy-rights-link:hover {
  color: var(--yellow-200);
}

/* ----- Hero section ----- */
.hero-section {
  padding: 50px 0;
  position: relative;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-content-container,
.hero-media-wrapper {
  width: 50%;
}

.hero-content-container {
  max-width: 545px;
}

.hero-content-tag {
  text-transform: uppercase;
  color: var(--orange-100);
}

.hero-content-title {
  color: var(--gray-500);
  font-family: var(--font-volkhov);
  margin-top: 24px;
  margin-bottom: 30px;
  letter-spacing: -4px;
}

.hero-content-title span {
  position: relative;
}

.hero-content-title span::before {
  content: "";
  width: 180%;
  height: 12px;
  background-image: url(../image/text-decore.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 16px;
  left: -35px;
  z-index: -1;
}

.hero-content-dec {
  max-width: 470px;
  color: var(--secondary-color);
  line-height: var(--line-height-1_8);
  margin-bottom: 34px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-find-btn {
  color: var(--white);
  background-color: var(--yellow-200);
  box-shadow: 0 20px 35px 0 #f1a50126;
}

.hero-play-btn {
  display: flex;
  align-items: center;
  color: var(--gray-100);
  gap: 16px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hero-play-btn:hover {
  color: var(--orange-100);
}

.hero-play-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--orange-100);
  color: var(--white);
  box-shadow: 0 15px 30px 0 #df69514d;
}

.hero-play-icon svg {
  position: absolute;
  top: 19px;
  left: 21px;
}

.hero-media {
  width: 100%;
  height: auto;
  /* max-width: 760px; */
  max-width: 50%;
  position: absolute;
  top: 0;
  right: 11%;
  z-index: -1;
}

.hero-media-sticker {
  width: 100%;
  height: auto;
  /* max-width: 766px; */
  max-width: 50%;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -2;
}

.btn span {
  z-index: 4;
}
