/* ----- Header ----- */
.header {
  padding: 28px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.header.header-bg,
.header-scroll {
  background-color: var(--white);
}

.header.header-bg {
  border-color: var(--grey-600);
}

.header-scroll {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hiddden-overflow {
  overflow: hidden;
}

.header-wrapper,
.heaer-contents-container,
.heaer-container-wrapper,
.header-contents,
#language-select {
  display: flex;
  align-items: center;
}

.header-wrapper {
  justify-content: space-between;
}

.header-logo {
  max-width: 116px;
  max-height: 34px;
}

.heaer-contents-container {
  gap: 42px;
}

.header-contents {
  gap: 16px;
}

.header-link {
  flex-direction: column;
  color: var(--grey-600);
  font-family: var(--font-google-sans);
  padding: 8px 16px;
  text-transform: capitalize;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.header-link::after,
.responsive-link-wrapper .header-sign-up::after {
  content: "";
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
  background: var(--yellow-200);
}

.header-contents :not(.header-sign-up).header-link:hover {
  color: var(--yellow-200);

  &::after {
    width: 100%;
  }
}

.header-link-wrapper {
  font-weight: 500;
}

.header-sign-up {
  border-color: var(--grey-600);
  position: relative;
  overflow: hidden;
}

.header-sign-up,
.header-sign-up::after {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
  .header-sign-up::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--yellow-200);
  }

  .header-sign-up:hover {
    color: var(--white);
    border-color: var(--yellow-200);

    &::after {
      width: 100%;
    }
  }
}

#language-select {
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 8px 16px;
  font-family: var(--font-google-sans);
  position: relative;
  text-transform: uppercase;
}

#language-select::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23212832" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>');
  width: 10px;
  height: 4.5px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--grey-600);
  background: var(--grey-600);
}

.responsive-link-wrapper {
  display: none;
}

.header-toggle-wrapper {
  display: none;
}

.header-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar {
  width: 24px;
  height: 4px;
  border-radius: 12px;
  background: var(--grey-600);
  transition: all 0.3s ease-in-out;
}

.header-toggle.active .bar:nth-child(1) {
  transform: translate(0px, 8px) rotate(45deg);
}

.header-toggle.active .bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.header-toggle.active .bar:nth-child(3) {
  transform: translate(0px, -8px) rotate(-45deg);
}

/* ----- Footer ----- */
.footer {
  margin-top: auto;
  padding: 86px 0;
  position: relative;
  overflow: hidden;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.footer-media {
  max-width: 208px;
  width: 100%;
}

.footer-logo {
  max-width: 152px;
  margin-bottom: 20px;
}

.footer-dec {
  color: var(--secondary-color);
  font-size: 12px;
}

.footer-container {
  max-width: 894px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-content-wrapper {
  max-width: 439px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-link-container {
  text-transform: capitalize;
}

.footer-link-tag {
  color: var(--gray-300);
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  max-width: max-content;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--yellow-200);
}

.footer-link:not(:last-child) {
  margin-bottom: 12px;
}

.footet-social-midea {
  max-width: 333px;
  width: 100%;
}

.footet-icon-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.footet-midea-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.footet-midea-icon,
.footet-midea-icon svg,
.footet-midea-icon::after {
  transition: all 0.3s ease-in-out;
}

.footet-midea-icon svg {
  width: 18px;
  height: 18px;
  z-index: 2;
  color: var(--gray-300);
}

.footet-midea-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background-image: var(--icon-bg);
}

.footet-midea-icon:hover {
  color: var(--white);

  svg {
    color: var(--white);
  }

  &::after {
    opacity: 1;
  }
}

.footet-midea-dec {
  font-weight: 400;
  color: var(--secondary-color);
  margin-top: 22px;
}

.social-midea-platform {
  background-color: var(--gray-300);
  border-radius: 38px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-midea-platforms {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.social-midea-icon {
  display: flex;
}

.social-midea-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.social-midea-content {
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.2;
}

.social-midea-title {
  font-size: 14px;
  font-weight: 600;
}

.social-midea-dec {
  font-size: 14px;
  font-weight: 100;
}

.ios-social-midea .social-midea-content {
  text-transform: inherit;
}

.ios-icon-dec {
  font-size: 10px;
  font-weight: 500;
}

.ios-icon-title {
  font-size: 16px;
  text-transform: capitalize;
}

.copy-rights-tag {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 50px;
}

.copy-rights-link {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.copy-rights-link:hover {
  color: var(--yellow-200);
}

.footer-gradient {
  position: absolute;
  bottom: -530px;
  right: -340px;
  z-index: -1;
  opacity: 80%;
}

/* ----- Hero section ----- */
.hero-section {
  padding-bottom: 86px;
  position: relative;
}

.hero-gradient {
  position: absolute;
  top: -140px;
  left: -430px;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero-content-container,
.hero-media-wrapper {
  width: 50%;
}

.hero-content-container {
  max-width: 580px;
}

.hero-content-tag {
  text-transform: uppercase;
  color: var(--orange-100);
}

.hero-content-title {
  color: var(--gray-500);
  font-family: var(--font-volkhov);
  margin-top: 24px;
  margin-bottom: 30px;
  letter-spacing: -0.64px;
}

.hero-content-title span {
  position: relative;
}

.hero-content-title span::before {
  content: "";
  width: 180%;
  height: 12px;
  background-image: url(../image/text-decore.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 16px;
  left: -35px;
  z-index: -1;
}

.hero-content-dec {
  max-width: 470px;
  color: var(--secondary-color);
  line-height: var(--line-height-1_8);
  margin-bottom: 34px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-find-btn {
  color: var(--white);
  background-color: var(--yellow-200);
  overflow: hidden;
  box-shadow: 0 20px 35px 0 #f1a50126;
}

.hero-play-btn {
  display: flex;
  align-items: center;
  color: var(--gray-100);
  gap: 16px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hero-play-btn:hover {
  color: var(--orange-100);
}

.hero-play-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--orange-100);
  color: var(--white);
  box-shadow: 0 15px 30px 0 #df69514d;
}

.hero-play-icon svg {
  position: absolute;
  top: 19px;
  left: 21px;
}

.hero-media {
  max-width: 765px;
  aspect-ratio: 1;
  margin-left: -145px;
}

.hero-media-bg-layer {
  width: 100%;
  max-width: 766px;
  aspect-ratio: 1;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -2;
}

.btn span {
  z-index: 4;
}

/* ----- Services section ----- */
.services-section {
  padding: 86px 0;
}

.services-heading {
  text-align: center;
  position: relative;
}

.services-heading-tag {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.services-heading-title {
  font-family: var(--font-volkhov);
  text-transform: capitalize;
  color: var(--primary-color);
  margin-top: 10px;
}

.services-decore-media {
  width: 100%;
  max-width: 153px;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.services-cards-wrapper {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  gap: 38px;
  flex-wrap: wrap;
}

.services-card {
  max-width: 264px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 42px;
  background-color: var(--white);
  position: relative;
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002,
    0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003,
    0px 64.81px 46.85px 0px #00000004, 0px 100px 80px 0px #00000005;
  transition: all 0.3s ease-in-out;
}

.services-card::after {
  content: "";
  width: 100px;
  aspect-ratio: 1;
  background-color: var(--orange-100);
  border-radius: 30px 0 10px 0;
  position: absolute;
  bottom: -33px;
  left: -33px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: translate(-12px, 12px);
  transition: all 0.3s ease-in-out;
}

.services-card:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.services-card-media {
  width: 100%;
  max-width: 92px;
}

.services-card-media img {
  max-width: 78px;
  aspect-ratio: 1;
  object-fit: contain;
}

.services-card-titel {
  margin: 20px 0 15px;
  color: var(--gray-200);
  font-family: var(--font-open-sans);
  flex-grow: 1;
}

.services-card-dec {
  max-width: 181px;
  color: var(--secondary-color);
  line-height: var(--line-height-1_6);
}

.flights-card img {
  max-width: 100px;
}

/* ----- Destinations section ----- */
.destinations-section {
  padding: 86px 0;
}

.destinations-heading {
  text-align: center;
}

.destinations-tag {
  color: var(--secondary-color);
  text-transform: capitalize;
}

.destinations-title {
  font-family: var(--font-volkhov);
  color: var(--primary-color);
  margin-top: 8px;
}

.destinations-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 60px;
}

.destinations-card-container {
  width: 100%;
  max-width: 324px;
  position: relative;
  margin: 0 auto;
}

.destinations-decore-media {
  width: 100%;
  max-width: 96px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(-10px, -47px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.destinations-card-container:hover .destinations-decore-media {
  opacity: 1;
  visibility: visible;
  transform: translate(40px, -47px);
}

.destinations-card {
  width: 100%;
  max-width: 314px;
  min-height: 457px;
  position: relative;
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002,
    0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003,
    0px 64.81px 46.85px 0px #00000004, 0px 100px 80px 0px #00000005;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.destinations-card-media {
  width: 100%;
  height: 430px;
}

.destinations-card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  padding: 27px 20px;
}

.destinations-content {
  justify-content: space-between;
  color: var(--secondary-color);
}

.destinations-name,
.destinations-price {
  font-weight: 400;
}

.destinations-content,
.destinations-day {
  display: flex;
  align-items: center;
}

.destinations-day {
  margin-top: 19px;
  gap: 14px;
}

.destinations-day svg {
  color: var(--gray-300);
}

.destinations-day span {
  color: var(--secondary-color);
}

/* ----- Two column section ----- */
.two-column-section {
  padding: 68px 0;
}

.two-column-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
}

.two-column-contents {
  width: 50%;
}

.two-column-tag {
  color: var(--secondary-color);
}

.two-column-title {
  max-width: 512px;
  font-family: var(--font-volkhov);
  text-transform: capitalize;
  margin-top: 15px;
}

.tc-contents-lists-wrapper {
  max-width: 395px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 32px;
}

.tc-lists-wrapper {
  display: flex;
  align-items: center;
  gap: 21px;
}

.tc-contents-lists-icon {
  width: 48px;
  height: 48px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.yellow {
  background-color: var(--yellow-100);
}

.orange {
  background-color: var(--orange-200);
}

.steelblue {
  background-color: var(--steelblue);
}

.tc-contents-lists-icon img {
  width: 22px;
  height: 22px;
}

.tc-lists-contents-tag {
  font-weight: 700;
  color: var(--secondary-color);
}

.tc-lists-contents-tag,
.tc-lists-contents-dec {
  color: var(--secondary-color);
}

.tc-lists-contents-dec {
  font-weight: 300;
  line-height: 1.4;
}

.two-column-media-wrapper {
  width: 50%;
  position: relative;
}

.two-column-media img {
  max-width: 480px;
}

.two-column-media-bg {
  width: 100%;
  max-width: 354px;
  height: 138px;
  background: var(--deepskyblue);
  filter: blur(150px);
  opacity: 80%;
  position: absolute;
  top: 56px;
  right: -10px;
  z-index: -1;
}

/* ----- Testimonials section ----- */
.testimonials-section {
  padding: 86px 0;
  overflow: hidden;
}

.testimonials-wrapper {
  display: flex;
  align-items: start;
  gap: 40px;
}

.testimonials-heading {
  width: 40%;
  max-width: 409px;
  padding: 10px;
}

.testimonials-tag {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--secondary-color);
}

.testimonials-title {
  font-family: var(--font-volkhov);
  color: var(--primary-color);
  margin-top: 8px;
  text-transform: capitalize;
}

.testimonials-splide {
  width: 60%;
  max-width: 669px;
}

.testimonials-content-wrapper {
  position: relative;
}

.testimonials-content-container {
  max-width: 541px;
  margin: 32px auto;
  position: relative;
}

.testimonials-content-container.is-active .testimonials-container {
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002,
    0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003,
    0px 64.81px 46.85px 0px #00000004, 0px 100px 80px 0px #00000005;
}

.testimonials-container {
  max-width: 504px;
  background-color: var(--white);
  position: relative;
  border-radius: 10px;
  padding: 28px 34px;
  transition: all 0.2s ease-in-out;
}

.testimonials-media {
  width: 68px;
  height: 68px;
  border-radius: 35px;
  overflow: hidden;
  position: absolute;
  top: -28px;
  left: -28px;
}

.testimonials-content-dec {
  color: var(--secondary-color);
  margin-bottom: 34px;
}

.testimonials-user-name {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.testimonials-user-loc {
  color: var(--gray-50);
  font-size: 14px;
}

.testimonials-splide .splide__pagination--ttb {
  right: auto;
  left: -390px;
  top: 80px;
  transform: rotate(-90deg);
  gap: 8px;
}

.testimonials-splide .splide__pagination__page {
  width: 12px;
  height: 12px;
  margin: 0;
  background: var(--gainsboro);
}

.testimonials-splide .splide__pagination__page.is-active {
  background: var(--darkslategray);
  transform: scale(1);
  opacity: 1;
}

.testimonials-splide .splide__arrows {
  position: absolute;
  top: 125px;
  right: 28px;
}

.testimonials-splide .splide__arrows--ttb .splide__arrow {
  left: auto;
  transform: translate(0);
}

.testimonials-splide .splide__arrows--ttb .splide__arrow--prev {
  top: auto;
  bottom: 12px;
}

.testimonials-splide .splide__arrows--ttb .splide__arrow--next {
  bottom: auto;
  top: 12px;
  right: auto;
  transform: rotate(180deg);
}

.testimonials-splide .splide__arrow {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.testimonials-splide .splide__arrow svg {
  display: none;
}

.testimonials-splide .splide__arrow::after {
  content: url('data:image/svg+xml,<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.41431L8 1.41431L15 8.41431" stroke="currentColor" stroke-width="2" stroke-linecap="round"/></svg>');
  width: 14px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--silver);
  transition: all 0.3s ease-in-out;
}

.testimonials-splide .splide__arrow:hover {
  color: var(--darkslateblue);
}

/* ----- Travel agency section ----- */
.travel-agency-section {
  padding: 50px 0;
}

.splide {
  visibility: visible;
}

.travel-agency-splide {
  display: flex;
  align-items: center;
}

.travel-agency-splide::before,
.travel-agency-splide::after {
  content: "";
  width: 160px;
  height: 100px;
  background: var(--white-gradient);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 2;
}

.travel-agency-splide::before {
  left: 0;
}

.travel-agency-splide::after {
  right: 0;
  transform: translatey(-50%) rotate(180deg);
}

.travel-agency-wrapper {
  height: 100%;
  min-height: 200px;
  align-items: center;
  justify-content: space-between;
}

.travel-agency-list {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agency-media {
  width: 100%;
  height: 100%;
  max-width: 212px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 12px 24px;
  filter: grayscale(1);
  cursor: pointer;
}

.agency-media,
.agency-media img {
  transition: all 0.3s ease-in-out;
}

.agency-media img {
  max-width: 164px;
}

.agency-media:hover {
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002,
    0px 18px 13px 0px #00000003, 0px 28.52px 25.48px 0px #00000003,
    0px 23.81px 46.85px 0px #00000004, 0px 40px 70px 0px #00000005;
  filter: grayscale(0);
}

/* ----- Cta section ----- */
.cta-section {
  padding: 86px 0;
  overflow: hidden;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 79px 40px;
  background-color: var(--lavender);
  border-radius: 129px 20px 20px;
  position: relative;
}

.cta-left-decore-media {
  position: absolute;
  left: 18px;
  bottom: 0;
}

.cta-left-decore-media,
.cta-right-decore-media {
  opacity: 10%;
}

.cta-right-decore-media {
  position: absolute;
  top: 0;
  right: 0;
}

.cta-right-decore-tag {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--blue-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -16px;
  right: -18px;
}

.cta-title {
  max-width: 881px;
  color: var(--secondary-color);
  margin-bottom: 74px;
  line-height: var(--line-height-1_6);
}

.form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.input-icon {
  width: 38%;
  position: relative;
}

.email-input {
  width: 100%;
  max-width: 421px;
  font-size: 14px;
  font-family: var(--font-montserrat);
  padding: 25px;
  padding-left: 60px;
  color: var(--darkslategray);
  border: none;
  border-radius: 10px;
}

.email-input:focus {
  outline-color: var(--orange-100);
}

.input-icon svg {
  position: absolute;
  top: 25px;
  left: 28px;
}

.form-btn {
  background: var(--orange-gradient);
  color: var(--white);
  border: none;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
}

.form-btn span {
  z-index: 4;
}

.cta-bottom-decore-media {
  width: 100%;
  max-width: 153px;
  aspect-ratio: 1;
  position: absolute;
  bottom: -52px;
  right: -96px;
}
