:root {
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  common css */
.container {
  max-width: 1280px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.nav-media {
  width: 106px;
  height: 27px;
}

.nav-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  position: sticky;
  z-index: 999;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  font-size: 15px;
  /* color: var(--white); */
  color: #000000;
  display: inline-block;
  text-decoration: none;
}

.nav-right-icons {
  display: flex;
  gap: 15px;
}

.nav-icon {
  width: 34px;
  height: 34px;
  color: var(--white);
  cursor: pointer;
}

.header-conteint-conteiner {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.8);
  margin-inline: auto;
  margin-top: 230px;
}

.header-conteint {
  color: var(--black);
  padding: 50px 60px;
  text-align: center;
}

.header-conteint h1 {
  font-size: 30px;
  font-weight: 300;
}

.header-conteint p {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}

.hero-section {
  height: 100%;
  background-image: url(../image/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
