* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-flex;
  font-size: 18px;
  cursor: pointer;
}

.btn {
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 8px;
}

.content-tag {
  margin-bottom: 40px;
  font-size: 30px;
}

/* ----- btn-hover-section ----- */
.btn-hover-section {
  padding: 40px 0;
}

.btn-wrapper {
  display: flex;
  text-align: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* ----- btn-1 ----- */
.btn-1 {
  color: gray;
  border-color: gray;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.btn-1::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -32px;
  left: 0;
  opacity: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  transition: all 0.3s ease-in-out;
}

.btn-1:hover,
.btn-1:hover::after {
  transform: translateY(-6px);
  opacity: 1;
}

/* ----- btn-2 ----- */
.btn-2 {
  border-color: pink;
  color: pink;
  box-shadow: 5px 5px 0 0 rgb(255, 143, 162);
  transition: all 0.3s ease-in-out;
}

.btn-2:hover {
  background-color: rgba(210, 54, 80, 0.858);
  color: white;
  box-shadow: -5px -5px 0 0 rgba(222, 68, 94, 0.581);
}

/* ----- btn-3 ----- */
.btn-3 {
  display: flex;
  align-items: center;
  background-color: rgba(23, 69, 176, 0.651);
  color: white;
  position: relative;
  overflow: hidden;
}

.btn-3,
.click-me-btn,
.hover-me-btn {
  transition: all 0.4s ease-in-out;
}

.click-me-btn {
  position: absolute;
  left: 0;
  transform: translateX(-74px);
  opacity: 0;
  visibility: hidden;
}

.btn-3:hover {
  transform: translateY(-8px);

  .click-me-btn {
    transform: translateX(25px);
    opacity: 1;
    visibility: visible;
  }

  .hover-me-btn {
    transform: translateX(104px);
    opacity: 0;
    visibility: hidden;
  }
}

/* ----- btn-4 ----- */
.btn-4 {
  align-items: center;
  border-color: rgb(0, 123, 255);
  color: #042568;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.btn-4::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: rgb(0, 123, 255);
  position: absolute;
  left: 0;
  z-index: -2;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in;
}

.btn-4:hover::before {
  left: 100%;
  transform: translate(-100%, -50%);
  background-color: white;
}

.btn-4:hover {
  background-color: rgb(0, 123, 255);
  color: white;
}

/* ----- btn-5 ----- */
.btn-5 {
  border-color: pink;
  color: pink;
  transition: all 0.3s ease-in-out;
}

.btn-5:hover {
  color: orange;
  /* background-color: rgb(158, 105, 7); */
  border-color: rgb(158, 105, 7);
  box-shadow: inset 70px 0 rgb(158, 105, 7), inset -70px 0 rgb(158, 105, 7);
}

/* ----- btn-6 ----- */
.btn-6 {
  border-color: rgb(0, 225, 255);
  color: rgb(0, 225, 255);
  transition: all 0.5s ease-in-out;
}

.btn-6:hover {
  box-shadow: inset 55px 25px rgb(5, 160, 181),
    inset -55px -25px rgb(5, 160, 181);
  color: white;
}

/* ----- btn-7 ----- */
.btn-7 {
  border-color: #f0e4d3;
  color: #d9a299;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn-7::before {
  content: "";
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #f0e4d3;
  transform: rotate(-136deg) translate(6px, -17px);
  transition: all 0.3s ease-in-out;
}

.btn-7:hover::before {
  width: 100%;
  transform: rotate(-180deg) translate(0, 0);
}

/* ----- btn-8 ----- */
.btn-8 {
  border-color: #fad59a;
  color: #e9a319;
  position: relative;
  overflow: hidden;
}

.btn-8::before {
  content: "";
  width: 20px;
  height: 100%;
  background-color: #fcefcb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-22px, 33px);
}

.btn-8:hover::before {
  animation-name: before-bg;
  animation-duration: 0.52s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes before-bg {
  10% {
    transform: translate(-100px, 33px);
  }

  20% {
    width: 100%;
    transform: translate(-80px, 33px);
  }

  30% {
    width: 100%;
    transform: translate(-60px, 33px);
  }

  40% {
    width: 100%;
    transform: translate(-40px, 33px);
  }

  50% {
    width: 100%;
    transform: translate(0, 33px);
  }

  100% {
    width: 100%;
    transform: translate(0, 0);
  }
}

/* ----- btn-9 ----- */
.btn-9 {
  height: 43px;
  flex-direction: column;
  align-items: center;
  border-color: #729762;
  color: #658147;
  position: relative;
  overflow: hidden;
}

.btn-9-second-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-60px);
  background-color: #729762;
  color: #e7f0dc;
  transition: transform 0.3s ease-in-out;
}

.btn-9::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #597445;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.btn-9:hover {
  .btn-9-second-child {
    transform: translateY(0);
  }
  &::before {
    transform: translateX(0);
  }
}
/* ----- btn-10 ----- */
.btn-10 {
  border-color: #62b6b7;
  color: #439a97;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn-10::before {
  content: "";
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #97dece;
  transform: rotate(220deg) translate(6px, -17px);
  transition: all 0.4s ease-in-out;
}

.btn-10:hover::before {
  width: 100%;
  transform: rotate(0) translate(-0);
}

/* ----- Loading section ----- */
.loading-section {
  padding: 40px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f2efe7;
}

.loading-container {
  display: flex;
  -webkit-perspective: 700px;
  /* perspective: 700px; */
  margin: 0 auto;
  gap: 6px;
}

.loading-container span {
  font-size: 98px;
  font-weight: 800;
  color: #48a6a7;
  animation-name: loader;
  animation-duration: 2.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 80%;
}

.loading-container span:nth-child(even) {
  color: #006a71;
}

@keyframes loader {
  35% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

.loading-container span:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-container span:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-container span:nth-child(4) {
  animation-delay: 0.9s;
}

.loading-container span:nth-child(5) {
  animation-delay: 1.2s;
}

.loading-container span:nth-child(6) {
  animation-delay: 1.5s;
}

.loading-container span:nth-child(7) {
  animation-delay: 1.8s;
}

@media (max-width: 767px) {
  .loading-container span {
    font-size: 68px;
  }
}

@media (max-width: 575px) {
  .loading-container span {
    font-size: 44px;
  }
}
