:root {
  --black: #000000;
  --white: #ffffff;
  --primary-color: #2f327d;
  --secondary-color: #f48c06;
  --orange-100: #f4b767;
  --orange-300: #ff9a7a;
  --skyblue-400: #65daff;
  --darkslateblue: #5c5f9d;
  --royalblue: #5b72ee;
  --mediumslateblue-100: #8c7aff;
  --mediumslateblue-400: #555bdc;
  --mediumslateblue-600: #3a40d0;
  --navy-blue-200: #252641;
  --darkslategray: #303439;
  --darkslategray-800: #113d49;
  --slategray: #626381;
  --dimgray: #6c6c6c;
  --lightslategray: #83839a;
  --lightsteelblue: #b2b3cf;
  --text-color: #696984;
  --silver: #c0c0c0;
  --oldlace: #fff3e4;
  --mediumspringgreen: #33ef9f;
  --salmon: #f56666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-heading {
  text-align: center;
}

.m-outo {
  margin-inline: auto;
}

ul,
ol {
  list-style-type: none;
}

.h1,
h1 {
  font-size: 54px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .h1,
  h1 {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1 {
    font-size: 30px;
  }
}

.h2,
h2 {
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .h2,
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .h2,
  h2 {
    font-size: 30px;
  }
}

.h3,
h3 {
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .h3,
  h3 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .h3,
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .h3,
  h3 {
    font-size: 24px;
  }
}

.h4,
h4 {
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .h4,
  h4 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .h4,
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .h4,
  h4 {
    font-size: 22px;
  }
}

.h5,
h5 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .h5,
  h5 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .h5,
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .h5,
  h5 {
    font-size: 18px;
  }
}

.h6,
h6 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .h6,
  h6 {
    font-size: 18px;
  }
}

.btn {
  border-radius: 36px;
  position: relative;
  z-index: 2;
}

.btn span {
  z-index: 4;
}

.btn-small {
  padding: 14px 52px;
}

.btn-big {
  padding: 24px 55px;
  font-size: 18px;
}
@media (max-width: 1279px) {
  .btn-big {
    padding: 16px 26px;
  }
}
@media (max-width: 575px) {
  .btn-big {
    padding: 12px 20px;
  }
}

.primary-btn {
  background-color: var(--secondary-color);
  color: var(--white);
}

.secondary-btn {
  background-color: var(--white);
}

.primary-hover-btn,
.primary-btn-v1,
.primary-btn-v2 {
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.primary-hover-btn:hover {
  box-shadow: inset 24px 44px rgb(0 0 0 / 10%),
    inset -24px -44px rgb(0 0 0 / 10%);
}

.primary-btn-v1:hover {
  box-shadow: inset 18px 30px rgb(204, 118, 6),
    inset -18px -30px rgb(204, 118, 6);
}

.primary-btn-v2:hover {
  box-shadow: inset 40px 38px rgb(204, 118, 6),
    inset -40px -38px rgb(204, 118, 6);
}

.title {
  color: var(--primary-color);
  margin-bottom: 24px;
  span {
    color: var(--secondary-color);
  }
}

.description {
  color: var(--text-color);
}

.two-columns-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
@media (max-width: 991px) {
  .two-columns-wrapper {
    flex-direction: column-reverse;
  }
}
