:root {
  --black: #000000;
  --white: #ffffff;
  --primary-color: #2f327d;
  --secondary-color: #f48c06;
  --skyblue-400: #65daff;
  --darkslateblue: #5c5f9d;
  --royalblue: #5b72ee;
  --mediumslateblue: #3a40d0;
  --navy-blue-200: #252641;
  --darkslategray: #303439;
  --darkslategray-800: #113d49;
  --slategray: #626381;
  --dimgray: #6c6c6c;
  --lightslategray: #83839a;
  --lightsteelblue: #b2b3cf;
  --text-color: #696984;
  --silver: #c0c0c0;
  --oldlace: #fff3e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1557px;
  margin: 0 auto;
  padding: 0 32px;
}

a {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
}

.h1,
h1 {
  font-size: 54px;
  font-weight: 600;
}

.h2,
h2 {
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .h2,
  h2 {
    font-size: 34px;
  }
}

.h3,
h3 {
  font-size: 36px;
  font-weight: 600;
}

.h4,
h4 {
  font-size: 28px;
  font-weight: 600;
}

.h5,
h5 {
  font-size: 24px;
  font-weight: 600;
}

.h6,
h6 {
  font-size: 20px;
  font-weight: 600;
}

.btn {
  border-radius: 36px;
}

.primary-hover-btn {
  position: relative;
  overflow: hidden;
}

.primary-hover-btn span {
  z-index: 4;
}

.primary-hover-btn::before {
  content: "";
  width: 100%;
  height: 0;
  background-color: rgb(0 0 0 / 10%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.primary-hover-btn:hover::before {
  height: 100%;
}

.btn-small {
  padding: 10px 28px;
}

.btn-big {
  padding: 16px 32px;
  font-size: 18px;
}

.primary-btn {
  background-color: var(--secondary-color);
  color: var(--white);
}

.secondary-btn {
  background-color: var(--white);
}

.title-tag {
  color: var(--primary-color);
  span {
    color: var(--secondary-color);
  }
}

.description {
  color: var(--text-color);
}
