:root {
  --black: #000000;
  --white: #ffffff;
  --lightslategray: #83839a;
  --primary: #2f327d;
  --primary-100: #5b72ee;
  --primary-200: #555bdc;
  --primary-300: #3a40d0;
  --primary-600: #8c7aff;
  --primary-750: #b2b3cf;
  --primary-800: #5c5f9d;
  --primary-850: #626381;
  --text-color: #696984;
  --primary-900: #252641;
  --primary-950: #2e327d;
  --secondary: #f48c06;
  --secondary-50: #f4c467;
  --secondary-100: #f4b767;
  --secondary-300: #ff9a7a;
  --skyblue-50: #cde0f9;
  --skyblue-100: #9fd7ff;
  --skyblue-400: #65daff;
  --skyblue-200: #23bdee;
  --skyblue-300: #1ea4ce;
  --skyblue-800: #113d49;
  --darkslategray: #303439;
  --dimgray: #6c6c6c;
  --silver: #c0c0c0;
  --oldlace: #fff3e4;
  --mediumspringgreen: #33ef9f;
  --salmon: #f56666;
  --palevioletred: #e86095;
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

.section-pd {
  padding-block: 78px;
}
@media (max-width: 1279px) {
  .section-pd {
    padding-block: 68px;
  }
}
@media (max-width: 991px) {
  .section-pd {
    padding-block: 58px;
  }
}
@media (max-width: 767px) {
  .section-pd {
    padding-block: 48px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-heading {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}

ul,
ol {
  list-style-type: none;
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 54px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 1279px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 30px;
  }
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 26px;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 24px;
  }
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 22px;
  }
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 18px;
  }
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 18px;
  }
}

.btn {
  border-radius: 40px;
  position: relative;
  z-index: 2;
}

.btn-small {
  padding: 15px 20px;
  min-width: 160px;
  text-align: center;
}

.btn-big {
  padding: 26px;
  min-width: 280px;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 1279px) {
  .btn-big {
    padding: 16px 26px;
  }
}
@media (max-width: 991px) {
  .btn-big {
    min-width: 260px;
  }
}
@media (max-width: 991px) {
  .btn-big {
    min-width: 226px;
  }
}
@media (max-width: 575px) {
  .btn-big {
    padding: 12px 20px;
  }
}

.primary-btn {
  background-color: var(--secondary);
  color: var(--white);
}

.secondary-btn {
  background-color: var(--white);
}

.primary-hover {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.primary-hover::before,
.primary-hover::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgb(0 0 0 / 0.2);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.primary-hover::before {
  left: 0;
}

.primary-hover::after {
  right: 0;
}

.primary-hover:hover::before,
.primary-hover:hover::after {
  width: 50%;
}

.outline-btn {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.outline-btn:hover {
  border-color: rgb(0 0 0 / 0.2);
  color: var(--white);
}

.section-tag {
  display: flex;
  align-items: center;
  gap: 28px;
  color: var(--primary-800);
  font-family: var(--font-nunito);
}
.section-tag span {
  width: 78px;
  max-width: 50%;
  height: 1px;
  background-color: var(--primary-800);
}
.section-tag-dec {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3.3px;
}
@media (max-width: 767px) {
  .section-tag span {
    width: 64px;
  }
}
@media (max-width: 575px) {
  .section-tag {
    gap: 20px;
  }

  .section-tag span {
    width: 54px;
  }
}

.title {
  color: var(--primary);
  margin-bottom: 24px;
  span {
    color: var(--secondary);
  }
}
@media (max-width: 991px) {
  .title {
    margin-bottom: 18px;
  }
}
@media (max-width: 767px) {
  .title {
    margin-bottom: 14px;
  }
}

.description {
  color: var(--text-color);
  font-size: 20px;
}
@media (max-width: 767px) {
  .description {
    font-size: 16px;
  }
}

.two-columns-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
@media (max-width: 991px) {
  .two-columns-wrapper {
    flex-direction: column-reverse;
  }
}
