@media (max-width: 1279px) {
  /* ----- Footer ----- */
  .footer-form-input {
    padding: 14px 30px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 166px;
  }

  .hero-content-title {
    margin-bottom: 24px;
  }

  .hero-btn-wrapper {
    gap: 16px;
  }

  /* ----- Companies media section ----- */
  .companies-media-section {
    padding: 50px 0 68px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    gap: 30px;
    margin-top: 50px;
  }

  .services-card {
    padding: 66px 22px 44px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-wrapper {
    margin-top: 66px;
  }

  .blog-card-content-title {
    margin-bottom: 16px;
  }

  /* -----  Features section ----- */
  .features-wrapper {
    gap: 20px;
    margin-top: 80px;
  }

  .features-item {
    gap: 16px;
  }

  .features-item-media {
    width: 48px;
  }

  .features-dec {
    font-size: 16px;
  }

  /* -- Learning section -- */
  .learning-media {
    max-width: 356px;
  }

  .learning-media::after {
    width: 200px;
  }

  .learning-logic-container,
  .learning-users-container {
    width: 72px;
  }

  .learning-logic-container {
    top: 22%;
    left: 8%;
    transform: rotate(-14deg);
  }

  .learning-users-container {
    top: 22%;
    right: 8%;
    transform: rotate(6deg);
  }

  /* ----- Integrations section ----- */
  .integrations-content-wrapper .title {
    margin-block: 22px;
  }

  .integrations-btn {
    margin-top: 36px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-list-content {
    padding: 30px;
  }
}

@media (max-width: 1116px) {
  /* ----- Header ----- */
  .header-link-contents {
    gap: 32px;
  }

  .header-link,
  .header-btn {
    font-size: 18px;
  }

  .header-btn-wraper .btn-small {
    padding: 12px 38px;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header {
    padding-block: 20px;
  }

  .header.active {
    box-shadow: none;
    background-color: var(--oldlace);
  }

  .header-link-container {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 16px);
    background-color: var(--white);
    padding: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  .header-link-container.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    border-color: #6c6c6c29;
  }

  .header-link-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 14px;
  }

  .nav-toggle {
    display: flex;
  }

  .header-link-contents,
  .header-btn-wraper {
    gap: 26px;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    margin: 0 auto 50px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 154px;
    clip-path: ellipse(170% 100% at 50% 0%);
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  .hero-content-wrapper,
  .hero-media-container {
    width: 100%;
  }

  .hero-content-wrapper {
    max-width: 100%;
    margin-bottom: 0;
  }

  .hero-content-title {
    margin-bottom: 22px;
  }

  .hero-media {
    margin-inline: auto;
  }

  .hero-content-dec {
    max-width: 536px;
  }

  /* ----- Companies media section ----- */
  .companies-media-section {
    padding: 50px 0 58px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 20px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-wrapper {
    margin-top: 56px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-section .two-columns-wrapper {
    flex-direction: column;
  }

  .video-columns-contents,
  .video-columns-media-wrapper {
    width: 100%;
  }

  .video-columns-contents,
  .video-columns-dec {
    max-width: 100%;
  }

  .video-columns-title::before {
    width: 40px;
    top: -4%;
    left: -1%;
  }

  .video-columns-dec::after {
    width: 14px;
    bottom: 0;
    right: 0;
  }

  /* ----- Features section ----- */
  .features-section .two-columns-wrapper {
    gap: 76px;
    margin-top: 40px;
  }

  .features-media-wrapper,
  .features-content {
    width: 100%;
  }

  .features-content,
  .features-media-container {
    max-width: 100%;
  }

  .features-content .title-tag {
    margin-bottom: 30px;
  }

  .features-items-wrapper {
    max-width: 480px;
  }

  /* -- Learning section -- */
  .learning-section .two-columns-wrapper {
    flex-direction: column;
    gap: 58px;
  }

  .learning-content-wrapper,
  .learning-meida-wrapper {
    width: 100%;
  }

  .learning-content-wrapper {
    max-width: 100%;
  }

  .learning-meida-container {
    max-width: 708px;
    background-size: 70%;
    margin-inline: auto;
  }

  .learning-users-container {
    top: 18%;
    right: 12%;
  }

  .learning-logic-container {
    left: 12%;
  }

  /* ----- Quizzes section ----- */
  .quizzes-section .two-columns-wrapper {
    gap: 50px;
  }

  .quizzes-content-wrapper,
  .quizzes-media {
    width: 100%;
  }

  .quizzes-content-wrapper,
  .quizzes-content-wrapper .title {
    max-width: 100%;
  }

  .quizzes-content-wrapper .description {
    max-width: 786px;
  }

  .quizzes-media {
    max-width: 568px;
  }

  /* -- Management section -- */
  .management-section .two-columns-wrapper {
    flex-direction: column;
    gap: 72px;
  }

  .management-content,
  .management-media-wrapper {
    width: 100%;
  }

  .management-content .title {
    max-width: 100%;
  }

  /* -- Discussions section -- */
  .discussions-media-container,
  .discussions-content {
    width: 100%;
  }

  .discussions-content .title,
  .discussions-content .description {
    max-width: 100%;
  }

  .discussions-media-container {
    max-width: 760px;
    padding-bottom: 140px;
    padding-right: 70px;
  }

  /* ----- Integrations section ----- */
  .integrations-media-wrapper,
  .integrations-content-wrapper {
    width: 100%;
  }

  .integrations-content-wrapper {
    max-width: 100%;
  }

  .integrations-section .two-columns-wrapper {
    gap: 38px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-section .two-columns-wrapper {
    flex-direction: column;
    gap: 42px;
  }

  .testimonial-content-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .testimonial-content-wrapper .description + .description {
    margin-top: 10px;
  }

  .testimonial-slider-wrapper {
    width: 70%;
  }
}

@media (max-width: 767px) {
  /* ----- Footer ----- */
  .footer-content-wrapper {
    max-width: 100%;
  }

  .footer-form {
    max-width: 550px;
    margin-inline: auto;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 136px;
    clip-path: ellipse(190% 100% at 50% 0%);
  }

  .hero-content-dec {
    font-size: 16px;
  }

  /* ----- Companies media section ----- */
  .companies-media-section {
    padding-block: 48px;
  }

  .companies-media-wrapper {
    gap: 26px 40px;
  }

  .companies-media img {
    max-width: 106px;
    max-height: 36px;
  }

  /* ----- Services section ----- */
  .services-card-title,
  .services-card-dec,
  .services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
    max-width: 100%;
  }

  .services-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
    margin-top: 42px;
  }

  .services-card {
    margin-top: 30px;
    padding: 44px 22px;
  }

  .services-card-title {
    min-height: 62px;
    margin-bottom: 12px;
  }

  .services-card-media {
    width: 74px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-wrapper {
    margin-top: 46px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* -- Learning section -- */
  .learning-meida-container {
    max-width: 100%;
    background-size: 90%;
  }

  .learning-users-container {
    right: 8%;
  }

  .learning-logic-container {
    left: 8%;
  }

  /* ----- Quizzes section ----- */
  .quizzes-content-wrapper .description {
    max-width: 100%;
  }
  /* -- Management section -- */
  .management-section .two-columns-wrapper {
    gap: 58px;
  }

  /* -- Discussions section -- */
  .discussions-media-wrapper {
    padding: 20px;
  }

  .discussions-media-container {
    max-width: 100%;
  }

  .discussions-second-decore {
    border: 14px solid var(--skyblue-200);
  }

  .discussions-second-decore::after {
    width: 32%;
    right: -100%;
  }

  /* ----- Integrations section ----- */
  .integrations-media-wrapper {
    max-width: 100%;
  }

  /* ----- Testimonial section ----- */
  .testimonial-thumbnail-list {
    padding-inline: 8%;
  }

  .testimonial-title {
    margin-top: 8px;
    margin-bottom: 18px;
  }

  .testimonial-slider-wrapper {
    width: 100%;
  }

  .splide__arrow--next {
    right: 2%;
  }

  .splide__arrow--prev {
    left: 2%;
  }

  .testimonial-review-name {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */
  .header-logo svg {
    width: 100px;
  }

  .desktop-header-btn {
    display: none;
  }

  .header-link,
  .header-btn {
    font-size: 16px;
  }

  .responsive-header-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14px;
  }

  .responsive-header-btn .login-btn {
    border: 1px solid #6c6c6c29;
  }

  .header-link-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: auto;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    max-width: 298px;
    margin: 0 auto 46px;
  }

  .footer-logo-container svg {
    width: 98px;
  }

  .footer-media-tag {
    font-size: 20px;
  }

  .footer-form-wrapper {
    margin-bottom: 56px;
  }

  .footer-form {
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .footer-form-title {
    margin-bottom: 28px;
  }

  .footer-form-btn {
    width: 100%;
  }

  .footer-copy-right {
    margin-top: 22px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 114px;
    clip-path: ellipse(218% 100% at 50% 0%);
  }

  .hero-wrapper {
    gap: 30px;
  }

  .hero-content-title {
    margin-bottom: 20px;
  }

  .hero-join-btn {
    font-weight: 500;
  }

  .hero-play-btn-media {
    width: 50px;
  }

  .hero-play-btn-media svg {
    width: 24px;
  }

  /* ----- Companies media section ----- */
  .companies-media-title {
    margin-bottom: 38px;
  }

  .companies-media-wrapper {
    row-gap: 36px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    margin-top: 36px;
  }

  .services-card {
    padding: 28px 28px 44px;
  }

  .services-card-title {
    min-height: 56px;
  }

  .services-card-media {
    width: 68px;
  }

  .services-card-dec {
    font-size: 16px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-wrapper {
    margin-top: 36px;
  }

  .blog-card-container {
    max-width: 450px;
    min-height: 300px;
  }

  .blog-card-content {
    padding: 14px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-dec {
    font-size: 16px;
  }

  .video-columns-play-btn {
    width: 52px;
  }

  .video-columns-play-btn svg {
    width: 28px;
  }

  .video-columns-media-wrapper {
    padding: 16px;
  }

  .video-columns-media img {
    min-height: 288px;
  }

  .video-columns-media::before {
    width: 86px;
    top: -12px;
    left: -12px;
  }

  .video-columns-media::after {
    width: 130px;
    bottom: -12px;
    right: -12px;
  }

  /* -- Learning section -- */
  .learning-meida-container {
    background-size: 100%;
  }

  .learning-section .two-columns-wrapper {
    gap: 34px;
  }

  .learning-users-container {
    top: 14%;
    right: 0;
  }

  .learning-logic-container,
  .learning-users-container {
    width: 60px;
  }

  .learning-logic-container {
    left: 0;
  }

  .learning-meida-wrapper {
    max-width: 454px;
  }

  .learning-media {
    max-width: 304px;
  }

  .learning-decor {
    width: 14px;
  }

  .orange-dot {
    left: 0;
  }

  .blue-dot {
    right: 4%;
  }

  .green-dot {
    right: 14%;
  }

  /* ----- Quizzes section ----- */
  .quizzes-section .two-columns-wrapper {
    gap: 30px;
  }

  .quizzes-media {
    max-width: 438px;
  }

  .management-section .two-columns-wrapper {
    gap: 36px;
  }

  /* -- Discussions section -- */
  .discussions-media-container {
    padding-bottom: 100px;
    padding-right: 50px;
  }

  .discussions-media-wrapper {
    padding: 16px;
  }

  .discussions-second-decore {
    border: 12px solid var(--skyblue-200);
  }

  /* ----- Integrations section ----- */
  .integrations-media {
    width: 112px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-btn {
    padding-left: 22px;
  }

  #testimonial-thumbnail .splide__arrow {
    width: 44px;
    height: 44px;
  }

  .testimonial-list-content {
    padding: 16px;
    border-radius: 10px;
    border-width: 10px;
  }

  .testimonial-dec {
    padding-left: 14px;
  }

  .testimonial-review-details {
    margin-top: 12px;
  }

  .testimonial-review svg {
    width: 22px;
  }

  .testimonial-review-dec {
    margin-top: 4px;
  }
}

@media (max-width: 424px) {
  /* ----- Services section ----- */
  .services-card {
    padding: 66px 20px 44px;
  }

  /* -- Learning section -- */
  .learning-media::after {
    width: 182px;
  }

  .learning-media {
    max-width: 236px;
  }

  .learning-media::after {
    width: 140px;
  }

  /* -- Discussions section -- */
  .discussions-media-wrapper {
    padding: 14px;
  }

  .discussions-media-container {
    padding-bottom: 74px;
    padding-right: 34px;
  }

  .discussions-second-decore {
    border: 8px solid var(--skyblue-200);
  }

  /* ----- Integrations section ----- */
  .integrations-media {
    width: 96px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-list-content {
    padding: 12px;
  }

  .testimonial-dec {
    padding-left: 8px;
  }

  .testimonial-review-details {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .testimonial-review {
    justify-content: start;
  }
}
