@media (max-width: 1116px) {
  .header-link-contents {
    gap: 32px;
  }

  .header-link,
  .header-btn {
    font-size: 18px;
  }

  .header-btn-wraper .btn-small {
    padding: 12px 38px;
  }
}

@media (max-width: 1279px) {
  /* -- Learning section -- */
  .learning-media {
    max-width: 356px;
  }

  .learning-media::after {
    width: 200px;
  }

  .learning-logic-container,
  .learning-users-container {
    width: 72px;
  }

  .learning-logic-media,
  .learning-users-media {
    width: 52px;
    border-radius: 14px;
  }

  .learning-logic-media img,
  .learning-users-media img {
    width: 30px;
  }

  .learning-logic-container {
    top: 22%;
    left: 8%;
    transform: rotate(-14deg);
  }

  .learning-users-container {
    top: 22%;
    right: 8%;
    transform: rotate(6deg);
  }

  .orange-dot {
    left: 46px;
    bottom: 136px;
  }

  .green-dot {
    right: 160px;
    top: 50px;
  }

  .blue-dot {
    right: 80px;
    bottom: 82px;
  }
}

@media (max-width: 1023px) {
  /* ----- Hero section ----- */
  .hero-content-title {
    margin-bottom: 24px;
    line-height: 1.2;
  }

  .hero-btn-wrapper {
    gap: 20px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    gap: 20px;
  }

  .services-card-title {
    font-size: 22px;
  }

  .services-card {
    padding: 66px 22px 44px;
  }

  .services-card-media {
    top: -46px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-wrapper {
    gap: 36px;
  }

  .blog-card-content-title {
    margin-bottom: 16px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-media::before {
    width: 116px;
    top: -16px;
    left: -16px;
  }

  .video-columns-media::after {
    width: 152px;
    bottom: -16px;
    right: -16px;
  }

  /* ----- Our-features section ----- */
  .our-features-wrapper {
    gap: 20px;
    margin-top: 80px;
  }

  .our-features-top-decore {
    width: 82px;
    top: -48px;
    left: 38px;
  }

  .our-features-bottom-decore {
    width: 146px;
  }

  .our-features-top-decore::after,
  .our-features-bottom-decore::before {
    width: 24px;
  }

  .our-features-top-decore::after {
    right: -42px;
  }

  .our-features-lists {
    gap: 22px;
  }

  .our-features-lists-media {
    width: 48px;
  }

  .our-features-lists-media img {
    width: 20px;
  }

  .our-features-dec {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header {
    padding: 20px 0;
  }

  .header.active {
    border-color: #6c6c6c29;
    box-shadow: none;
  }

  .header-link-container {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 16px);
    background-color: var(--white);
    padding: 20px;
    margin-top: 2px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .header-link-container.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  .header-link-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 14px;
  }

  .nav-toggle {
    display: flex;
  }

  .header-link-contents,
  .header-btn-wraper {
    gap: 26px;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    margin: 0 auto 50px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 114px;
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  .hero-content-wrapper,
  .hero-media-container {
    width: 100%;
  }

  .hero-content-wrapper {
    margin-bottom: 0;
  }

  .hero-content-title {
    margin-bottom: 22px;
  }

  .hero-media {
    margin: 0 auto;
  }

  .hero-content-dec {
    max-width: 536px;
  }

  .services-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 82px 20px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-wrapper {
    flex-direction: column;
  }

  .video-columns-contents,
  .video-columns-media-wrapper {
    width: 100%;
  }

  .video-columns-contents,
  .video-columns-dec {
    max-width: 100%;
  }

  /* ----- Our-features section ----- */
  .our-features-wrapper {
    flex-direction: column-reverse;
    margin-top: 40px;
    gap: 76px;
  }

  .our-features-media-wrapper,
  .our-features-content {
    width: 100%;
  }

  .our-features-media-container {
    margin: 0 auto;
  }

  .our-features-top-decore {
    top: -40px;
    left: 70px;
  }

  .our-features-bottom-decore {
    bottom: 12px;
    right: 120px;
  }

  .our-features-content .title-tag {
    margin-bottom: 30px;
  }

  .our-features-lists-wrapper {
    max-width: 480px;
  }

  /* -- Learning section -- */
  .learning-wrapper {
    flex-direction: column;
  }

  .learning-content-wrapper,
  .learning-meida-wrapper {
    width: 100%;
  }

  .learning-content-wrapper {
    max-width: 100%;
  }

  .learning-meida-container {
    max-width: 708px;
    background-size: 70%;
    margin: 0 auto;
  }

  .learning-users-container {
    top: 18%;
    right: 12%;
  }

  .learning-logic-container {
    left: 12%;
  }

  .blue-dot {
    right: 110px;
    bottom: 92px;
  }

  .orange-dot {
    left: 66px;
    bottom: 126px;
  }
}

@media (max-width: 767px) {
  /* ----- Footer ----- */
  .footer-content-wrapper {
    max-width: 100%;
  }

  .footer-form {
    max-width: 550px;
    margin: 0 auto;
  }

  /* ----- Hero section ----- */
  .hero-section {
    clip-path: ellipse(146% 100% at 50% 0%);
  }

  /* ----- Companies media section ----- */
  .companies-media-section {
    padding: 50px 0;
  }

  .companies-media img {
    width: 106px;
    height: 36px;
  }

  /* ----- Services section ----- */
  .services-section {
    padding: 50px 0;
  }

  .services-card-title,
  .services-card-dec,
  .services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
    max-width: 100%;
  }

  /* ----- Blog-card section ----- */
  .blog-card-section {
    padding: 50px 0;
  }

  .blog-card-wrapper {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* ----- Video-columns section ----- */
  .video-columns-section {
    padding: 50px 0;
  }

  /* ----- Our-features section ----- */
  .our-features-top-decore {
    left: 60px;
  }

  .our-features-top-decore::after {
    top: 6px;
    right: -36px;
  }

  .our-features-bottom-decore {
    width: 136px;
    bottom: 18px;
    right: 116px;
  }

  .our-features-bottom-decore::before {
    bottom: 14px;
    left: -28px;
  }
}

@media (max-width: 656px) {
  /* ----- Services section ----- */
  .services-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 94px;
  }

  .services-card {
    margin: 0 auto;
  }

  .services-card-media {
    width: 74px;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */

  .header-logo svg {
    width: 100px;
  }

  .desktop-header-btn {
    display: none;
  }

  .header-link,
  .header-btn {
    font-size: 16px;
  }

  .responsive-header-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14px;
  }

  .header-link-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: auto;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    margin: 0 auto 46px;
  }

  .footer-logo-container svg {
    width: 112px;
  }

  .footer-form-wrapper {
    margin-bottom: 56px;
  }

  .footer-form {
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .footer-form-title {
    margin-bottom: 28px;
  }

  .footer-form-btn {
    width: 100%;
  }

  .footer-copy-right {
    margin-top: 22px;
  }

  /* ----- Hero section ----- */
  .hero-wrapper {
    gap: 30px;
  }

  .hero-content-title {
    margin-bottom: 20px;
  }

  .hero-btn-wrapper {
    gap: 20px;
  }

  .hero-join-btn {
    font-weight: 500;
  }

  .hero-play-btn-media {
    width: 50px;
  }

  .hero-play-btn-media svg {
    width: 24px;
  }

  /* ----- Companies media section ----- */
  .companies-media-title {
    margin-bottom: 38px;
  }

  .companies-media-wrapper {
    gap: 30px 40px;
  }

  /* ----- Services section ----- */
  .services-card {
    padding: 66px 28px 44px;
  }

  .services-card-media {
    width: 68px;
    top: -36px;
  }

  .services-card-media img {
    width: 34px;
  }

  .services-card-title {
    font-size: 22px;
  }

  .services-card-dec {
    font-size: 16px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-container {
    max-width: 450px;
    min-height: 300px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-play-btn {
    width: 52px;
  }

  .video-columns-play-btn svg {
    width: 28px;
  }

  .video-columns-media img {
    min-height: 288px;
  }

  .video-columns-media::before {
    width: 86px;
    top: -12px;
    left: -12px;
  }

  .video-columns-media::after {
    width: 130px;
    bottom: -12px;
    right: -12px;
  }

  /* ----- Our-features section ----- */
  .our-features-top-decore {
    width: 67px;
    left: 40px;
  }

  .our-features-bottom-decore {
    bottom: 8px;
    right: 66px;
  }

  .our-features-bottom-decore::before {
    bottom: 0;
  }
}

@media (max-width: 424px) {
  /* ----- Footer ----- */
  .footer-media-wrapper {
    max-width: 100%;
  }

  .footer-media-tag {
    font-size: 20px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    gap: 74px 28px;
  }

  .services-card {
    padding: 66px 20px 44px;
  }

  /* ----- Our-features section ----- */
  .our-features-bottom-decore {
    width: 74px;
    bottom: 4px;
    right: 56px;
  }

  .our-features-top-decore::after,
  .our-features-bottom-decore::before {
    width: 18px;
  }

  .our-features-top-decore {
    width: 56px;
    top: -36px;
    left: 26px;
  }
}
