@media (max-width: 1116px) {
  .header-link-contents {
    gap: 32px;
  }

  .header-link,
  .header-btn {
    font-size: 18px;
  }

  .header-btn-wraper .btn-small {
    padding: 12px 38px;
  }
}

@media (max-width: 1279px) {
  /* ----- Footer ----- */
  .footer-form-input {
    padding: 14px 30px;
  }

  /* ----- Hero section ----- */
  .hero-content-title {
    margin-bottom: 24px;
    line-height: 1.2;
  }

  .hero-btn-wrapper {
    gap: 16px;
  }

  /* -- Learning section -- */
  .learning-media {
    max-width: 356px;
  }

  .learning-media::after {
    width: 200px;
  }

  .learning-logic-container,
  .learning-users-container {
    width: 72px;
  }

  .learning-logic-container {
    top: 22%;
    left: 8%;
    transform: rotate(-14deg);
  }

  .learning-users-container {
    top: 22%;
    right: 8%;
    transform: rotate(6deg);
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    gap: 20px;
    margin-top: 50px;
  }

  .services-card-title {
    font-size: 22px;
  }

  .services-card {
    padding: 66px 22px 44px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-wrapper {
    gap: 36px;
  }

  .blog-card-content-title {
    margin-bottom: 16px;
  }

  /* -----  Features section ----- */
  .features-wrapper {
    gap: 20px;
    margin-top: 80px;
  }

  .features-item {
    gap: 16px;
  }

  .features-item-media {
    width: 48px;
  }

  .features-dec {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header {
    padding: 20px 0;
  }

  .header.active {
    border-color: #6c6c6c29;
    box-shadow: none;
  }

  .header-link-container {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 16px);
    background-color: var(--white);
    padding: 20px;
    margin-top: 2px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .header-link-container.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  .header-link-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 14px;
  }

  .nav-toggle {
    display: flex;
  }

  .header-link-contents,
  .header-btn-wraper {
    gap: 26px;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    margin: 0 auto 50px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 154px;
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  .hero-content-wrapper,
  .hero-media-container {
    width: 100%;
  }

  .hero-content-wrapper {
    max-width: 100%;
    margin-bottom: 0;
  }

  .hero-content-title {
    margin-bottom: 22px;
  }

  .hero-media {
    margin: 0 auto;
  }

  .hero-content-dec {
    max-width: 536px;
  }

  .services-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 20px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-section .two-columns-wrapper {
    flex-direction: column;
  }

  .video-columns-contents,
  .video-columns-media-wrapper {
    width: 100%;
  }

  .video-columns-contents,
  .video-columns-dec {
    max-width: 100%;
  }

  .video-columns-title::before {
    width: 40px;
    top: -4%;
    left: -1%;
  }

  .video-columns-dec::after {
    width: 2%;
    bottom: 0;
    right: 0;
  }

  /* ----- Features section ----- */
  .features-section .two-columns-wrapper {
    gap: 76px;
    margin-top: 40px;
  }

  .features-media-wrapper,
  .features-content {
    width: 100%;
  }

  .features-content,
  .features-media-container {
    max-width: 100%;
  }

  .features-content .title-tag {
    margin-bottom: 30px;
  }

  .features-items-wrapper {
    max-width: 480px;
  }

  /* -- Learning section -- */
  .learning-section .two-columns-wrapper {
    flex-direction: column;
  }

  .learning-content-wrapper,
  .learning-meida-wrapper {
    width: 100%;
  }

  .learning-content-wrapper {
    max-width: 100%;
  }

  .learning-meida-container {
    max-width: 708px;
    background-size: 70%;
    margin: 0 auto;
  }

  .learning-users-container {
    top: 18%;
    right: 12%;
  }

  .learning-logic-container {
    left: 12%;
  }
}

@media (max-width: 767px) {
  /* ----- Footer ----- */
  .footer-content-wrapper {
    max-width: 100%;
  }

  .footer-form {
    max-width: 550px;
    margin: 0 auto;
  }

  /* ----- Hero section ----- */
  .hero-section {
    clip-path: ellipse(146% 100% at 50% 0%);
  }

  /* ----- Companies media section ----- */
  .companies-media-section {
    padding: 50px 0;
  }

  .companies-media img {
    max-width: 106px;
    max-height: 36px;
  }

  /* ----- Services section ----- */
  .services-section {
    padding: 50px 0;
  }

  .services-card-title,
  .services-card-dec,
  .services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
    max-width: 100%;
  }

  /* ----- Blog-card section ----- */
  .blog-card-section {
    padding: 50px 0;
  }

  .blog-card-wrapper {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* ----- Video-columns section ----- */
  .video-columns-section {
    padding: 50px 0;
  }

  /* ----- Features section ----- */
  .features-section {
    padding: 50px 0;
  }

  /* -- Learning section -- */
  .learning-section {
    padding: 50px 0;
  }

  .learning-meida-container {
    max-width: 100%;
    background-size: 90%;
  }

  .learning-users-container {
    right: 8%;
  }

  .learning-logic-container {
    left: 8%;
  }
}

@media (max-width: 656px) {
  /* ----- Services section ----- */
  .services-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }

  .services-card {
    margin: 30px auto 0;
  }

  .services-card-media {
    width: 74px;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */
  .header-logo svg {
    width: 100px;
  }

  .desktop-header-btn {
    display: none;
  }

  .header-link,
  .header-btn {
    font-size: 16px;
  }

  .responsive-header-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14px;
  }

  .responsive-header-btn .login-btn {
    border: 1px solid #6c6c6c29;
  }

  .header-link-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: auto;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    max-width: 298px;
    margin: 0 auto 46px;
  }

  .footer-logo-container svg {
    width: 98px;
  }

  .footer-media-tag {
    font-size: 20px;
  }

  .footer-form-wrapper {
    margin-bottom: 56px;
  }

  .footer-form {
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .footer-form-title {
    margin-bottom: 28px;
  }

  .footer-form-btn {
    width: 100%;
  }

  .footer-copy-right {
    margin-top: 22px;
  }

  /* ----- Hero section ----- */
  .hero-wrapper {
    gap: 30px;
  }

  .hero-content-title {
    margin-bottom: 20px;
  }

  .hero-content-dec {
    font-size: 16px;
  }

  .hero-btn-wrapper {
    gap: 20px;
  }

  .hero-join-btn {
    font-weight: 500;
  }

  .hero-play-btn-media {
    width: 50px;
  }

  .hero-play-btn-media svg {
    width: 24px;
  }

  /* ----- Companies media section ----- */
  .companies-media-title {
    margin-bottom: 38px;
  }

  .companies-media-wrapper {
    gap: 30px 40px;
  }

  /* ----- Services section ----- */
  .services-card {
    padding: 66px 28px 44px;
  }

  .services-card-media {
    width: 68px;
  }

  .services-card-title {
    font-size: 22px;
  }

  .services-card-dec {
    font-size: 16px;
  }

  /* ----- Blog-card section ----- */
  .blog-card-container {
    max-width: 450px;
    min-height: 300px;
  }

  .blog-card-content {
    padding: 14px;
  }

  /* ----- Video-columns section ----- */
  .video-columns-play-btn {
    width: 52px;
  }

  .video-columns-play-btn svg {
    width: 28px;
  }

  .video-columns-media-wrapper {
    padding: 16px;
  }

  .video-columns-media img {
    min-height: 288px;
  }

  .video-columns-media::before {
    width: 86px;
    top: -12px;
    left: -12px;
  }

  .video-columns-media::after {
    width: 130px;
    bottom: -12px;
    right: -12px;
  }

  /* -- Learning section -- */
  .learning-meida-container {
    background-size: 100%;
  }

  .learning-users-container {
    top: 14%;
    right: 0;
  }

  .learning-logic-container,
  .learning-users-container {
    width: 60px;
  }

  .learning-logic-container {
    left: 0;
  }

  .learning-decor {
    width: 14px;
  }

  .orange-dot {
    left: 0;
  }

  .blue-dot {
    right: 4%;
  }

  .green-dot {
    right: 14%;
  }
}

@media (max-width: 424px) {
  /* ----- Services section ----- */
  .services-cards-wrapper {
    gap: 30px 28px;
  }

  .services-card {
    padding: 66px 20px 44px;
  }

  /* -- Learning section -- */
  .learning-media::after {
    width: 182px;
  }
}
