@media (max-width: 1023px) {
  /* ----- Services section ----- */
  .services-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 102px 28px;
  }

  .services-card {
    padding: 66px 22px 44px;
  }

  .services-card-media {
    top: -46px;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header.active {
    border-color: #6c6c6c29;
    box-shadow: none;
  }

  .header-link-container {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 16px);
    background-color: var(--white);
    padding: 20px 0;
    margin-top: 14px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .header-link-container.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  .header-link-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 14px;
  }

  .nav-toggle {
    display: flex;
  }

  .header-link-contents,
  .header-btn-wraper {
    gap: 26px;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    margin: 0 auto 50px;
  }

  /* ----- Hero section ----- */
  .hero-wrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .hero-content-wrapper,
  .hero-media {
    width: 100%;
  }

  .hero-content-title {
    margin-bottom: 22px;
  }

  .hero-media {
    justify-content: center;
  }

  .hero-content-dec {
    max-width: 536px;
  }
}

@media (max-width: 767px) {
  /* ----- Footer ----- */
  .footer-content-wrapper {
    max-width: 100%;
  }

  .footer-form {
    max-width: 550px;
    margin: 0 auto;
  }

  /* ----- Companies media section ----- */
  .companies-media img {
    width: 106px;
    height: 36px;
  }

  /* ----- Services section ----- */
  .services-card-title,
  .services-card-dec,
  .services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
    max-width: 100%;
  }
}

@media (max-width: 656px) {
  /* ----- Services section ----- */
  .services-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 94px 28px;
    margin-top: 94px;
  }

  .services-card {
    margin: 0 auto;
  }

  .services-card-media {
    width: 74px;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */
  .desktop-header-btn {
    display: none;
  }

  .header-link,
  .header-btn {
    font-size: 16px;
  }

  .responsive-header-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header-link-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: auto;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* ----- Footer ----- */
  .footer-media-wrapper {
    margin: 0 auto 46px;
  }

  .footer-form-wrapper {
    margin-bottom: 56px;
  }

  .footer-form {
    max-width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .footer-form-title {
    margin-bottom: 28px;
  }

  .footer-form-btn {
    width: 100%;
  }

  .footer-copy-right {
    margin-top: 22px;
  }

  /* ----- Hero section ----- */
  .hero-wrapper {
    gap: 30px;
  }

  .hero-content-title {
    margin-bottom: 20px;
  }

  .hero-btn-wrapper {
    gap: 20px;
  }

  /* ----- Companies media section ----- */
  .companies-media-title {
    margin-bottom: 38px;
  }

  .companies-media-wrapper {
    gap: 30px 40px;
  }

  /* ----- Services section ----- */
  .services-card {
    padding: 66px 28px 44px;
  }

  .services-card-media {
    width: 68px;
    top: -36px;
  }

  .services-card-media img {
    width: 34px;
  }

  .services-card-title {
    font-size: 22px;
  }

  .services-card-dec {
    font-size: 16px;
  }
}

@media (max-width: 424px) {
  /* ----- Footer ----- */
  .footer-media-wrapper {
    max-width: 100%;
  }

  .footer-logo-container {
    width: 220px;
  }

  .footer-media-tag {
    font-size: 20px;
  }

  /* ----- Services section ----- */
  .services-cards-wrapper {
    gap: 74px 28px;
  }

  .services-card {
    padding: 66px 20px 44px;
  }
}
