.header {
  width: 100%;
  padding: 50px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.body-scroll {
  padding: 20px 0;
  background-color: var(--oldlace);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* .scroll-hidden {
  overflow: hidden;
} */

.header-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo svg {
  width: 120px;
}

.header-link-contents {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-link-wrapper,
.header-btn-wraper {
  display: flex;
  align-items: center;
}

.header-link-wrapper {
  gap: 40px;
}

.header-link {
  padding: 10px;
  color: var(--navy-blue-200);
  position: relative;
  height: 100%;
}

.header-link,
.header-btn {
  font-size: 20px;
  text-transform: capitalize;
}

.login-btn {
  color: var(--dimgray);
}

.header-link::before,
.header-link::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.header-link:hover::before,
.header-link:hover::after {
  width: 50%;
}

.header-link::before {
  right: 50%;
}

.header-link:hover::before {
  right: 0;
}

.header-link::after {
  left: 50%;
  right: 0;
}

.header-link:hover::after {
  left: 0;
}

.header-btn-wraper {
  gap: 34px;
}

.nav-toggle {
  width: 38px;
  aspect-ratio: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: 2px solid var(--navy-blue-200);
  border-radius: 6px;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 3px;
  border-radius: 4px;
  background: var(--navy-blue-200);
  transition: all 0.3s ease-in-out;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: translate(0, 7px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: translate(0, -7px) rotate(-45deg);
}

.responsive-header-btn {
  display: none;
}

/* ----- Footer ----- */
.footer {
  margin-top: auto;
  padding: 50px 0;
  background-color: var(--navy-blue-200);
}

.footer-content-wrapper {
  max-width: 522px;
  margin: 0 auto;
  text-align: center;
}

.footer-media-wrapper {
  max-width: 338px;
  display: flex;
  align-items: center;
  margin: 0 auto 80px;
}

.footer-logo-container {
  border-right: 1px solid var(--slategray);
  padding-right: 22px;
}

.footer-logo-container svg {
  width: 150px;
}

.footer-media-tag {
  text-align: start;
  color: var(--white);
  font-size: 24px;
  padding-left: 22px;
}

.footer-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-form-wrapper {
  margin-bottom: 70px;
}

.footer-form-title {
  font-weight: 400;
  color: var(--lightsteelblue);
  margin-bottom: 20px;
}

.footer-form-input {
  width: 100%;
  color: var(--white);
  border: 1px solid var(--lightslategray);
  border-radius: 36px;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  padding: 20px 30px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.footer-form-input::placeholder {
  color: var(--lightslategray);
}

.footer-form-input:focus {
  border-color: var(--silver);
}

.footer-form-btn {
  width: 40%;
  background: linear-gradient(
    149deg,
    rgb(84, 90, 231) 50%,
    rgba(57, 63, 207, 1) 100%
  );
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
  flex-wrap: wrap;
}

.footer-link {
  color: var(--lightsteelblue);
  font-size: 18px;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

.footer-link-container .footer-link:first-child {
  padding-left: 0;
}

.footer-link-container .footer-link:nth-child(2) {
  border-left: 1px solid var(--lightslategray);
  border-right: 1px solid var(--lightslategray);
}

.footer-link-container .footer-link:last-child {
  padding-right: 0;
}

.footer-copy-right {
  color: var(--lightsteelblue);
  margin-top: 26px;
  font-size: 18px;
}

/* ----- Hero section ----- */
.hero-section {
  padding-top: 180px;
  background-color: var(--oldlace);
  clip-path: ellipse(120% 100% at 50% 0%);
}

.hero-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-content-wrapper,
.hero-media-container {
  width: 50%;
}

.hero-content-wrapper {
  max-width: 610px;
  margin-bottom: 44px;
}

.hero-content-title {
  margin-bottom: 40px;
}

.hero-content-dec {
  max-width: 436px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--slategray);
  margin-bottom: 30px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.hero-join-btn {
  font-weight: 600;
}

.hero-play-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-play-btn-media {
  width: 58px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px 0px #65dbff36;
}

.hero-play-btn-media svg {
  width: 28px;
  aspect-ratio: 1;
  color: var(--skyblue-400);
}

.hero-play-btn span {
  font-size: 18px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.hero-play-btn:hover span {
  color: var(--skyblue-400);
}

.hero-media {
  width: 100%;
  max-width: 645px;
  aspect-ratio: 1;
}

/* ----- Companies media section ----- */
.companies-media-section {
  padding: 50px 0 78px;
}

.companies-media-title {
  text-align: center;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 50px;
}

.companies-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px 50px;
  flex-wrap: wrap;
}

.companies-media img {
  width: 140px;
  height: 40px;
}

/* ----- Services section ----- */
.services-section {
  padding: 78px 0;
}

.services-section-heading {
  max-width: 560px;
}

.services-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 134px;
}

.services-card {
  max-width: 450px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  padding: 80px 32px 44px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.services-card:hover {
  transform: scale(1.05);
}

.services-card-media {
  width: 82px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
}

.services-card-media img {
  width: 36px;
  aspect-ratio: 1;
}

.bg-royalblue {
  background-color: var(--royalblue);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-skyblue {
  background-color: var(--skyblue-400);
}

.services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
  max-width: 314px;
}

.services-card-title {
  max-width: 278px;
  color: var(--primary-color);
  font-weight: 500;
  flex-grow: 1;
  margin: 0 auto 22px;
}

.services-card-dec {
  font-size: 18px;
  line-height: 1.8;
  max-width: 328px;
  margin: 0 auto;
  color: var(--text-color);
}

/* ----- Blog-card section ----- */
.blog-card-section {
  padding: 78px 0;
}

.blog-card-heading {
  max-width: 680px;
}

.blog-card-wrapper {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

.blog-card-container {
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.blog-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 20%;
  transition: all 0.3s ease-in-out;
}

.blog-card-content {
  width: fit-content;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-card-content-title {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog-card-content-btn {
  border: 1px solid var(--white);
  color: var(--white);
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
}

.blog-card-content-btn:hover {
  opacity: 90%;
  border-color: transparent;
  box-shadow: inset 135px 25px rgb(101 218 255),
    inset -135px -25px rgb(101 218 255);
}

/* ----- Video-columns section ----- */
.video-columns-section {
  padding: 78px 0;
}

.video-columns-wrapper {
  display: flex;
  align-items: center;
  gap: 64px;
}

.video-columns-contents,
.video-columns-media-wrapper {
  width: 50%;
}

.video-columns-contents {
  max-width: 618px;
}

.video-columns-title {
  font-weight: 500;
  position: relative;
}

.video-columns-title::before {
  content: "";
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--orange-100);
  position: absolute;
  top: -6px;
  left: -12px;
  z-index: -1;
}

.video-columns-dec {
  max-width: 560px;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
}

.video-columns-dec::after {
  content: "";
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--orange-100);
  position: absolute;
  top: 56px;
  right: -20px;
}

.video-columns-btn {
  font-size: 20px;
  color: var(--text-color);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.video-columns-btn:hover {
  color: var(--secondary-color);
}

.video-columns-media-conatainer {
  position: relative;
}

.video-columns-media,
.video-columns-media-conatainer {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}

.video-columns-media {
  border-radius: 22px;
  overflow: hidden;
}

.video-columns-media::before,
.video-columns-media::after {
  position: absolute;
  z-index: -1;
  aspect-ratio: 1;
  border-radius: 22px;
  overflow: hidden;
}

.video-columns-media::before {
  content: "";
  width: 138px;
  background-color: var(--skyblue-400);
  top: -20px;
  left: -20px;
}

.video-columns-media::after {
  content: "";
  width: 230px;
  background-color: var(--secondary-color);
  bottom: -20px;
  right: -20px;
}

.video-columns-play-btn {
  width: 66px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-columns-play-btn svg {
  width: 34px;
  aspect-ratio: 1;
  color: var(--skyblue-400);
}

/* ----- Our-features section ----- */
.our-features-section {
  padding: 78px 0;
}

.our-features-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 140px;
}

.our-features-media-wrapper {
  width: 60%;
}

.our-features-top-decore,
.our-features-bottom-decore,
.our-features-top-decore::after,
.our-features-bottom-decore::before {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.our-features-top-decore,
.our-features-bottom-decore {
  z-index: -1;
}

.our-features-top-decore {
  width: 112px;
  background-color: var(--mediumspringgreen);
  top: -62px;
  left: 52px;
}

.our-features-bottom-decore {
  width: 186px;
  background-color: var(--mediumslateblue-400);
  bottom: 0;
  right: 82px;
}

.our-features-top-decore::after,
.our-features-bottom-decore::before {
  content: "";
  width: 30px;
}

.our-features-top-decore::after {
  background-color: var(--skyblue-400);
  top: 2px;
  right: -50px;
}

.our-features-bottom-decore::before {
  background-color: var(--salmon);
  bottom: 10px;
  left: -40px;
}

.our-features-media-container {
  position: relative;
}

.our-features-media-container,
.our-features-media {
  max-width: 742px;
}

.our-features-content {
  width: 40%;
}

.our-features-content .title-tag {
  margin-bottom: 50px;
}

.our-features-lists-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.our-features-lists {
  display: flex;
  align-items: center;
  gap: 30px;
}

.our-features-lists-media {
  width: 58px;
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.our-features-lists-media img {
  width: 24px;
  aspect-ratio: 1;
}

.our-features-dec {
  font-size: 20px;
  line-height: 1.8;
}

/* -- Learning section -- */
.learning-section {
  padding: 78px 0;
}

.learning-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
}

.learning-content-wrapper {
  width: 40%;
  max-width: 400px;
}

.learning-meida-wrapper {
  width: 60%;
}

.learning-meida-container {
  background-image: url(../images/skilline-img-05-decore.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  position: relative;
}

.learning-media {
  max-width: 396px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.learning-media::after {
  content: "";
  width: 230px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--salmon);
  position: absolute;
  z-index: -1;
  top: 82px;
  left: 72px;
}

.learning-logic-container,
.learning-logic-media,
.learning-users-container,
.learning-users-media {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: var(--white);
}

.learning-logic-container,
.learning-users-container {
  width: 80px;
  border-radius: 18px;
  box-shadow: 0 14px 44px 0 rgb(86 91 221 / 0.1);
  position: absolute;
}

.learning-logic-media,
.learning-users-media {
  width: 58px;
  border-radius: 18px;
  box-shadow: 0 16px 44px 0 rgb(13 15 28 / 0.1);
}

.learning-logic-media img,
.learning-users-media img {
  width: 36px;
  aspect-ratio: 1;
}

.learning-logic-container {
  top: 18%;
  left: 16%;
  transform: rotate(-14deg);
}

.learning-users-container {
  top: 20%;
  right: 12%;
  transform: rotate(10deg);
}

.learning-decor {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.orange-dot {
  background-color: var(--orange-300);
  left: 60px;
  bottom: 160px;
}

.blue-dot {
  background-color: var(--mediumslateblue-100);
  right: 120px;
  bottom: 70px;
}

.green-dot {
  background-color: var(--mediumspringgreen);
  right: 210px;
  top: 10px;
}
