/* ----- Header ----- */
.header {
  width: 100%;
  padding: 50px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.body-scroll {
  padding-block: 20px;
  background-color: var(--oldlace);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* .scroll-hidden {
  overflow: hidden;
} */

.header-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-width: 120px;
}

.header-logo svg {
  width: 100%;
  display: block;
}

.header-link-contents {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-link-wrapper,
.header-btn-wraper {
  display: flex;
  align-items: center;
}

.header-link-wrapper {
  gap: 40px;
}

.header-link {
  padding: 10px;
  color: var(--primary-900);
  position: relative;
  height: 100%;
}

.header-link,
.header-btn {
  font-size: 20px;
  text-transform: capitalize;
}

.login-btn {
  color: var(--dimgray);
}

.header-link::before,
.header-link::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.header-link:hover::before,
.header-link:hover::after {
  width: 50%;
}

.header-link::before {
  right: 50%;
}

.header-link:hover::before {
  right: 0;
}

.header-link::after {
  left: 50%;
  right: 0;
}

.header-link:hover::after {
  left: 0;
}

.header-btn-wraper {
  gap: 34px;
}

.nav-toggle {
  width: 38px;
  aspect-ratio: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: 2px solid var(--primary-900);
  border-radius: 6px;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 3px;
  border-radius: 4px;
  background: var(--primary-900);
  transition: all 0.3s ease-in-out;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: translate(0, 7px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: translate(0, -7px) rotate(-45deg);
}

.responsive-header-btn {
  display: none;
}

/* ----- Footer ----- */
.footer {
  margin-top: auto;
  padding-block: 50px;
  background-color: var(--primary-900);
}

.footer-content-wrapper {
  max-width: 522px;
  text-align: center;
}

.footer-media-wrapper {
  max-width: 338px;
  display: flex;
  align-items: center;
  margin: 0 auto 80px;
}

.footer-logo-container {
  border-right: 1px solid var(--primary-850);
  padding-right: 22px;
}

.footer-logo-container svg {
  width: 150px;
}

.footer-media-tag {
  text-align: start;
  color: var(--white);
  font-size: 24px;
  padding-left: 22px;
}

.footer-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-form-wrapper {
  margin-bottom: 70px;
}

.footer-form-title {
  font-weight: 400;
  color: var(--primary-750);
  margin-bottom: 20px;
}

.footer-form-input {
  width: 100%;
  color: var(--white);
  border: 1px solid var(--lightslategray);
  border-radius: 36px;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  padding: 20px 30px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.footer-form-input::placeholder {
  color: var(--lightslategray);
}

.footer-form-input:focus {
  border-color: var(--silver);
}

.footer-form-btn {
  width: 40%;
  min-width: 40%;
  background: linear-gradient(
    149deg,
    rgb(84, 90, 231) 50%,
    rgba(57, 63, 207, 1) 100%
  );
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-link-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-link {
  color: var(--primary-750);
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

.footer-link-border {
  border: 1px solid var(--lightslategray);
}

.footer-link-container .footer-link:first-child {
  padding-left: 0;
}

.footer-link-container .footer-link:last-child {
  padding-right: 0;
}

.footer-copy-right {
  color: var(--primary-750);
  margin-top: 26px;
  font-size: 18px;
}

/* ----- Hero section ----- */
.hero-section {
  padding-top: 180px;
  background-color: var(--oldlace);
  clip-path: ellipse(120% 100% at 50% 0%);
}

.hero-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.hero-content-wrapper,
.hero-media-container {
  width: 50%;
}

.hero-content-wrapper {
  max-width: 610px;
  margin-bottom: 44px;
}

.hero-content-title {
  margin-bottom: 40px;
}

.hero-content-dec {
  max-width: 436px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--primary-850);
  margin-bottom: 30px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.hero-join-btn {
  min-width: 220px;
  font-weight: 600;
}

.hero-play-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-play-btn-media {
  width: 58px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px 0px #65dbff36;
}

.hero-play-btn-media svg {
  width: 48%;
  color: var(--skyblue-400);
}

.hero-play-btn span {
  font-size: 18px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.hero-play-btn:hover span {
  color: var(--skyblue-400);
}

.hero-media {
  width: 100%;
  max-width: 645px;
}

/* ----- Companies media section ----- */
.companies-media-section {
  padding: 50px 0 78px;
}

.companies-media-title {
  text-align: center;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 50px;
}

.companies-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px 50px;
  flex-wrap: wrap;
}

.companies-media img {
  max-width: 140px;
  max-height: 40px;
}

/* ----- Services section ----- */
.services-section-heading {
  max-width: 560px;
}

.services-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 84px;
}

.services-card {
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  padding: 80px 32px 44px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.services-card:hover {
  transform: scale(1.05);
}

.services-card-media {
  width: 82px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-card-media img {
  width: 44%;
}

.bg-royalblue {
  background-color: var(--primary-100);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-skyblue {
  background-color: var(--skyblue-400);
}

.services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
  max-width: 314px;
}

.services-card-title {
  min-height: 72px;
  max-width: 278px;
  color: var(--primary);
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 22px;
}

.services-card-dec {
  font-size: 18px;
  line-height: 1.8;
  max-width: 328px;
  color: var(--text-color);
}

/* ----- Blog-card section ----- */
.blog-card-heading {
  max-width: 680px;
}

.blog-card-wrapper {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog-card-container {
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.blog-card-container:hover {
  box-shadow: 0 0 26px 8px rgb(0 0 0 / 0.1);
}

.blog-card-content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(0 0 0 / 0.1);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.blog-card-content-title {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog-card-content-btn {
  border: 1px solid var(--white);
  color: var(--white);
}

/* ----- Video-columns section ----- */
.video-columns-contents,
.video-columns-media-wrapper {
  width: 50%;
}

.video-columns-contents {
  max-width: 618px;
}

.video-columns-title {
  font-weight: 500;
  position: relative;
}

.video-columns-title::before {
  content: "";
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-100);
  position: absolute;
  top: -8%;
  left: -2%;
  z-index: -1;
}

.video-columns-dec {
  max-width: 560px;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
}

.video-columns-dec::after {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--secondary-100);
  position: absolute;
  bottom: 40%;
  right: -2%;
}

.video-columns-btn {
  max-width: max-content;
  font-size: 20px;
  color: var(--text-color);
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: all 0.3s ease-in-out;
}

.video-columns-btn:hover {
  color: var(--secondary);
}

.video-columns-media-wrapper {
  max-width: 700px;
  padding: 20px;
}

.video-columns-media-wrapper,
.video-columns-media {
  position: relative;
}

.video-columns-media img {
  border-radius: 22px;
}

.video-columns-media::before,
.video-columns-media::after {
  position: absolute;
  z-index: -1;
  aspect-ratio: 1;
  border-radius: 22px;
  overflow: hidden;
}

.video-columns-media::before {
  content: "";
  width: 22%;
  background-color: var(--skyblue-400);
  top: -5%;
  left: -3%;
}

.video-columns-media::after {
  content: "";
  width: 38%;
  background-color: var(--secondary);
  bottom: -5%;
  right: -3%;
}

.video-columns-play-btn {
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-columns-play-btn svg {
  width: 52%;
  aspect-ratio: 1;
  color: var(--skyblue-400);
}

/* ----- Features section ----- */
.features-section .two-columns-wrapper {
  margin-top: 140px;
}

.features-media-wrapper {
  width: 60%;
  max-width: 780px;
}

.features-first-decore,
.features-second-decore,
.features-first-decore::after,
.features-second-decore::before {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.features-first-decore,
.features-second-decore {
  z-index: -1;
}

.features-first-decore {
  width: 15%;
  background-color: var(--mediumspringgreen);
  top: -12%;
  left: 8%;
}

.features-second-decore {
  width: 25%;
  background-color: var(--primary-200);
  bottom: 0;
  right: 12%;
}

.features-first-decore::after,
.features-second-decore::before {
  content: "";
}

.features-first-decore::after {
  width: 26%;
  background-color: var(--skyblue-400);
  top: 0;
  right: -50%;
}

.features-second-decore::before {
  width: 16%;
  background-color: var(--salmon);
  bottom: 10px;
  left: -40px;
}

.features-media-container {
  position: relative;
}

.features-media-container,
.features-media {
  max-width: 742px;
}

.features-content {
  width: 40%;
  max-width: 520px;
}

.features-content .title-tag {
  margin-bottom: 50px;
}

.features-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.features-item-media {
  width: 58px;
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.features-item-media img {
  width: 40%;
}

.features-dec {
  font-size: 20px;
}

/* -- Learning section -- */
.learning-content-wrapper {
  width: 40%;
  max-width: 400px;
}

.learning-meida-wrapper {
  width: 60%;
  max-width: 816px;
}

.learning-meida-container {
  background-image: url(../images/skilline-img-05-decore.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  position: relative;
}

.learning-media {
  max-width: 396px;
  position: relative;
  z-index: 4;
}

.learning-media::after {
  content: "";
  width: 230px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--salmon);
  position: absolute;
  z-index: -1;
  top: 14%;
  left: 18%;
}

.learning-logic-container,
.learning-logic-media,
.learning-users-container,
.learning-users-media {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: var(--white);
}

.learning-logic-container,
.learning-users-container {
  width: 80px;
  border-radius: 18px;
  box-shadow: 0 14px 44px 0 rgb(86 91 221 / 0.1);
  position: absolute;
}

.learning-logic-media,
.learning-users-media {
  width: 72%;
  border-radius: 18px;
  box-shadow: 0 16px 44px 0 rgb(13 15 28 / 0.1);
}

.learning-logic-media img,
.learning-users-media img {
  width: 62%;
}

.learning-logic-container {
  top: 18%;
  left: 16%;
  transform: rotate(-14deg);
}

.learning-users-container {
  top: 20%;
  right: 12%;
  transform: rotate(10deg);
}

.learning-decor {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.orange-dot {
  background-color: var(--secondary-300);
  left: 8%;
  bottom: 26%;
}

.blue-dot {
  background-color: var(--primary-600);
  right: 14%;
  bottom: 12%;
}

.green-dot {
  background-color: var(--mediumspringgreen);
  right: 27%;
  top: 4%;
}

/* ----- Quizzes section ----- */
.quizzes-media {
  width: 50%;
  max-width: 668px;
  position: relative;
}

.quizzes-media::after,
.quizzes-media::before,
.quizzes-first-decore::after {
  content: "";
}

.quizzes-media::after,
.quizzes-media::before {
  width: 3%;
}

.quizzes-first-decore,
.quizzes-media::after,
.quizzes-media::before,
.quizzes-first-decore::after {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.quizzes-first-decore {
  width: 12%;
  background-color: var(--primary-100);
  top: 4%;
  left: 1%;
  z-index: -1;
}

.quizzes-first-decore::after {
  width: 22%;
  background-color: var(--secondary-300);
  top: -22%;
  right: -40%;
}

.quizzes-media::before {
  background-color: var(--mediumspringgreen);
  left: 1%;
  bottom: 10%;
}

.quizzes-media::after {
  background-color: var(--palevioletred);
  right: 14%;
  bottom: 48%;
}

.quizzes-content-wrapper {
  width: 50%;
  max-width: 554px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.quizzes-content-wrapper .title,
.quizzes-content-wrapper .description {
  max-width: 392px;
}

/* -- Management section -- */
.management-content {
  width: 40%;
}

.management-content .title {
  max-width: 360px;
}

.management-media-wrapper {
  width: 60%;
  max-width: 662px;
  position: relative;
}

.management-media-wrapper::before {
  content: "";
  width: 44%;
  height: 44%;
  border-radius: 16px;
  position: absolute;
  bottom: 4%;
  left: 2%;
  background-color: var(--skyblue-50);
  z-index: -1;
}

.management-first-decore,
.management-second-decore,
.management-first-decore::before,
.management-second-decore::before,
.management-third-decore,
.management-third-decore::after {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.management-first-decore,
.management-second-decore {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 34px 0 rgb(0 0 0 / 0.1);
  z-index: 1;
}

.management-first-decore::before,
.management-second-decore::before {
  content: "";
  z-index: -1;
  background-color: rgb(255 255 255 / 42%);
  box-shadow: 0 0 28px 0px rgb(0 0 0 /0.1);
}

.management-first-decore {
  width: 12%;
  top: 2%;
  left: 4%;
}

.management-first-decore img {
  width: 96%;
}

.management-first-decore::before {
  width: 130%;
}

.management-second-decore {
  width: 10%;
  top: 15%;
  right: 4%;
}

.management-second-decore img {
  width: 62%;
}

.management-second-decore::before {
  width: 134%;
}

.management-third-decore,
.management-third-decore::after {
  background-color: var(--skyblue-100);
}

.management-third-decore {
  width: 5%;
  top: -2%;
  right: 7%;
}

.management-third-decore::after {
  content: "";
  width: 46%;
  position: absolute;
  top: 90%;
  right: -95%;
}

/* -- Discussions section -- */
.discussions-media-container {
  width: 60%;
  max-width: 650px;
  padding: 20px 58px 84px 20px;
}

.discussions-media-wrapper {
  padding: 24px;
  position: relative;
}

.discussions-first-decore,
.discussions-first-decore::before,
.discussions-media,
.discussions-media-wrapper::before,
.discussions-second-decore {
  position: absolute;
}

.discussions-first-decore,
.discussions-first-decore::before,
.discussions-media-wrapper::before,
.discussions-second-decore {
  aspect-ratio: 1;
}

.discussions-first-decore::before,
.discussions-media-wrapper::before {
  content: "";
}

.discussions-first-decore {
  width: 12%;
  background-color: var(--white);
  box-shadow: 0 0 34px 0 rgb(0 0 0 / 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  left: 12%;
  z-index: 10;
}

.discussions-first-decore img {
  width: 62%;
}

.discussions-first-decore::before {
  width: 120%;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 42%);
  box-shadow: 0 0 28px 0px rgb(0 0 0 / 0.1);
}

.discussions-media-wrapper::before {
  width: 32%;
  background-color: var(--skyblue-200);
  border-radius: 16px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.discussions-second-decore {
  width: 16%;
  border: 18px solid var(--skyblue-200);
  border-radius: 50%;
  top: -1%;
  right: -1%;
  z-index: -1;
}

.discussions-second-decore::after {
  content: url(../images/svg/triangle.svg);
  width: 40%;
  position: absolute;
  top: 126%;
  right: -122%;
}

.discussions-media {
  width: 98%;
  bottom: -35%;
  left: 12%;
}

.discussions-content {
  width: 40%;
}

.discussions-content .title,
.discussions-content .description {
  max-width: 438px;
}

.features-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.features-btn {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.features-btn:hover {
  border-color: rgb(0 0 0 / 0.2);
  color: var(--white);
}

/* ----- Integrations section ----- */
