.header {
  padding: 12px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid transparent;
  background-color: var(--oldlace);
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
  transition: all 0.3s ease-in-out;
}

/* .body-scroll {
  overflow: hidden;
} */

.header-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-logo {
  width: 116px;
  height: 66px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-logo-media {
  width: 68px;
  height: 68px;
}

.header-logo-media svg {
  width: 67px;
  aspect-ratio: 1;
}

.header-logo-tag {
  font-size: 26px;
  font-weight: 600;
  color: var(--darkslategray);
  position: absolute;
  top: 14px;
  left: 22px;
}

.header-link-contents {
  display: flex;
  align-items: center;
}

.header-link-contents,
.header-link-wrapper,
.header-btn-wraper {
  gap: 40px;
}

.header-link-wrapper,
.header-btn-wraper {
  display: flex;
  align-items: center;
}

.header-link {
  padding: 10px;
  color: var(--navy-blue-200);
  position: relative;
  height: 100%;
}

.header-link,
.header-btn {
  font-size: 18px;
  text-transform: capitalize;
}

.login-btn {
  color: var(--dimgray);
  box-shadow: 0 4px 8px 0px rgb(0 0 0 / 11%);
  transition: all 0.3s ease-in-out;
}

.header-link::before,
.header-link::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  background: var(--skyblue-400);
  transition: all 0.3s ease-in-out;
}

.header-link:hover::before,
.header-link:hover::after {
  width: 50%;
}

.header-link::before {
  right: 50%;
}

.header-link:hover::before {
  right: 0;
}

.header-link::after {
  left: 50%;
  right: 0;
}

.header-link:hover::after {
  left: 0;
}

.nav-toggle {
  width: 38px;
  aspect-ratio: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: 2px solid var(--navy-blue-200);
  border-radius: 6px;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 3px;
  border-radius: 4px;
  background: var(--navy-blue-200);
  transition: all 0.3s ease-in-out;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: translate(0, 7px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: translate(0, -7px) rotate(-45deg);
}

.responsive-header-btn {
  display: none;
}

/* ----- Footer ----- */
.footer {
  margin-top: auto;
  padding: 50px 0;
  background-color: var(--navy-blue-200);
}

.footer-content-wrapper {
  max-width: 522px;
  margin: 0 auto;
  text-align: center;
}

.footer-media-wrapper {
  max-width: 308px;
  display: flex;
  align-items: center;
  margin: 0 auto 80px;
}

.footer-logo-container {
  width: 250px;
  display: flex;
  position: relative;
  border-right: 1px solid var(--slategray);
}

.footer-logo svg {
  width: 66px;
  aspect-ratio: 1;
}

.footer-logo-content {
  color: var(--white);
  position: absolute;
  top: 15px;
  left: 22px;
  font-size: 26px;
  font-weight: 600;
}

.footer-media-tag {
  text-align: start;
  color: var(--white);
  font-size: 24px;
  padding-left: 22px;
}

.footer-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-form-wrapper {
  margin-bottom: 70px;
}

.footer-form-title {
  font-weight: 400;
  color: var(--lightsteelblue);
  margin-bottom: 20px;
}

.footer-form-input {
  width: 100%;
  color: var(--white);
  border: 1px solid var(--lightslategray);
  border-radius: 36px;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  padding: 14px 26px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.footer-form-input::placeholder {
  color: var(--lightslategray);
}

.footer-form-input:focus {
  border-color: var(--silver);
}

.footer-form-btn {
  width: 40%;
  background: linear-gradient(
    149deg,
    rgb(84, 90, 231) 50%,
    rgba(57, 63, 207, 1) 100%
  );
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
  flex-wrap: wrap;
}

.footer-link {
  color: var(--lightsteelblue);
  font-size: 18px;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

.footer-link-container .footer-link:first-child {
  padding-left: 0;
}

.footer-link-container .footer-link:nth-child(2) {
  border-left: 1px solid var(--lightslategray);
  border-right: 1px solid var(--lightslategray);
}

.footer-link-container .footer-link:last-child {
  padding-right: 0;
}

.footer-copy-right {
  color: var(--lightsteelblue);
  margin-top: 26px;
  font-size: 18px;
}

/* ----- Hero section ----- */
.hero-section {
  padding: 50px 0;
  position: relative;
  background-color: var(--oldlace);
}

.hero-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-content-wrapper,
.hero-media {
  width: 50%;
}

.hero-content-title {
  margin-bottom: 40px;
}

.hero-content-dec {
  max-width: 436px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--slategray);
  margin-bottom: 30px;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.hero-join-btn {
  font-size: 600;
}

.hero-play-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-play-btn-media {
  width: 58px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px 0px #65dbff36;
}

.hero-play-btn-media svg {
  width: 28px;
  aspect-ratio: 1;
  color: var(--skyblue-400);
}

.hero-play-btn span {
  font-size: 18px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.hero-play-btn:hover span {
  color: var(--skyblue-400);
}

.hero-media {
  display: flex;
}

.hero-media-container {
  width: 100%;
  max-width: 605px;
  aspect-ratio: 1;
  flex-shrink: 0;
}

/* ----- Companies media section ----- */
.companies-media-section {
  padding: 50px 0;
}

.companies-media-title {
  text-align: center;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 50px;
}

.companies-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px 50px;
  flex-wrap: wrap;
}

.companies-media img {
  width: 140px;
  height: 40px;
}

/* ----- Services section ----- */
.services-section {
  padding: 50px 0;
}

.services-section-heading {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
}

.services-heading-title {
  margin-bottom: 24px;
}

.services-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 134px;
}

.services-card {
  max-width: 450px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  padding: 80px 32px 44px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.services-card:hover {
  transform: scale(1.05);
}

.services-card-media {
  width: 82px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
}

.services-card-media img {
  width: 36px;
  aspect-ratio: 1;
}

.bg-royalblue {
  background-color: var(--royalblue);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-skyblue {
  background-color: var(--skyblue-400);
}

.services-cards-wrapper .services-card:nth-child(3) .services-card-dec {
  max-width: 314px;
}

.services-card-title {
  max-width: 278px;
  color: var(--primary-color);
  font-weight: 500;
  flex-grow: 1;
  margin: 0 auto 22px;
}

.services-card-dec {
  font-size: 18px;
  line-height: 1.8;
  max-width: 328px;
  margin: 0 auto;
  color: var(--text-color);
}
