@font-face {
  font-family: "Lyon";
  src: url("../fonts/Lyon.woff2");
  src: url("../fonts/Lyon.woff2") format("woff2"),
    url("../fonts/Lyon.woff") format("woff"),
    url("../fonts/Lyon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Light.woff2");
  src: url("../fonts/MaisonNeue-Light.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Light.woff") format("woff"),
    url("../fonts/MaisonNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Book";
  src: url("../fonts/MaisonNeue-Book.woff2");
  src: url("../fonts/MaisonNeue-Book.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Book.woff") format("woff"),
    url("../fonts/MaisonNeue-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Bold.woff2");
  src: url("../fonts/MaisonNeue-Bold.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Bold.woff") format("woff"),
    url("../fonts/MaisonNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Mono.woff2");
  src: url("../fonts/MaisonNeue-Mono.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Mono.woff") format("woff"),
    url("../fonts/MaisonNeue-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Demi";
  src: url("../fonts/MaisonNeue-Demi.woff2");
  src: url("../fonts/MaisonNeue-Demi.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Demi.woff") format("woff"),
    url("../fonts/MaisonNeue-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Demi";
  src: url("../fonts/MaisonNeue-Demi_1.woff2");
  src: url("../fonts/MaisonNeue-Demi_1.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Demi_1.woff") format("woff"),
    url("../fonts/MaisonNeue-Demi_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Demi";
  src: url("../fonts/MaisonNeue-Demi_2.woff2");
  src: url("../fonts/MaisonNeue-Demi_2.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Demi_2.woff") format("woff"),
    url("../fonts/MaisonNeue-Demi_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Demi";
  src: url("../fonts/MaisonNeue-Demi_3.woff2");
  src: url("../fonts/MaisonNeue-Demi_3.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Demi_3.woff") format("woff"),
    url("../fonts/MaisonNeue-Demi_3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
