* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  border: 1px solid black;
  padding: 8px 26px;
  border-radius: 38px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ----- hero section ----- */
.hero-section {
  padding: 50px 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
}

.hero-content {
  width: 40%;
}

.hero-tag {
  font-size: 20px;
  color: #d2c1b6;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero-title {
  max-width: 150px;
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto 40px;
  color: #234c6a;
}

.hero-border-bar {
  width: 100px;
  height: 4px;
  background-color: #1b3c53;
}

.hero-dec {
  color: #456882;
  margin-top: 30px;
  margin-bottom: 40px;
}

.hero-btn {
  color: #456882;
  border-color: #456882;
}

.hero-slider {
  width: 60%;
}
