:root {
  --brand-primary: #7f56d9;
  --brand-primary-500: #7c5ebe;
  --brand-secondary: #f4ebff;
  --text-brand-secondary-700: #6941c6;
  --thistle: #e9d7fe;
  --text-primary-900: #f7f7f7;
  --text-primary: #181d27;
  --text-secondary: #414651;
  --dimgray-600: #535862;
  --lightgray-700: #cecfd2;
  --darkgray-400: #a4a7ae;
  --darkgray-600: #94979c;
  --dimgray-400: #61656c;
  --white: #ffffff;
  --whitesmoke: #e9eaeb;
  --bg-primary: #0c0e12;
  --bg-secondary: #fafafa;
  --darkslategray: #373a41;
  --border-primary: #d5d7da;
  --transparent: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--bg-secondary);
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 575px) {
  .btn-wrapper {
    width: 100%;
    flex-direction: column-reverse;
  }

  .btn-wrapper .btn {
    width: 100%;
    justify-content: center;
  }
}

.btn {
  font-size: 16px;
  border: 1px solid transparent;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary-500);
  color: var(--white);
}

.primary-btn:hover {
  background-color: var(--brand-primary-500);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--text-secondary);
  border-color: var(--border-primary);
}

.secondary-btn:hover {
  background-color: var(--border-primary);
}

.icon-color-darkgray {
  color: var(--darkgray-400);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.line-height-1_5 {
  line-height: 1.5;
}

.line-height-1_2 {
  line-height: 1.2;
}

/* ----- Start Common section padding ----- */
.section-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (max-width: 767px) {
  .section-padding {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
/* ----- End Common section padding ----- */

/* ----- Start Common section heading ----- */
.section-heading-wrapper {
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

.section-heading-icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-secondary);
  border-radius: 36px;
  margin: 0 auto 24px;
}

.section-heading-label {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-brand-secondary-700);
  margin-bottom: 12px;
}

.section-heading-title {
  margin-bottom: 20px;
  color: var(--text-primary);
}

.section-heading-dec {
  font-size: 20px;
  color: var(--dimgray-600);
}
@media (max-width: 767px) {
  .section-heading-label {
    font-size: 14px;
  }

  .section-heading-title {
    margin-bottom: 16px;
  }

  .section-heading-dec {
    font-size: 18px;
  }
  .section-heading-icon {
    margin-bottom: 16px;
  }
}
/* ----- End Common section heading ----- */

.h1,
h1 {
  font-size: 60px;
  font-weight: 600;
}
@media (max-width: 1023px) {
  .h1,
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 36px;
  }
}

.h2,
h2 {
  font-size: 48px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .h2,
  h2 {
    font-size: 30px;
  }
}

.h3,
h3 {
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .h3,
  h3 {
    font-size: 30px;
  }
}

.h4,
h4 {
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .h4,
  h4 {
    font-size: 24px;
  }
}

.h5,
h5 {
  font-size: 24px;
  font-weight: 600;
}

.h6,
h6 {
  font-size: 20px;
  font-weight: 400;
}
