:root {
  --brand-primary: #7f56d9;
  --brand-primary-500: #7c5ebe;
  --brand-secondary: #f4ebff;
  --text-brand-secondary-700: #6941c6;
  --thistle: #e9d7fe;
  --text-primary: #181d27;
  --text-secondary: #414651;
  --dimgray-600: #535862;
  --lightgray-700: #cecfd2;
  --darkgray-400: #a4a7ae;
  --darkgray-600: #94979c;
  --dimgray-400: #61656c;
  --white: #ffffff;
  --bg-primary: #0c0e12;
  --bg-secondary: #fafafa;
  --border-primary: #373a41;
  --border-primary: #d5d7da;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  border: 1px solid transparent;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary-500);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  background-color: var(--brand-primary-500);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--text-secondary);
  border-color: var(--border-primary);
  transition: all 0.3s ease-in-out;
}

.secondary-btn:hover {
  background-color: var(--border-primary);
}

.icon-color-darkgray {
  color: var(--darkgray-400);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.h1,
h1 {
  font-size: 60px;
  font-weight: 600;
}

@media (max-width: 1023px) {
  .h1,
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 776px) {
  .h1,
  h1 {
    font-size: 36px;
  }
}
