@media (max-width: 1023px) {
  /* ----- Social media section ----- */
  .social-media-section {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  /* ----- Features section ----- */
  .features-two-column-content-wrapper {
    min-height: 390px;
  }

  .two-column-content-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .two-column-content-dec {
    margin-bottom: 16px;
  }

  .two-column-content-future-list {
    gap: 13px;
  }

  /* ----- Footer ----- */
  .footer-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  /* ----- Header ----- */
  .header-wrapper {
    position: relative;
  }

  .header-link {
    justify-content: space-between;
  }

  .header-links-wrapper {
    display: none;
    width: 100%;
    position: absolute;
    top: 59px;
    right: 0;
    flex-direction: column;
    padding: 35px 30px 25px;
    background-color: var(--bg-secondary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .header-links-wrapper.active {
    display: flex;
  }

  .header-link-dropdown-overlay {
    position: static;
    margin-top: 0;
    border-radius: 0;
    background-color: var(--bg-secondary);
    box-shadow: none;
  }

  .dropdown-link {
    width: 100%;
  }

  .toggle-overlay {
    display: block;
  }

  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  /* ----- Social media section ----- */
  .slide-media {
    max-width: 130px;
  }

  /* ----- Integrations section ----- */
  .company-logos-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  /* ----- Cta section ----- */
  .cta-content-wrapper {
    flex-direction: column;
    padding: 40px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-title {
    font-size: 38px;
  }

  /* ----- Cta two column section ----- */
  .cta-two-column-title {
    font-size: 38px;
  }

  .cta-two-column-section .btn-wrapper {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-section {
    padding-bottom: 64px;
  }

  .hero-dec {
    margin: 0 auto 32px;
  }

  .hero-btn-wrapper {
    margin-bottom: 50px;
  }

  /* ----- Social media section ----- */
  .social-media-section {
    margin-top: 0;
  }

  .client-logo-slider::after,
  .client-logo-slider::before {
    width: 90px;
    min-height: 45px;
  }

  /* ----- Features section ----- */
  .features-section {
    padding-bottom: 64px;
  }

  .features-section .section-heading-wrapper {
    margin-bottom: 64px;
  }

  .instant-answers-card {
    padding-bottom: 64px;
  }

  .reports-card {
    padding-bottom: 48px;
  }

  .features-two-column-content-wrapper,
  .instant-answers-card .features-two-column-content-wrapper {
    flex-direction: column;
    gap: 40px;
    min-height: auto;
  }

  .two-column-content-title {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .two-column-content-dec {
    margin-bottom: 18px;
    font-size: 16px;
  }

  .two-column-content-future-dec {
    font-size: 16px;
  }

  .two-column-content,
  .two-column-media {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .instant-answers-card .two-column-content {
    padding-left: 0;
  }

  .two-column-media {
    position: static;
    transform: none;
  }

  .default-card-wrapper .two-column-media,
  .instant-answers-card-wrapper .two-column-media {
    transform: none;
  }

  /* ----- Integrations section ----- */
  .company-logos-wrapper {
    gap: 16px;
  }

  .company-logo-container {
    width: 75px;
    height: 75px;
  }

  .company-logo {
    width: 45px;
    height: 45px;
  }

  /* ----- Counter section ----- */
  .counter-content-wrapper {
    margin-top: 52px;
  }

  .counter-content-number {
    font-size: 38px;
  }

  .counter-content-wrapper-border {
    display: none;
  }

  /* ----- Testimonial section ----- */
  .testimonial-title {
    font-size: 30px;
  }

  .testimonial-media-wrapper {
    margin-bottom: 40px;
  }

  .testimonial-logo {
    min-width: 160px;
  }

  /* ----- Cta two column section ----- */
  .cta-two-column-wrapper {
    flex-direction: column;
  }

  .cta-two-column-content {
    width: 100%;
  }

  .cta-two-column-title {
    font-size: 30px;
  }

  .content-list-wrapper {
    gap: 16px;
  }

  .content-list-dec {
    font-size: 16px;
  }

  .cta-two-column-media {
    width: 100%;
    height: 100%;
    position: static;
    border-radius: 9px;
  }

  /* ----- Footer ----- */
  .footer {
    padding: 48px 0;
  }

  .footer-wrapper {
    gap: 48px;
    margin-bottom: 50px;
  }

  .footer-social-media-section {
    padding: 40px 0;
  }

  .footer-social-media {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media (max-width: 575px) {
  /* ----- Header ----- */
  .header-links-wrapper {
    top: 54px;
  }

  .header-responsive-btn-wrapper {
    display: block;
  }

  .header-responsive-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-responsive-btn .btn {
    justify-content: center;
  }

  .header .btn-wrapper {
    display: none;
  }

  /* ----- Hero section ----- */
  .hero-dec {
    font-size: 18px;
  }

  .hero-btn-wrapper {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .hero-btn-wrapper .btn {
    width: 100%;
    justify-content: center;
  }

  .hero-media {
    border-radius: 6px;
  }

  /* ----- Social media section ----- */
  .social-media-section::after,
  .social-media-section::before {
    width: 92px;
  }

  /* ----- Integrations section ----- */
  .company-logos-wrapper {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 48px;
  }

  .company-logo-container {
    width: 56px;
    height: 56px;
  }

  .company-logo {
    width: 35px;
    height: 35px;
  }

  .integrations-button {
    margin-top: 48px;
  }

  /* ----- Counter section ----- */
  .counter-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .wrapper-border {
    border: none;
  }

  .counter-content {
    gap: 8px;
  }

  /* ----- Footer ----- */
  .footer-links-wrapper {
    gap: 26px;
  }

  .footer-social-media-wrapper {
    gap: 18px;
  }
}

@media (max-width: 425px) {
  .social-media-section::after,
  .social-media-section::before {
    width: 45px;
  }
}
