.header {
  padding: 18px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-logo {
  color: var(--text-primary);
  font-size: 22px;
  font-weight: 600;
}

.header-links-wrapper {
  display: flex;
  gap: 12px;
}

.header-link-list {
  position: relative;
  /* overflow: hidden; */
}

.header-link svg {
  margin-left: 4px;
  color: var(--darkgray-400);
  transition: rotate 0.1s ease-in-out;
}

.header-link,
.dropdown-link {
  color: var(--text-secondary);
}

.header-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  padding: 6px 4px;
}

.header-link-dropdown-overlay {
  display: none;
  transition: all 0.3s ease-in-out;
}

.header-link-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  margin-top: 35px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-link {
  font-size: 16px;
}

.header-link-list:hover .header-link-dropdown-overlay {
  display: block;
}

.header-link-list:hover .header-link svg {
  rotate: 180deg;
}

.header-btns {
  display: flex;
  gap: 12px;
}

.header-btns .btn {
  padding: 10px 18px;
}

.toggle-overlay {
  display: none;
}

.nav-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 4px;
  background: var(--text-secondary);
  border-radius: 45px;
}
