/* ----- Header ----- */
.header {
  padding: 18px 0;
  background-color: var(--white);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-logo {
  color: var(--text-primary);
  font-size: 22px;
  font-weight: 600;
}

.header-links-wrapper {
  display: flex;
  gap: 2px;
}

.header-link-list {
  position: relative;
}

.header-link svg {
  color: var(--darkgray-400);
  transition: rotate 0.2s ease-in-out;
}

.header-link,
.dropdown-link {
  color: var(--text-secondary);
}

.header-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  padding: 4px 6px;
}

.header-link-dropdown-overlay {
  display: none;
  transition: all 0.3s ease-in-out;
}

.header-link-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  margin-top: 35px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-link {
  font-size: 16px;
}

.header-link-list:hover .header-link-dropdown-overlay {
  display: block;
}

.header-link-list:hover .header-link svg {
  rotate: 180deg;
}

.header-responsive-btn-wrapper {
  display: none;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 999;
}

.header-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 18px;
}

.toggle-overlay {
  display: none;
  cursor: pointer;
}

.nav-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 4px;
  background: var(--text-secondary);
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
}

/* ----- Hero section ----- */
.hero-section {
  padding-bottom: 0;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-title {
  margin-bottom: 24px;
}

.hero-dec {
  max-width: 768px;
  font-size: 20px;
  font-weight: 400;
  margin: 0 auto 48px;
  color: var(--dimgray-600);
  opacity: 1;
}

.hero-btn-wrapper {
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.hero-media {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  overflow: hidden;
}

.hero-media img {
  -webkit-user-drag: none;
}

/* ----- Social media section ----- */
.social-media-section {
  background-color: var(--white);
  margin-top: -220px;
  position: relative;
  border-top: 1px solid var(--whitesmoke);
  border-bottom: 1px solid var(--whitesmoke);
  overflow: hidden;
}

.social-media-dec {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: var(--dimgray-600);
  margin-bottom: 32px;
}

.client-logo-slider {
  position: relative;
}

.splide__track {
  overflow: visible !important;
}

.splide__list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.slide-media {
  max-width: 195px;
  height: 100%;
  color: transparent;
}

.social-media-section::after,
.social-media-section::before {
  content: "";
  width: 200px;
  min-height: 65px;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.social-media-section::after {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0.25) 10%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0.75) 40%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  left: 0;
}

.social-media-section::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0.25) 10%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0.75) 40%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  right: 0;
}

/* ----- Features section ----- */
.features-section,
.features-card-section {
  background-color: var(--white);
}

.features-section-content {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.features-section-tag {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-brand-secondary-700);
  margin-bottom: 12px;
}

.features-section-title {
  margin-bottom: 20px;
  color: var(--text-primary);
}

.features-section-dec {
  font-size: 20px;
  color: var(--dimgray-600);
}

.features-card-section {
  position: relative;
  min-height: 512px;
  overflow: hidden;
}

.features-two-column-content-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  min-height: 512px;
}

.two-column-content {
  width: 50%;
  max-width: 560px;
}

.two-column-content-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-secondary);
}

.two-column-content-icon svg {
  color: var(--brand-primary);
}

.two-column-content-title {
  color: var(--text-primary);
  margin-top: 20px;
  margin-bottom: 16px;
}

.two-column-content-dec {
  font-size: 18px;
  color: var(--dimgray-600);
  margin-bottom: 32px;
}

.two-column-content-future-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two-column-content-future {
  display: flex;
  gap: 12px;
  align-items: center;
}

.two-column-content-future svg {
  color: var(--brand-primary);
  flex-shrink: 0;
}

.two-column-content-future-dec {
  font-size: 18px;
  color: var(--dimgray-600);
}

.two-column-media {
  width: 50%;
  max-width: 762px;
  border: 1px solid var(--whitesmoke);
  border-radius: 17px;
  overflow: hidden;
  position: absolute;
  top: 50%;
}

.default-card-wrapper .two-column-media {
  right: -40px;
  transform: translate(0%, -50%);
}

.instant-answers-card {
  padding-top: 96px;
  padding-bottom: 96px;
}

.instant-answers-card-wrapper {
  flex-direction: row-reverse;
}

.instant-answers-card-wrapper .two-column-media {
  left: 13%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.reports-card {
  padding-bottom: 96px;
}

.reports-card-wrapper .two-column-media {
  transform: translate(0%, -62%);
}

/* ----- Integrations section ----- */
.company-logos-wrapper {
  max-width: 1024px;
  margin: 64px auto 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 32px;
}

.company-logo-container {
  width: 88px;
  height: 88px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-primary);
  border-radius: 12px;
  margin: 0 auto;
}

.integrations-button {
  margin-top: 76px;
  display: flex;
  justify-content: center;
}

/* ----- Counter section ----- */
.counter-section {
  background-color: var(--white);
}

.section-heading-icon svg {
  color: var(--brand-primary);
}

.counter-content-wrapper {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  margin-top: 64px;
}

.counter-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.counter-content-number {
  font-size: 60px;
  color: var(--brand-primary);
}

.counter-content-dec {
  color: var(--text-primary);
  font-size: 18px;
}

.counter-content-wrapper-border {
  border: 1px solid var(--whitesmoke);
}

/* ----- Cta section ----- */
.cta-section {
  background-color: var(--white);
}

.cta-content-wrapper {
  max-width: 1216px;
  display: flex;
  gap: 32px;
  align-items: start;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  border-radius: 16px;
  padding: 64px;
}

.cta-content-title {
  color: var(--text-primary);
  margin-bottom: 20px;
}

.cta-content-dec {
  font-size: 20px;
  color: var(--dimgray-600);
}

/* ----- Testimonial section ----- */
.testimonial-content-wrapper {
  max-width: 1216px;
}

.testimonial-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}

.testimonial-media-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.testimonial-media-avatar {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  overflow: hidden;
  margin-bottom: 16px;
}

.testimonial-media-title {
  font-size: 18px;
  color: var(--text-primary);
  margin-bottom: 4px;
}

.testimonial-media-dec {
  font-size: 16px;
  color: var(--dimgray-600);
}

.testimonial-logo-wrapper {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 32px;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}

.testimonial-logo-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.testimonial-logo-wrapper::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

.testimonial-logo {
  min-width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* ----- Cta two column section ----- */
.cta-two-column-section {
  background-color: var(--white);
  position: relative;
  overflow: hidden;
}

.cta-two-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.cta-two-column-content {
  width: 50%;
}

.cta-two-column-title {
  color: var(--text-primary);
  margin-bottom: 32px;
}

.content-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-list {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    color: var(--brand-primary);
    flex-shrink: 0;
  }
}

.content-list-dec {
  font-size: 18px;
  color: var(--dimgray-600);
}

.cta-two-column-section .btn-wrapper {
  margin-top: 48px;
}

.cta-two-column-media {
  width: 50%;
  height: 416px;
  position: absolute;
  bottom: -18px;
  right: -2%;
  border: 1px solid var(--whitesmoke);
  border-radius: 26px;
  overflow: hidden;
}

/* ----- Footer ----- */
.footer {
  background-color: var(--bg-primary);
}

.footer-section {
  padding-top: 64px;
  padding-bottom: 48px;
}

.footer-wrapper {
  display: flex;
  gap: 64px;
}

.footer-media-content {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-logo {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
}

.footer-media-dec {
  font-size: 16px;
  color: var(--darkgray-600);
}

.ratings-content-wrapper {
  max-width: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ratings-content-wrapper::before,
.ratings-content-wrapper::after {
  position: absolute;
  top: -5px;
}
.ratings-content-wrapper::before {
  content: url(../image/wreath-left.svg);
  left: 0;
}

.ratings-content-wrapper::after {
  content: url(../image/wreath-right.svg);
  right: 0;
}

.rating-star {
  display: flex;
  gap: 2px;
}

.ratings-content-dec {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-primary-900);
  margin-top: 4px;
}

.ratings-content-reviews {
  font-size: 12px;
  color: var(--lightgray-700);
}

.footer-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 32px;
}

.footer-links-content {
  min-width: 140px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  color: var(--darkgray-600);
}

.footer-link-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 5px;
}

.footer-link-anchor {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkgray-600);
}

.new-label {
  border: 1px solid var(--darkslategray);
  color: var(--lightgray-700);
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.5;
}

.footer-social-media-section {
  padding: 48px 0;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer-copy-right {
  font-size: 16px;
  color: var(--darkgray-600);
}

.footer-social-media-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
}

.footer-social-media-icon {
  width: 24px;
  height: 24px;
}
