.header {
  padding: 18px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-logo {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 600;
}

.header-links-wrapper {
  display: flex;
  gap: 20px;
}

.header-link-list {
  position: relative;
  /* overflow: hidden; */
}

.header-links-wrapper svg {
  margin-left: 4px;
  color: var(--darkgray-400);
}

.header-link,
.dropdown-link {
  color: var(--text-secondary);
}

.header-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
}

.header-link-dropdown-overlay {
  display: none;
  transition: display 0.3s ease-in-out;
}

.header-link-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-link {
  font-size: 16px;
}

.header-link-list:hover .header-link-dropdown-overlay {
  display: block;
}

.header-btns {
  display: flex;
  gap: 12px;
}

.header-btns .btn {
  padding: 10px 18px;
}
