/* ----- Header ----- */
.header {
  padding: 18px 0;
  background-color: var(--white);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-logo {
  color: var(--text-primary);
  font-size: 22px;
  font-weight: 600;
}

.header-links-wrapper {
  display: flex;
  gap: 2px;
}

.header-link-list {
  position: relative;
}

.header-link svg {
  color: var(--darkgray-400);
  transition: rotate 0.2s ease-in-out;
}

.header-link,
.dropdown-link {
  color: var(--text-secondary);
}

.header-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  padding: 4px 6px;
}

.header-link-dropdown-overlay {
  display: none;
  transition: all 0.3s ease-in-out;
}

.header-link-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  margin-top: 35px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-link {
  font-size: 16px;
}

.header-link-list:hover .header-link-dropdown-overlay {
  display: block;
}

.header-link-list:hover .header-link svg {
  rotate: 180deg;
}

.header-responsive-btn-wrapper {
  display: none;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 999;
}

.header-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 18px;
}

.toggle-overlay {
  display: none;
  cursor: pointer;
}

.nav-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 4px;
  background: var(--text-secondary);
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
}

/* ----- Hero section ----- */
.hero-section {
  padding-top: 96px;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-title {
  margin-bottom: 24px;
}

.hero-dec {
  max-width: 768px;
  font-size: 20px;
  font-weight: 400;
  margin: 0 auto 48px;
  color: var(--dimgray-600);
  opacity: 1;
}

.hero-btn-wrapper {
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.hero-media {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  overflow: hidden;
}

.hero-media img {
  -webkit-user-drag: none;
}
