@media (max-width: 767px) {
  /* ----- Sidebar section ----- */
  .sidebar-container {
    max-width: 100%;
  }

  /* ----- Modal section ----- */
  .input-wrapper {
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }

  .select-list,
  .second-form-content,
  .second-form-media {
    width: 100%;
  }

  .form-btn {
    padding: 20px 100px;
  }
}

@media (max-width: 575px) {
  /* ----- Sidebar section ----- */
  .sidebar-content-wrapper {
    padding: 40px 30px;
  }

  /* ----- Modal section ----- */
  .modal-wrapper {
    padding: 16px;
  }

  .modal-container {
    padding: 26px;
  }

  .modal-form-content {
    margin-top: 64px;
    margin-bottom: 20px;
  }

  .modal-form-title {
    font-size: 28px;
  }

  .option-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .form-btn {
    padding: 14px 42px;
  }
}
