:root {
  --yellow: #ffff00;
  --black: #000000;
  --white: #ffffff;
  --gray: rgb(255 255 255 / 44%);
  --lightgray: #cccccc;
  --red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
}

.btn {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  font-size: 18px;
  font-family: inherit;
  padding: 12px 22px;
  border-radius: 36px;
  cursor: pointer;
}

.body-hidden {
  overflow: hidden;
}

/* ----- Sidebar section ----- */
.sidebar-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.sidebar-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.sidebar-btn:hover {
  border-color: var(--lightgray);
  transform: scale(1.08);
}

.sidebar-btn-icon {
  width: 0;
  height: 24px;
  aspect-ratio: 1;
  transform: translateX(0px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.bg-overlay.active {
  opacity: 60%;
  visibility: visible;
}

.sidebar-wrapper {
  overflow: hidden;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 4;
}

.sidebar-container {
  max-width: 582px;
  height: 100vh;
  visibility: hidden;
  overflow: auto;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
  opacity: 80%;
}

.sidebar-container.active {
  transform: translateX(0);
  visibility: visible;
}

.close-btn-wrapper {
  display: flex;
  justify-content: end;
  padding: 18px;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--black);
}

.sidebar-close-btn {
  width: 42px;
  height: 42px;
  border-radius: 36px;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar-close-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.sidebar-content-wrapper {
  padding: 40px 56px;
}

.content-title {
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 2px;
}

.content-title span {
  color: var(--yellow);
  font-weight: 500;
}

.sidebar-content {
  margin-top: 16px;
}

.content-tag {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 12px;
}

.content-dec {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.5;
}

.content-lists {
  padding-left: 18px;
}

.content-list-item::marker {
  color: var(--white);
}

.get-in-btn {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 26px;
  text-transform: uppercase;
  background-color: var(--yellow);
  color: var(--black);
  margin-top: 28px;
}

/* ----- Modal section ----- */
.modal-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
}

.modal-btn {
  border: 2px solid transparent;
  background-color: var(--yellow);
  font-size: 18px;
  font-family: inherit;
  padding: 12px 22px;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-btn:hover {
  border-color: var(--lightgray);
  transform: scale(1.08);
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 60%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal-container {
  max-width: 696px;
  width: 100%;
  background-color: var(--white);
  padding: 40px;
  margin: auto;
  position: relative;
}

.modal-wrapper {
  display: flex;
  padding: 30px;
  position: fixed;
  inset: 0;
  z-index: 999;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

.modal-close-btn {
  border: none;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s ease-in-out;
}

.modal-close-btn:hover {
  color: var(--black);
  background-color: var(--yellow);
}

.modal-form-wrapper {
  text-align: center;
}

.modal-form-content {
  text-align: center;
  margin-top: 30px;
}

.modal-form-title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.option-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.option-content *,
label {
  cursor: pointer;
}

.option-content {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 6px;
}

.option-content input[type="radio"] {
  width: 22px;
  height: 22px;
  appearance: none;
  -webkit-appearance: none;
  border: 0.15rem solid var(--lightgray);
  background-color: var(--white);
  border-radius: 50%;
}

.option-content input[type="radio"]:checked {
  background-image: url('data:image/svg+xml,<svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1.5" width="18" height="18" rx="9" fill="%23FFFF00"/><path d="M19.5 3L7.125 15L1.5 9.54545" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  border-color: var(--yellow);
}

.first-form-wrapper,
.second-form-wrapper {
  margin-top: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-box {
  border: none;
  border-bottom: 1px solid var(--lightgray);
  padding: 8px;
  font-size: 16px;
  font-family: inherit;
}

.first-form-box {
  width: 100%;
}

.input-box:focus {
  outline: none;
}

.input-box::placeholder {
  color: var(--black);
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px 10px;
}

.select-list {
  width: 50%;
}

.form-dec {
  text-align: left;
  font-size: 14px;
  margin-top: 14px;
}

.form-btn {
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  background-color: var(--yellow);
  color: var(--black);
  margin-top: 22px;
  padding: 20px 160px;
  cursor: pointer;
}

.newsletters-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.newsletters-input input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid var(--black);
  color: var(--white);
  border-radius: 2px;
  position: relative;
}

.newsletters-input input[type="checkbox"]::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
  color: var(--white);
  position: absolute;
  inset: 0;
  display: none;
}

.newsletters-input input[type="checkbox"]:checked {
  background-color: var(--yellow);
  color: var(--white);
}

.newsletters-input input[type="checkbox"]:checked::after {
  display: block;
}

.second-form-wrapper {
  display: none;
}

.second-form-media-wrapper {
  margin-top: 30px;
  flex-wrap: wrap;
}

.second-form-content {
  width: 33%;
}

.second-form-media {
  width: 49%;
}

.second-form-media label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-form-media label::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23cccccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload-icon lucide-upload"><path d="M12 3v12"/><path d="m17 8-5-5-5 5"/><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/></svg>');
}

.form-media-input {
  display: none;
}
