:root {
  --white: #ffffff;
  --blue-850: #1c2645;
  --blue-950: #192647;
  --blue-900: #1c2644;
  --stone-500: #707070;
  --neutral-200: #f8f8f8;
  --neutral-250: #dcd9d9;
  --neutral-300: #eceded;
  --stone-200: #ebebeb;
  --stone-250: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding-inline: 20px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 26px;
  padding: 13px 20px;
}

h1,
.h1 {
  font-size: 55px;
}

h2,
.h2 {
  font-size: 45px;
}

h3,
.h3 {
  font-size: 35px;
}

h4,
.h4 {
  font-size: 22px;
}

h6,
.h6 {
  font-size: 14px;
}

@media (max-width: 575px) {
  h3,
  .h3 {
    font-size: 30px;
  }
}

.section-tag {
  font-family: "Maison Neue";
  font-weight: bold;
  font-size: 14px;
  color: var(--stone-500);
  opacity: 50%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
