@media (max-width: 1023px) {
  /* ----- Slider section ----- */
  .slider-section {
    padding-top: 57px;
    padding-bottom: 140px;
  }

  .slider-content-tag {
    margin-bottom: 22px;
  }

  .splide__pagination {
    bottom: -64px !important;
  }

  /* -----  about mediation section ----- */
  .about-mediation-section {
    padding-block: 57px;
  }

  .about-mediation-content-tag {
    margin-bottom: 26px;
  }

  .about-mediation-content-title {
    margin-bottom: 22px;
  }

  .about-mediation-content-dec {
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  /* ----- Nav bar ----- */

  .toggle-block {
    display: block;
  }

  .nav-toggle.active :nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.active :nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }

  .nav-toggle.active :nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links-block {
    display: none;
  }

  .nav-links-block.active {
    display: block;
  }

  .nav-links-block {
    position: absolute;
    top: 0;
    right: -20px;
    width: 250px;
    height: 90vh;
    background: var(--neutral-200);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-links-wrapper {
    position: absolute;
    top: 95px;
    right: 0;
    left: 0;
    padding-block: 30px;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links-wrapper a {
    width: 100%;
    text-align: center;
  }

  .nav-links-wrapper .btn {
    border-radius: 0;
    background-color: var(--neutral-300);
  }

  .nav-links-wrapper a::before {
    display: none;
  }
}

@media (max-width: 575px) {
  .nav-links-block {
    width: 100%;
    left: 0;
  }

  .nav-links-wrapper {
    top: 95px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    height: auto;
    display: inline-block;
  }

  .image-div {
    width: 100%;
    height: 300px;
  }

  .hero-section-image {
    width: 100%;
    height: 100%;
    position: static;
  }

  .hero-section .container {
    height: auto;
    margin-top: -7px;
  }

  .hero-section-contents {
    max-width: 318px;
    height: auto;
    margin-inline: auto;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .hero-section-contents-dec {
    color: var(--stone-500);
    opacity: 25%;
  }

  .hero-section-contents-title {
    font-family: "Maison Neue";
    font-weight: 300;
    font-size: 40px;
    color: var(--blue-950);
  }

  .hero-section-btns .btn {
    padding: 13px 17px;
  }

  .hero-section-case-studies-btn {
    border-color: var(--stone-200);
    color: var(--blue-950);
  }
}

@media (max-width: 767px) {
  /* ----- Slider section ----- */
  .slider-section {
    padding-top: 38px;
    padding-bottom: 112px;
  }

  .slider-content-title {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .splide__pagination__page {
    width: 25px !important;
  }

  .splide__pagination {
    gap: 5px;
  }
}
