@media (max-width: 1150px) {
  /* ----- Case studies section ----- */
  .case-studies-cards-wrapper {
    gap: 40px;
  }
}

@media (max-width: 1023px) {
  /* ----- Slider section ----- */
  .slider-section {
    padding-top: 57px;
    padding-bottom: 140px;
  }

  .slider-content-tag {
    margin-bottom: 22px;
  }

  .slider-section .splide__pagination {
    bottom: -64px !important;
  }

  /* -----  about mediation section ----- */
  .about-mediation-section {
    padding-block: 57px;
  }

  .about-mediation-content-tag {
    margin-bottom: 26px;
  }

  .about-mediation-content-title {
    margin-bottom: 22px;
  }

  .about-mediation-content-dec {
    margin-bottom: 26px;
  }

  /* ---------------------------------------- MEDIATION HTML ----------------------------------------*/
  /* ----- Cta section ----- */
  .cta-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  /* ----- Two column section ----- */
  .two-column-content {
    padding: 92px 30px 92px 64px;
  }

  /* ----- Mediation faq section ----- */
  .mediation-faq-section {
    padding-block: 70px;
  }

  .mediation-faq-section .section-tag {
    margin-bottom: 34px;
  }

  .mediation-faq-content-title {
    margin-bottom: 54px;
  }

  /* ---------------------------------------- PROCESS HTML ----------------------------------------*/
  /* ----- Process Preparing mediation ----- */
  .preparing-mediation-section {
    padding-top: 75px;
    padding-bottom: 50px;
  }

  .section-title {
    margin-bottom: 80px;
  }

  /* ---------------------------------------- RESOURCE_HUB HTML ----------------------------------------*/
  /* ----- ResourceHub Card section ----- */
  .x2-card-wrapper {
    gap: 40px;
  }

  .resource-hub-card-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* ---------------------------------------- FAQS HTML ----------------------------------------*/
  /* ----- Faqs section ----- */
  .faqs-section {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  .faqs-section-info {
    margin-bottom: 80px;
  }

  /* ---------------------------------------- CONTACT US HTML ----------------------------------------*/
  /* ----- Contact us section ----- */
}

@media (max-width: 991px) {
  /* ----- Nav bar ----- */
  .toggle-block {
    display: block;
  }

  .nav-toggle.active :nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.active :nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }

  .nav-toggle.active :nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links-block {
    display: none;
  }

  .nav-links-block.active {
    display: block;
  }

  .nav-links-block {
    position: absolute;
    top: 0;
    right: -20px;
    width: 250px;
    height: 90vh;
    background: var(--neutral-200);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-links-wrapper {
    position: absolute;
    top: 95px;
    right: 0;
    left: 0;
    padding-block: 30px;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links-wrapper a {
    width: 100%;
    text-align: center;
  }

  .nav-links-wrapper .btn {
    border-radius: 0;
    background-color: var(--neutral-300);
  }

  .nav-links-wrapper a::before {
    display: none;
  }

  /* ----- Case studies section ----- */
  .case-studies-section {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .case-studies-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ---------------------------------------- RESOURCE_HUB HTML ----------------------------------------*/
  /* ----- ResourceHub Card section ----- */
  .resource-hub-card-container {
    margin-top: 60px;
  }

  /* ---------------------------------------- CASE_STUDY HTML ----------------------------------------*/
  /* ----- Case-study Slider section ----- */
  .case-study-slider-section {
    padding-top: 52px;
    padding-bottom: 60px;
  }

  .case-study-slider {
    margin-top: 60px;
  }

  .case-study-slider-section .splide__pagination {
    bottom: 40px;
    left: 40px;
  }
  .case-study-slider-contents {
    margin-top: 55px;
  }

  /* ----- Case-study Our solution section ----- */
  .case-study-our-solution-section {
    padding-top: 62px;
    padding-bottom: 60px;
  }

  .case-study-our-solution-section .arrow-btn {
    margin-top: 44px;
  }

  /* ---------------------------------------- FAQS HTML ----------------------------------------*/
  /* ----- Faqs section ----- */
  .faqs-section-info-title {
    margin-bottom: 42px;
  }

  /* ---------------------------------------- CONTACT US HTML ----------------------------------------*/
  /* ----- Contact us section ----- */
  .contact-us-section {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  .contact-us-section-title {
    margin-bottom: 80px;
  }

  .contact-us-section-wrapper {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  /* ----- Slider section ----- */
  .slider-section {
    padding-top: 38px;
    padding-bottom: 112px;
  }

  .slider-content-title {
    font-size: 30px;
  }

  /* ----- Two column faq section ----- */
  .faq-section-wrapper {
    flex-direction: column-reverse;
  }

  .faq-section-wrapper-media {
    width: auto;
    height: auto;
    position: static;
    margin-inline: -20px;
  }

  .faq-section-content {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .two-column-faq-section .section-tag {
    margin-bottom: 50px;
  }
  /* ---------------------------------------- MEDIATION HTML ----------------------------------------*/
  /* ----- Two column section ----- */
  .two-column-wrapper {
    flex-direction: column;
  }

  .two-column-media {
    width: auto;
    position: static;
    margin-inline: -20px;
  }

  .two-column-content {
    width: 100%;
    padding: 60px 0;
  }

  .two-column-content-title,
  .two-column-content-dec {
    margin-bottom: 30px;
  }
  /* ---------------------------------------- PROCESS HTML ----------------------------------------*/
  /* ----- Process Preparing mediation ----- */
  .preparing-mediation-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }

  .section-title {
    margin-bottom: 48px;
  }

  /* ---------------------------------------- RESOURCE_HUB HTML ----------------------------------------*/
  /* ----- ResourceHub Card section ----- */
  .x2-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .resource-hub-card-section .case-studies-card-content {
    padding: 32px 35px 40px;
  }

  /* ---------------------------------------- CASE_STUDY HTML ----------------------------------------*/
  /* ----- Case-study Slider section ----- */
  .case-study-slider-contents {
    flex-direction: column;
    gap: 52px;
  }

  .case-study-slider-content-detail,
  .case-study-slider-content-project-details {
    width: 100%;
  }
  /* ----- Case-study Two column section ----- */
  .case-study-two-column-section .section-tag {
    margin-bottom: 66px;
  }

  /* ---------------------------------------- FAQS HTML ----------------------------------------*/
  /* ----- Faqs section ----- */
  .faqs-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .faqs-section-info-title {
    margin-bottom: 30px;
  }

  .faqs-section-info-dec {
    margin-bottom: 40px;
  }

  .faqs-section-info {
    margin-bottom: 60px;
  }

  /* ---------------------------------------- CONTACT US HTML ----------------------------------------*/
  /* ----- Contact us section ----- */
  .contact-us-section {
    padding-top: 56px;
    padding-bottom: 60px;
  }

  .contact-us-section-title {
    margin-bottom: 46px;
  }

  .contact-us-section-wrapper {
    flex-direction: column;
    gap: 55px;
    margin-bottom: 52px;
  }

  .contact-us-section-details-tag {
    margin-bottom: 40px;
  }

  .contact-us-section-details-tell {
    margin-bottom: 22px;
  }

  .contact-us-section-form {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .nav-links-block {
    width: 100%;
    left: 0;
  }

  .nav-links-wrapper {
    top: 95px;
  }

  /* ----- Hero section ----- */
  .hero-section {
    height: auto;
    display: inline-block;
  }

  .image-div {
    width: 100%;
    height: 300px;
  }

  .hero-section-image {
    width: 100%;
    height: 100%;
    position: static;
  }

  .hero-section .container {
    height: auto;
    margin-top: -7px;
  }

  .hero-section-contents {
    max-width: 318px;
    height: auto;
    margin-inline: auto;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .hero-section-contents-dec {
    color: var(--stone-500);
    opacity: 25%;
  }

  .hero-section-contents-title {
    font-family: "Maison Neue";
    font-weight: 300;
    font-size: 40px;
    color: var(--blue-950);
  }

  .hero-section-btns .btn {
    padding: 13px 17px;
  }

  .hero-section-case-studies-btn {
    border-color: var(--stone-200);
    color: var(--blue-950);
  }

  /* -----  Slider section ----- */
  .slider-section .splide__pagination__page {
    width: 25px !important;
  }

  .slider-section .splide__pagination {
    gap: 5px;
  }

  /* ----- Case studies section ----- */
  .case-studies-cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ----- Footer ----- */
  .footer-title {
    font-size: 35px;
  }

  /* ---------------------------------------- MEDIATION HTML ----------------------------------------*/
  /* ----- Cta section ----- */
  .cta-section-title {
    font-size: 40px;
  }

  .cta-section-btns {
    gap: 12px;
  }

  .cta-section .primary-btn,
  .cta-section .secondary-btn {
    padding: 15px 18px;
  }

  /* ----- Two column section ----- */
  .two-column-content-title {
    font-size: 35px;
  }

  /* ----- Mediation faq section ----- */
  .mediation-faq-section .section-tag {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  .mediation-faq-content-title {
    margin-bottom: 64px;
  }

  .mediation-faq-section .faq-question-title {
    font-size: 22px;
  }

  .mediation-faq-section .faq-question {
    padding-bottom: 16px;
  }

  /* ---------------------------------------- PROCESS HTML ----------------------------------------*/
  /* ----- Process Preparing mediation ----- */
  .preparing-mediation-section {
    padding-top: 45px;
  }

  .section-title {
    font-size: 35px;
  }

  /* ---------------------------------------- RESOURCE_HUB HTML ----------------------------------------*/
  /* ----- ResourceHub Card section ----- */
  .x2-card-wrapper {
    gap: 26px;
  }

  .resource-hub-card-section .case-studies-card-content {
    padding: 20px;
  }

  .resource-hub-card-container {
    margin-top: 48px;
  }

  .filter-bar-btn {
    padding: 10px 23px;
  }

  /* ---------------------------------------- CASE_STUDY HTML ----------------------------------------*/
  /* ----- Case-study Slider section ----- */
  .case-study-slider {
    margin-top: 42px;
  }

  .case-study-slider-section .splide__pagination {
    bottom: 15px;
    left: 6px;
  }

  .case-study-slider-section .splide__pagination__page {
    width: 20px !important;
  }

  .case-study-slider-section .case-study-slider-content-detail .section-tag {
    display: block;
  }

  /* ----- Case-study Our solution section ----- */
  .case-study-our-solution-content-title {
    margin-bottom: 32px;
  }

  .case-study-our-solution-content-details :first-child {
    margin-bottom: 24px;
  }

  .case-study-our-solution-section .arrow-btn {
    margin-top: 36px;
  }

  /* ---------------------------------------- FAQS HTML ----------------------------------------*/
  /* ----- Faqs section ----- */
  .faqs-section-info-search-box {
    flex-direction: column;
  }

  /* ---------------------------------------- CONTACT US HTML ----------------------------------------*/
  /* ----- Contact us section ----- */
  .contact-us-section-form-input-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
