/* ----- Nav bar ----- */
.nav-bar {
  width: 100%;
  padding-block: 26px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--white);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--blue-950);
  text-decoration: none;
  text-align: start;
  z-index: 999;
}

.logo h3 {
  font-family: "Lyon";
  font-weight: 100;
  line-height: 1.5;
}

.logo span {
  font-family: "Maison Neue";
  font-weight: 300;
  font-size: 12px;
  border-left: 1px solid var(--blue-850);
  padding-left: 6px;
}

.toggle-block {
  display: none;
  z-index: 999;
}

.nav-toggle {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bar {
  width: 24px;
  height: 3px;
  background: var(--blue-950);
  border-radius: 6px;
  transition: all 0.3s ease;
}

.bar:not(:first-child) {
  margin-top: 5px;
}

.bar:nth-child(1) {
  transform: translateX(-8px);
}

.bar:nth-child(3) {
  transform: translateX(-8px);
}

.nav-links-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
}

.nav-links-wrapper a {
  position: relative;
  font-family: "Maison Neue Demi";
  font-size: 14px;
  text-decoration: none;
  color: var(--blue-950);
  font-weight: 300;
  transition: all 0.3s ease;
}

.nav-links-wrapper a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -3px;
  z-index: -1;
  height: 3px;
  background-color: var(--blue-950);
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: right;
  -webkit-transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.nav-links-wrapper a:hover:not(.nav-get-in-touch-btn)::before {
  right: 0;
}

.nav-get-in-touch-btn {
  background-color: var(--neutral-200);
  border-color: var(--stone-200);
  transition: all 0.3s ease-in-out;
}

.nav-get-in-touch-btn:hover {
  background-color: var(--neutral-250);
}

/* ----- Hero section ----- */
.hero-section {
  height: 100vh;
}

.hero-section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero-section .container {
  height: 100%;
}

.hero-section-contents {
  max-width: 606px;
  height: 100vh;
  position: relative;
  padding-top: 200px;
  z-index: 1;
}

.hero-section-contents-dec {
  font-family: "Maison Neue";
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero-section-contents-title {
  font-family: "Maison Neue Book";
  font-weight: normal;
  color: var(--white);
  margin-bottom: 30px;
  line-height: 1.3;
}

.hero-section-btns {
  display: flex;
  align-items: center;
  gap: 13px;
}

.hero-section-what-we-do-btn,
.hero-section-case-studies-btn {
  font-size: 14px;
  font-family: "Maison Neue Demi";
  font-weight: 400;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 0.5px;
}

.hero-section-what-we-do-btn {
  background-color: var(--blue-950);
  border-color: transparent;
  color: var(--white);
}

.hero-section-case-studies-btn {
  border: 1px solid var(--white);
  color: var(--white);
}

/* ----- Slider section ----- */
.slider-section {
  background-color: var(--blue-950);
  position: relative;
  padding-top: 130px;

  padding-bottom: 160px;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
}

.slider-section .splide {
  max-width: 80%;
}

.slider-section .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--stone-250);
}

.slider-content-tag {
  margin-bottom: 40px;
}

.slider-content-title {
  max-width: 662px;
  font-family: "Maison Neue";
  font-weight: 300;
}

.slider-content-year {
  padding-top: 40px;
  font-family: "Maison Neue Demi";
  opacity: 0.5;
}

.slider-section .splide__arrows {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50px, -50px);
}

.slider-section .splide:not(.is-overflow) .splide__pagination {
  display: block !important;
}

.slider-section .splide__pagination {
  bottom: -78px !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  gap: 8px;
}

.splide__pagination__page {
  width: 28px !important;
  height: 2px !important;
  border-radius: 0 !important;
}

.slider-section .splide__pagination__page.is-active {
  opacity: 1;
}

/* -----  about mediation section ----- */
.about-mediation-section {
  padding-block: 129px;
}

.about-mediation-content-title {
  max-width: 915px;
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  margin-bottom: 30px;
}

.about-mediation-content-dec {
  font-family: "Maison Neue";
  font-weight: 300;
  font-size: 20px;
  max-width: 740px;
  color: var(--blue-950);
  opacity: 0.75;
  margin-bottom: 40px;
}

.about-mediation-content-btn {
  display: inline-block;
}

.about-mediation-content-btn a {
  font-family: "Maison Neue Book";
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--blue-950);
}

.about-mediation-content-btn a svg {
  transition: 0.3s ease-in-out;
}

.about-mediation-content-btn a:hover svg {
  transform: translateX(4px);
}

/* ----- Two column faq section ----- */
.two-column-faq-section {
  width: 100%;
  min-height: 783px;
  background-color: var(--neutral-200);
  position: relative;
}

.faq-section-wrapper {
  display: flex;
}

.faq-section-content {
  width: 50%;
  max-width: 540px;
  padding-block: 80px;
  padding-right: 30px;
}

.faq-section .section-tag {
  margin-bottom: 110px;
}

.faq-section-content-title {
  max-width: 438px;
  font-family: "Maison Neue";
  font-weight: 300;
  margin-bottom: 45px;
}

.faq-content {
  border-bottom: 1px solid var(--stone-500-border);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq-content.active {
  height: auto;
  overflow: auto;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 14px 0;
  cursor: pointer;
}

.faq-question-title {
  font-family: "Maison Neue Book";
  font-weight: 400;
}

.faq-question-icon {
  min-width: 46px;
  height: 46px;
  border: 1px solid var(--stone-200);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-question-icon svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.faq-content.active .faq-question-icon svg {
  transform: rotate(180deg);
}

.faq-answer {
  height: 0;
  overflow: hidden;
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
}

.faq-content.active .faq-answer {
  height: auto;
  padding-top: 16px;
  padding-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.faq-content-wrapper :nth-child(1).faq-content {
  border-top: 1px solid var(--stone-500-border);
}

.faq-section-wrapper-media {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.faq-section-wrapper-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
}

/* ----- Case studies section ----- */
.case-studies-section {
  padding-top: 145px;
  padding-bottom: 130px;
}

.case-studies-section-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.case-studies-section-tag {
  font-family: "Neue Haas Grotesk Display Pro";
  text-transform: uppercase;
  letter-spacing: 0.28px;
}

.case-studies-section-btn {
  font-family: "Maison Neue Demi";
  color: var(--blue-950);
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid var(--stone-200);
  border-radius: 30px;
  padding: 17px 24px;
}

.case-studies-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 73px;
}

.case-studies-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stone-250);
}

.case-studies-card-media {
  width: 100%;
  height: 398px;
}

.case-studies-card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-studies-card-content {
  padding: 30px 32px 20px;
}

.case-studies-card-content-dec {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  opacity: 75%;
  margin-bottom: 10px;
}

.case-studies-card-content-title {
  font-family: "Maison Neue Book";
  color: var(--blue-950);
  margin-bottom: 20px;
  font-weight: 400;
}

.case-studies-card-content-btn {
  width: 46px;
  height: 46px;
  border: 1px solid var(--blue-950);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-studies-card-content-btn svg {
  color: var(--blue-950);
}

/* ----- Footer ----- */
.footer-section {
  background-color: var(--neutral-300);
  padding-block: 120px;
}

.footer-title {
  max-width: 576px;
  font-family: "Maison Neue";
  font-weight: 300;
  margin-bottom: 25px;
}

.footer-call-btn {
  display: inline-block;
  font-family: "Maison Neue";
  font-size: 14px;
  background-color: var(--blue-950);
  border: 1px solid var(--blue-950);
  border-radius: 35px;
  padding: 18px 26px;
  color: var(--white);
}

/* ---------------------------------------- MEDIATION HTML ----------------------------------------*/
/* ----- Cta section ----- */
.cta-section {
  padding-top: 101px;
  padding-bottom: 113px;
}

.cta-section-title,
.cta-section-dec {
  font-family: "Maison Neue";
  font-weight: 300;
}

.cta-section-title {
  max-width: 812px;
  color: var(--blue-950);
  margin-bottom: 30px;
}

.cta-section-dec {
  max-width: 524px;
  color: var(--blue-950);
  opacity: 75%;
  margin-bottom: 25px;
}

.cta-section-btns {
  display: flex;
  gap: 15px;
}

/* ----- Two column section ----- */
.two-column-section {
  background-color: var(--blue-950);
  position: relative;
}

.two-column-wrapper {
  display: flex;
  min-height: 746px;
  justify-content: end;
}

.two-column-media {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.two-column-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-drag: none;
}

.two-column-content {
  width: 50%;
  padding: 92px 80px 92px 92px;
}

.two-column-section .section-tag {
  color: var(--white);
  opacity: 50%;
}

.two-column-content-title {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--white);
  margin-bottom: 45px;
}

.two-column-content-dec {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--neutral-200);
  opacity: 75%;
  margin-bottom: 45px;
}

/* ----- Mediation faq section ----- */
.mediation-faq-section {
  padding-block: 169px;
}

.mediation-faq-content {
  max-width: 848px;
  margin-inline: auto;
}

.mediation-faq-section .section-tag {
  border-bottom: 1px solid var(--stone-500-border);
  padding-bottom: 28px;
}

.mediation-faq-content-title {
  font-family: "Maison Neue";
  font-weight: 300;
  margin-bottom: 110px;
}

.mediation-faq-section .faq-content-wrapper :nth-child(1).faq-content {
  border-top: none;
}

.mediation-faq-section .faq-question-title {
  font-size: 24px;
}

/* ---------------------------------------- PROCESS HTML ----------------------------------------*/
/* ----- Process Process faq section ----- */
.process-faq-section .faq-section-wrapper {
  min-height: 870px;
}

/* ----- Process Preparing mediation ----- */
.preparing-mediation-section {
  background-color: var(--neutral-300);
  padding-top: 160px;
  padding-bottom: 140px;
}

.preparing-mediation-section-content {
  max-width: 1064px;
}

.section-title {
  font-family: "Maison Neue";
  font-weight: 300;
  margin-bottom: 140px;
}

.preparing-mediation-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.preparing-mediation-wrapper-content-title {
  font-family: "Maison Neue";
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--stone-500-border);
}

.preparing-mediation-wrapper-content-dec {
  font-family: "Maison Neue Book";
  color: var(--blue-950);
  opacity: 75%;
  margin-top: 28px;
}

.preparing-mediation-wrapper-content-point {
  font-family: "Maison Neue";
  font-weight: 300;
  margin-top: 44px;
  color: var(--blue-950);
  opacity: 75%;
}

.preparing-mediation-wrapper-content-point li {
  margin-bottom: 26px;
  margin-left: 20px;
  padding-left: 20px;
}

.process-two-column-section .arrow-btn {
  color: var(--white);
}

/* ---------------------------------------- RESOURCE_HUB HTML ----------------------------------------*/
/* ----- ResourceHub Card section ----- */
.resource-hub-card-section {
  padding-top: 82px;
  padding-bottom: 114px;
}

.resource-hub-card-section-title {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  max-width: 658px;
  display: flex;
  flex-direction: column;
}

.resource-hub-card-section-title span {
  color: var(--neutral-300);
}

.resource-hub-card-container {
  margin-top: 108px;
}

.resource-hub-card-filter-bar ul {
  display: flex;
  gap: 10px;
  padding-bottom: 8px;
  align-items: center;
  overflow: auto hidden;
  list-style: none;
}

.resource-hub-card-filter-bar ul::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.resource-hub-card-filter-bar ul::-webkit-scrollbar-thumb {
  background-color: var(--stone-200);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

.filter-bar-btn {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Maison Neue Demi";
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 26px;
  padding: 15px 28px;
  background-color: transparent;
  color: var(--blue-950);
  border: 1px solid var(--stone-200);
}

.resource-hub-card-filter-bar .active {
  background-color: var(--blue-950);
  color: var(--white);
  border-color: var(--blue-950);
}

.x2-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 72px 79px;
  margin-top: 43px;
}

.resource-hub-card-section .case-studies-card-content-title {
  max-width: 336px;
}

.resource-hub-card-section .case-studies-card-content {
  padding: 54px 45px 40px;
}

.resource-hub-card-section .primary-btn {
  margin-top: 80px;
}
/* ---------------------------------------- CASE_STUDY HTML ----------------------------------------*/
/* ----- Case-study Slider section ----- */
.case-study-slider-section {
  padding-top: 83px;
  padding-bottom: 100px;
}

.case-study-slider-section
  .case-study-slider-section-title-content
  .section-tag {
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 23px;
}

.case-study-slider-section-title {
  max-width: 632px;
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
}

.case-study-slider {
  margin-top: 80px;
  --offset: ((100vw - var(--scrollbar-width, 0px) - 100%) / 2);
  margin-left: calc(var(--offset, 0px) * -1);
}

.case-study-slider-section .splide {
  max-width: 100%;
}

.case-study-slider-section .splide__pagination {
  bottom: 60px;
  left: 60px;
  right: auto;
  gap: 4px;
}

.case-study-slider-section .splide__list {
  display: flex;
  list-style: none;
}

.slider-media {
  width: 100%;
  aspect-ratio: 2;
}

.slider-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-study-slider-contents {
  display: flex;
  gap: 108px;
  margin-top: 89px;
}

.case-study-slider-content-detail {
  width: 61%;
}

.case-study-slider-section .case-study-slider-content-detail .section-tag {
  display: none;
}

.case-study-slider-content-detail-title {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  margin-bottom: 35px;
}

.case-study-slider-content-detail-info {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  opacity: 75%;
}

.case-study-slider-content-detail-info :first-child {
  padding-bottom: 30px;
}

.case-study-slider-content-project-details {
  width: 39%;
}

.case-study-slider-section
  .case-study-slider-content-project-details
  .section-tag {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  margin-bottom: 39px;
}

.case-study-slider-content-project-details-info {
  color: var(--blue-850);
  margin-bottom: 30px;
}

.case-study-slider-content-project-details-title {
  font-family: "Maison Neue Demi";
  margin-bottom: 15px;
}

.case-study-slider-content-project-details-dec {
  font-family: "Maison Neue";
  font-size: 14px;
}

/* ----- Case-study Our solution section ----- */
.case-study-our-solution-section {
  background-color: var(--neutral-200);
  padding-top: 125px;
  padding-bottom: 131px;
}

.case-study-our-solution-content {
  max-width: 849px;
  margin-inline: auto;
}

.case-study-our-solution-content-title {
  font-family: "Maison Neue";
  font-weight: 300;
  margin-bottom: 43px;
}

.case-study-our-solution-content-details {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  opacity: 75%;
}

.case-study-our-solution-content-details :first-child {
  margin-bottom: 30px;
}

.case-study-our-solution-section .arrow-btn {
  color: var(--blue-950);
  margin-top: 59px;
}

/* ----- Case-study Two column section ----- */
.case-study-two-column-section .two-column-content {
  padding-right: 13px;
}

.case-study-two-column-section .section-tag {
  margin-bottom: 132px;
}

/* ---------------------------------------- FAQS HTML ----------------------------------------*/
/* ----- Faqs section ----- */
.faqs-section {
  padding-top: 150px;
  padding-bottom: 142px;
}

.faqs-section-wrapper {
  max-width: 849px;
  margin-inline: auto;
}

.faqs-section-info {
  margin-bottom: 110px;
}

.faqs-section-info-title {
  font-family: "Maison Neue";
  font-weight: 300;
  text-align: center;
  margin-bottom: 57px;
}

.faqs-section-info-dec {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  opacity: 75%;
  margin-bottom: 57px;
}

.faqs-section-info-search-box {
  display: flex;
  gap: 6px;
}

.faqs-section-info-search-box input {
  width: 100%;
  font-family: "Maison Neue";
  font-weight: 300;
  border: 1px solid #717171;
  border-radius: 24px;
  padding: 14px 24px;
  color: var(--blue-950);
  opacity: 75%;
}

.faqs-section-info-search-box input:focus {
  border-color: #717171;
  outline: none;
  box-shadow: 0 0 2px rgb(113, 113, 113);
}

.faqs-section .faq-content-wrapper :nth-child(1).faq-content {
  border-top: none;
}

/* ---------------------------------------- CONTACT US HTML ----------------------------------------*/
/* ----- Contact us section ----- */
.contact-us-section {
  padding-top: 104px;
  padding-bottom: 143px;
  background-color: var(--neutral-200);
}

.contact-us-section-title {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  margin-bottom: 104px;
}

.contact-us-section-wrapper {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  margin-bottom: 133px;
}

.contact-us-section-details {
  max-width: 161px;
}

.contact-us-section-details-tag {
  font-family: "Neue Haas Grotesk Display Pro";
  color: var(--blue-950);
  text-transform: uppercase;
  margin-bottom: 54px;
}

.contact-us-section-details-tell {
  font-family: "Maison Neue";
  font-weight: normal;
  color: var(--blue-950);
  margin-bottom: 28px;
}

.contact-us-section-details-dec {
  font-family: "Maison Neue";
  font-weight: 300;
  color: var(--blue-950);
  margin-bottom: 9px;
}

.contact-us-section-details-small-dec {
  display: inline-flex;
  font-family: "Maison Neue";
  font-weight: 300;
  font-size: 10px;
  color: var(--stone-500);
  margin-bottom: 15px;
}

.contact-us-section-details-media {
  width: 46px;
  height: 46px;
  border: 1px solid var(--stone-200);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us-section-form {
  width: 70%;
}

.contact-us-section-form-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px 23px;
  margin-bottom: 12px;
}

.contact-us-section-form-input-field {
  width: 100%;
  padding: 15px 25px;
  font-family: "Maison Neue";
  font-weight: 300;
  border: 1px solid var(--stone-250);
  color: var(--stone-500);
  border-radius: 24px;
}

.contact-us-section-form-input-field:focus {
  border-color: var(--stone-500);
  outline: none;
  box-shadow: 0px 0px 8px 2px var(--stone-250);
}

.contact-us-section-form textarea {
  max-width: 100%;
  min-height: 120px;
}

.contact-us-section-form-input-select-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-section-form-input-select-container select {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-section-form-input-select-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.contact-us-section-form-input-select-icon-container svg {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
}

.contact-us-section .x2-card-wrapper .case-studies-card-content-title {
  max-width: 236px;
  font-size: 26x;
}

/* ---------------------------------------- PRIVACY HTML ----------------------------------------*/
/* ----- Privacy section ----- */
.privacy-section {
  padding-top: 80px;
  padding-bottom: 178px;
  background-color: var(--neutral-200);
}

.privacy-section-wrapper {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  position: relative;
}

.privacy-section-label {
  width: 100%;
  max-width: 230px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 199px;
  white-space: nowrap;
  padding: 30px;
  z-index: 2;
}

.privacy-section-label-title {
  display: inline-block;
  font-family: "Maison Neue Book";
  font-weight: 400;
  font-size: 20px;
  color: var(--stone-500);
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}

.privacy-section-label-title.active-link {
  font-size: 24px;
  color: #1f2133;
  border-left: 1px solid #1f2133;
  padding-left: 10px;
}

.content-spacing {
  scroll-margin-top: 200px;
}

.privacy-section-detail {
  max-width: 848px;
}

.privacy-section-detail-content {
  margin-bottom: 83px;
}

.privacy-section-detail-content-title {
  font-family: "Maison Neue Book";
  font-weight: 400;
  margin-bottom: 26px;
  color: var(--blue-950);
}

.privacy-section-detail-content-dec {
  font-family: "Maison Neue Book";
  color: var(--stone-500);
  opacity: 75%;
}

.privacy-section-detail-content-dec :first-child {
  margin-bottom: 30px;
}

.terms-and-conditions-content .privacy-section-detail-content-title {
  font-size: 30px;
}
