/* ----- Nav bar ----- */
.nav-bar {
  padding-block: 26px;
  position: relative;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--blue-950);
  text-decoration: none;
  text-align: start;
  z-index: 999;
}

.logo h3 {
  font-family: "Lyon";
  font-weight: 100;
  line-height: 1.5;
}

.logo span {
  font-size: 12px;
  font-weight: 300;
  border-left: 1px solid var(--blue-850);
  padding-left: 6px;
}

.toggle-block {
  display: none;
  z-index: 999;
}

.nav-toggle {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bar {
  width: 24px;
  height: 3px;
  background: var(--blue-950);
  border-radius: 6px;
  transition: all 0.3s ease;
}

.bar:not(:first-child) {
  margin-top: 5px;
}

.bar:nth-child(1) {
  transform: translateX(-8px);
}

.bar:nth-child(3) {
  transform: translateX(-8px);
}

.nav-links-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
}

.nav-links-wrapper a {
  position: relative;
  font-family: "Maison Neue Demi";
  font-size: 14px;
  text-decoration: none;
  color: var(--blue-950);
  font-weight: 300;
  transition: all 0.3s ease;
}

.nav-links-wrapper a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -3px;
  right: 100%;
  background-color: var(--blue-950);
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: right;
  -webkit-transition-timing-function: ease-out;
  height: 3px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.nav-links-wrapper a:hover:not(.nav-get-in-touch-btn)::before {
  right: 0;
}

.nav-get-in-touch-btn {
  background-color: var(--neutral-200);
  border-color: var(--stone-200);
  transition: all 0.3s ease-in-out;
}

.nav-get-in-touch-btn:hover {
  background-color: var(--neutral-250);
}

/* ----- Hero section ----- */
.hero-section {
  height: 100vh;
  background-image: url(../image/image-hero-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vh;
}

.hero-section-contents {
  max-width: 606px;
  /* padding-block: 200px; */
}

.hero-section-contents-dec {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero-section-contents-title {
  font-family: "Maison Neue Book";
  font-weight: normal;
  color: var(--white);
  margin-bottom: 30px;
}

.hero-section-btns {
  font-family: "Maison Neue Demi";
  display: flex;
  gap: 13px;
}

.hero-section-what-we-do-btn {
  background-color: var(--blue-950);
  font-weight: 300;
  border-color: transparent;
  color: var(--white);
  text-transform: uppercase;
}
