@media (max-width: 1023px) {
}

@media (max-width: 991px) {
  /* ----- Header section ----- */
  .nav-content-wrapper {
    width: 300px;
    height: 100vh;
    flex-direction: column;
    gap: 24px;
    background-color: var(--whitesmoke);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 58px;
    right: -20px;
    padding: 22px 40px;
    transition: all 0.3s ease-in-out;
  }

  .nav-content-wrapper.active {
    opacity: 1;
    visibility: visible;
  }

  .nav-link-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 18px;
    align-items: start;
  }

  .toggle-container {
    display: block;
  }

  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(3px);
    opacity: 0;
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-3px);
    opacity: 0;
  }

  /* ----- Hero section ----- */
  .hero-content {
    width: 46%;
  }

  .hero-media {
    width: 54%;
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .splide__pagination {
    bottom: -2.3em !important;
  }

  /* ----- Hero section ----- */
  .hero-content {
    width: 100%;
    text-align: center;
  }

  .hero-dec {
    margin-bottom: 23px;
  }

  .hero-media {
    display: none;
  }
}

@media (max-width: 575px) {
  /* ----- Header section ----- */
  .nav-btn-wrapper {
    display: none;
  }

  .responsive-nav-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .responsive-nav-btn .btn {
    width: 100%;
    justify-content: center;
  }
}
