@media (max-width: 1200px) {
  /* ----- Marketing section ----- */
  .marketing-media-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 44px;
  }
}

@media (max-width: 991px) {
  /* ----- Header section ----- */
  .nav-content-wrapper {
    width: 300px;
    height: 100vh;
    flex-direction: column;
    gap: 24px;
    background-color: var(--whitesmoke);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 58px;
    right: -20px;
    padding: 22px 40px;
    transition: all 0.3s ease-in-out;
  }

  .nav-content-wrapper.active {
    opacity: 1;
    visibility: visible;
  }

  .nav-link-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 18px;
    align-items: start;
  }

  .toggle-container {
    display: block;
  }

  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(3px);
    opacity: 0;
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-3px);
    opacity: 0;
  }

  /* ----- Hero section ----- */
  .hero-content {
    width: 46%;
  }

  .hero-media {
    width: 54%;
  }

  /* ----- Counter section ----- */
  .counter-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .counter-content {
    width: 100%;
    text-align: center;
  }

  /* ----- Footer ----- */
  .footer-content-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .footer-media-container,
  .footer-links-wrapper {
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .splide__pagination {
    bottom: -2.3em !important;
  }

  /* ----- Hero section ----- */
  .hero-content {
    width: 100%;
    text-align: center;
  }

  .hero-dec {
    margin-bottom: 23px;
  }

  .hero-media {
    display: none;
  }

  /* ----- Community section ----- */
  .community-media-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ----- Pixelgrade section ----- */
  .two-column-wrapper {
    flex-direction: column;
    gap: 39px;
  }

  .two-column-media {
    width: 100%;
  }

  .two-column-content {
    width: 100%;
  }

  /* ----- Our-customer section ----- */
  .our-customer-wrapper {
    flex-direction: column;
  }

  .our-customer-content {
    width: 100%;
  }

  .customer-img-wrapper {
    max-width: 100%;
  }

  /* ----- Marketing section ----- */
  .marketing-media-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 575px) {
  /* ----- Header section ----- */
  .nav-btn-wrapper {
    display: none;
  }

  .responsive-nav-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .responsive-nav-btn .btn {
    width: 100%;
    justify-content: center;
  }

  /* ----- Our-Clients section ----- */
  .our-clients-media {
    min-width: 42px;
    min-height: 42px;
  }

  /* ----- Community section ----- */
  .community-media-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ----- Pixelgrade section ----- */
  .two-column-wrapper {
    gap: 24px;
  }

  /* ----- Counter section ----- */
  .counter-number-wrapper {
    flex-direction: column;
    gap: 30px 30px;
  }

  .counter-number-container {
    justify-self: center;
  }
}

@media (max-width: 440px) {
  /* ----- Marketing section ----- */
  .marketing-media-card {
    background-color: var(--whitesmoke);
    padding: 16px;
    border-radius: 8px;
  }

  .marketing-content-container {
    margin-top: 0;
    box-shadow: none;
  }
}
