/* ----- Header section ----- */
.header {
  background-color: var(--whitesmoke);
  padding-top: 22px;
  padding-bottom: 22px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar,
.nav-content-wrapper,
.nav-link-wrapper,
.nav-btn-wrapper,
.nav-btn-container {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  position: relative;
}

.navbar-logo {
  width: 154px;
  height: 24px;
}

.nav-link-wrapper {
  gap: 50px;
}

.nav-link {
  font-weight: 500;
  color: var(--gray-900);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary);
}

.responsive-nav-btn {
  display: none;
}

.nav-btn-container {
  gap: 20px;
}

.nav-btn-wrapper {
  gap: 14px;
}

.login-btn,
.sign-in-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: var(--line-height-1_4);
  padding: 10px 20px;
}

.login-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toggle-container {
  display: none;
  width: 36px;
  height: 36px;
}

.nav-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--darkslategray);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.bar {
  height: 3px;
  width: 24px;
  background-color: var(--darkslategray);
  border-radius: 28px;
  transition: all 0.4s ease-in-out;
}

/* ----- Hero section ----- */
.hero-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--whitesmoke);
}

.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-content {
  width: 50%;
  max-width: 657px;
}

.hero-title {
  color: var(--dimgray);
  margin-bottom: 16px;
}

.hero-title span {
  color: var(--primary);
}

.hero-dec {
  color: var(--gray);
  margin-bottom: 32px;
}

.hero-media {
  width: 50%;
  max-width: 391px;
  height: 407px;
}

.splide__pagination {
  bottom: -4.5em !important;
}

.splide__pagination__page.is-active {
  background: var(--primary) !important;
}

.splide__pagination__page {
  background: var(--moss-200) !important;
}

/* ----- Our-Clients section ----- */
.our-clients-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.our-clients-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
}

.our-clients-media {
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
}

.our-clients-media-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.our-clients-media-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 24px;
}

/* ----- Community section ----- */
.community-section {
  padding: 40px 0;
}

.community-content {
  max-width: 542px;
}

.community-media-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.community-card-wrapper {
  max-width: 299px;
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 #abbed133;
  text-align: center;
  margin: 0 auto;
}

.community-card-wrapper:hover {
  box-shadow: 0 1px 12px 4px #abbed133;
}

.community-card-media {
  width: 65px;
  height: 56px;
  margin: 0 auto 16px;
}

.community-card-title {
  color: var(--dimgray);
  font-weight: 700;
  margin-bottom: 8px;
  line-height: var(--line-height-1_2);
}

.community-card-dec {
  max-width: 251px;
  font-size: 14px;
  color: var(--gray);
  line-height: var(--line-height-1_4);
}

.national-associations-card .community-card-dec {
  max-width: 240px;
}

.clubs-and-groups-card .community-card-title {
  max-width: 231px;
}

/* ----- Pixelgrade section ----- */
.pixelgrade-section {
  padding: 42px 0;
}

.two-column-wrapper {
  display: flex;
  align-items: center;
  gap: 49px;
}

.two-column-media {
  width: 50%;
  max-width: 442px;
  max-height: 433px;
}

.two-column-content {
  width: 50%;
  max-width: 661px;
}

.two-column-content-title {
  color: var(--dimgray);
  margin-bottom: 16px;
}

.two-column-content-dec {
  font-size: 14px;
  line-height: var(--line-height-1_4);
  color: var(--gray);
  margin-bottom: 32px;
}

/* ----- Counter section ----- */
.counter-section {
  padding: 64px 0;
  background-color: var(--whitesmoke);
}

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.counter-content {
  width: 50%;
  max-width: 540px;
}

.counter-content-title {
  color: var(--dimgray);
  margin-bottom: 8px;
}

.counter-content-title span {
  color: var(--primary);
}

.counter-content-dec {
  color: var(--gray-900);
}

.counter-number-wrapper {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.counter-number-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counter-number-media {
  max-width: 48px;
  max-height: 48px;
  flex-shrink: 0;
}

.counter-number {
  color: var(--dimgray);
  font-weight: 700;
}

.counter-number-dec {
  color: var(--gray);
}

/* ----- How-to-work section ----- */
.how-to-work-section {
  padding: 48px 0;
}

/* ----- Our-customer section ----- */
.our-customer-section {
  padding: 32px 0;
  background-color: var(--whitesmoke);
}

.our-customer-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.our-customer-media {
  width: 30%;
  min-width: 326px;
  min-height: 326px;
  border-radius: 8px;
}

.our-customer-content {
  width: 70%;
}

.our-customer-content-dec {
  color: var(--gray);
  margin-bottom: 16px;
}

.our-customer-content-tag {
  color: var(--primary);
  margin-bottom: 8px;
}

.our-customer-content-small-dec {
  color: var(--lightslategray);
  margin-bottom: 32px;
}

.our-customer-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.customer-img-wrapper {
  max-width: 390px;
  display: flex;
  align-items: center;
  gap: 41px;
  padding-bottom: 12px;
  overflow-y: auto;
}

.customer-img-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.customer-img-wrapper::-webkit-scrollbar-thumb {
  background: var(--gray);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 24px;
}

.customer-img-content {
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
}

/* ----- Marketing section ----- */
.marketing-section {
  padding: 48px 0;
}

.marketing-content-wrapper {
  max-width: 628px;
}

.marketing-media-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 50px;
}

.marketing-media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.marketing-image-content {
  max-width: 368px;
  max-height: 286px;
  border-radius: 8px;
}

.marketing-content-container {
  max-width: 317px;
  text-align: center;
  background-color: var(--whitesmoke);
  border-radius: 8px;
  padding: 16px;
  margin-top: -102px;
  box-shadow: 0 8px 16px 0 #abbed166;
}

.marketing-card-dec {
  font-size: 20px;
  font-weight: 600;
  line-height: var(--line-height-1_4);
  color: var(--gray);
  margin-bottom: 16px;
  letter-spacing: 0.2px;
}

.marketing-content-container .secondary-btn {
  justify-content: center;
}

/* ----- Marketing section ----- */
.cta-section {
  padding: 32px 0;
  background-color: var(--whitesmoke);
}

.cta-content {
  max-width: 830px;
  text-align: center;
  margin: 0 auto;
}

.cta-title {
  color: var(--darkslategray);
  margin-bottom: 32px;
}

/* ----- Footer ----- */
.footer {
  padding: 64px 0;
  background-color: var(--darkslategray);
}

.footer-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.footer-media-container {
  width: 30%;
}

.footer-logo {
  max-width: 191px;
  margin-bottom: 40px;
}

.footer-copy-right,
.copy-right-anchor {
  font-size: 14px;
  color: var(--whitesmoke);
  line-height: var(--line-height-1_4);
}

.footer-reserved {
  margin-top: 8px;
  margin-bottom: 40px;
}

.footer-media-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-media {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3b464c;
  color: var(--white);
}

.footer-media svg {
  color: var(--white);
  width: 20px;
  height: 20px;
}

.footer-links-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-links-container {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links-container-tag {
  font-size: 20px;
  font-weight: 600;
  line-height: var(--line-height-1_4);
  color: var(--white);
  margin-bottom: 12px;
}

.footer-link {
  color: var(--white);
  font-size: 14px;
  line-height: var(--line-height-1_4);
}

.footer-input-content {
  display: flex;
  align-items: center;
  position: relative;
}

.footer-input {
  width: 255px;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid transparent;
  padding: 12px 32px 12px 12px;
  border-radius: 8px;
  background-color: #515b60;
  color: var(--white);
}

.footer-input::placeholder {
  color: #d9dbe1;
}

.footer-input:focus {
  outline: none;
  border-color: var(--lightslategray);
}

.footer-input-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: var(--white);
  position: absolute;
  top: 12px;
  right: 10px;
}
