/* ----- Header section ----- */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.header {
  background-color: var(--whitesmoke);
  padding-top: 22px;
  padding-bottom: 22px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navbar,
.nav-content-wrapper,
.nav-link-wrapper,
.nav-btn-wrapper,
.nav-btn-container {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  position: relative;
}

.nav-link-wrapper {
  gap: 50px;
}

.nav-link {
  font-weight: 500;
  color: var(--gray-900);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary);
}

.responsive-nav-btn {
  display: none;
}

.nav-btn-container {
  gap: 20px;
}

.nav-btn-wrapper {
  gap: 14px;
}

.login-btn,
.sign-in-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: var(--line-height-1_4);
  padding: 10px 20px;
}

.login-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toggle-container {
  display: none;
  width: 36px;
  height: 36px;
}

.nav-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--darkslategray);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.bar {
  height: 3px;
  width: 24px;
  background-color: var(--darkslategray);
  border-radius: 28px;
  transition: all 0.4s ease-in-out;
}

/* ----- Hero section ----- */
.hero-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--whitesmoke);
}

.hero-content-container {
  display: flex;
  align-items: center;
  gap: 26px;
}

.hero-content {
  width: 50%;
}

.hero-title {
  color: var(--dimgray);
  margin-bottom: 16px;
}

.hero-title span {
  color: var(--primary);
}

.hero-dec {
  color: var(--gray);
  margin-bottom: 32px;
}

.hero-media {
  display: flex;
  justify-content: center;
  width: 50%;
}

.hero-img-wrapper {
  width: 70%;
}

.splide__pagination {
  bottom: -4.5em !important;
  gap: 8px;
}

.splide__pagination__page.is-active {
  background: var(--primary) !important;
}

.splide__pagination__page {
  background: var(--moss-200) !important;
}

.splide__pagination__page {
  margin: 0 !important;
}

/* ----- Our-Clients section ----- */
.our-clients-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.our-clients-media {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.our-clients-img {
  width: 48px;
  height: 48px;
}

.our-clients-section .splide {
  visibility: visible !important;
}

/* .our-clients-slider .splide__list {
  transform: translateX(100);
} */

/* ----- Community section ----- */
.community-section {
  padding: 40px 0;
}

.community-media-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.community-card-wrapper {
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 #abbed133;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.community-card-wrapper:hover {
  box-shadow: 0 1px 12px 4px #abbed133;
}

.community-card-media {
  width: 65px;
  height: 56px;
  margin: 0 auto 16px;
}

.community-card-content {
  max-width: 299px;
  margin: 0 auto;
}

.community-card-title {
  margin: 0 auto;
  color: var(--dimgray);
  font-weight: 700;
  margin-bottom: 8px;
  line-height: var(--line-height-1_2);
}

.community-card-dec {
  max-width: 251px;
  margin: 0 auto;
  font-size: 14px;
  color: var(--gray);
  line-height: var(--line-height-1_4);
}

.national-associations-card .community-card-dec {
  max-width: 240px;
}

.clubs-and-groups-card .community-card-title {
  max-width: 231px;
}

/* ----- Pixelgrade section ----- */
.pixelgrade-section {
  padding: 42px 0;
}

.two-column-wrapper {
  display: flex;
  align-items: center;
  gap: 49px;
}

.two-column-media {
  width: 50%;
}

.two-column-content {
  width: 50%;
}

.two-column-content-title {
  color: var(--dimgray);
  margin-bottom: 16px;
}

.two-column-content-dec {
  font-size: 14px;
  line-height: var(--line-height-1_4);
  color: var(--gray);
  margin-bottom: 32px;
}

/* ----- Counter section ----- */
.counter-section {
  padding: 64px 0;
  background-color: var(--whitesmoke);
}

.counter-wrapper {
  text-align: center;
}

.section-title span {
  color: var(--primary);
  display: block;
}

.counter-section .section-heading-wrapper {
  margin-bottom: 36px;
}

.counter-number-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.counter-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.counter-number-media {
  max-width: 48px;
  max-height: 48px;
  flex-shrink: 0;
}

.counter-number {
  color: var(--dimgray);
  font-weight: 700;
}

.counter-number-dec {
  color: var(--gray);
}

/* ----- How-to-work section ----- */
.how-to-work-section {
  padding: 48px 0;
}

/* ----- Our-customer section ----- */
.our-customer-section {
  padding: 32px 0;
  background-color: var(--whitesmoke);
}

.our-customer-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.our-customer-media {
  max-width: 326px;
  aspect-ratio: 1;
}

.our-customer-content {
  width: 70%;
}

.our-customer-content-dec {
  color: var(--gray);
  margin-bottom: 16px;
}

.our-customer-content-tag {
  color: var(--primary);
  margin-bottom: 8px;
}

.our-customer-content-small-dec {
  color: var(--lightslategray);
  margin-bottom: 32px;
}

.our-customer-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.customer-img-wrapper {
  display: flex;
  align-items: center;
  gap: 41px;
  flex-wrap: wrap;
}

.customer-img-content {
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
}

/* ----- Marketing section ----- */
.marketing-section {
  padding: 48px 0;
}

.marketing-content-wrapper {
  max-width: 628px;
}

.marketing-media-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 50px;
}

.marketing-media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.marketing-image-content {
  border-radius: 8px;
  /* overflow: hidden; */
}

.marketing-content-container {
  max-width: 310px;
  text-align: center;
  background-color: var(--whitesmoke);
  border-radius: 8px;
  padding: 16px;
  margin-top: -102px;
  box-shadow: 0 8px 16px 0 #abbed166;
}

.marketing-card-dec {
  font-size: 20px;
  font-weight: 600;
  line-height: var(--line-height-1_4);
  color: var(--gray);
  margin-bottom: 16px;
  letter-spacing: 0.2px;
}

/* ----- Marketing section ----- */
.cta-section {
  padding: 32px 0;
  background-color: var(--whitesmoke);
}

.cta-content {
  max-width: 830px;
  text-align: center;
  margin: 0 auto;
}

.cta-title {
  color: var(--darkslategray);
  margin-bottom: 32px;
}

/* ----- Footer ----- */
.footer {
  padding: 64px 0;
  background-color: var(--darkslategray);
}

.footer-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.footer-media-container {
  width: 30%;
}

.footer-logo {
  max-width: 191px;
  margin-bottom: 40px;
}

.footer-copy-right,
.copy-right-anchor {
  font-size: 14px;
  color: var(--whitesmoke);
  line-height: var(--line-height-1_4);
}

.copy-right-anchor {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.copy-right-anchor:hover {
  text-decoration: none;
  color: var(--primary);
}

.footer-reserved {
  margin-top: 8px;
  margin-bottom: 40px;
}

.footer-media-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-media {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3b464c;
  color: var(--white);
}

.footer-media svg {
  color: var(--white);
  width: 20px;
  height: 20px;
}

.footer-links-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.footer-links-container {
  min-width: 160px;
}

.links-container-tag {
  font-size: 20px;
  line-height: var(--line-height-1_4);
  color: var(--white);
  margin-bottom: 20px;
}

.footer-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-link {
  color: var(--white);
  font-size: 14px;
  line-height: var(--line-height-1_4);
}

.footer-input-content {
  position: relative;
}

.footer-input {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid transparent;
  padding: 12px 32px 12px 12px;
  border-radius: 8px;
  background-color: #515b60;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.footer-input::placeholder {
  color: #d9dbe1;
}

.footer-input:focus {
  outline: none;
  border-color: var(--lightslategray);
}

.footer-input-btn {
  width: 20px;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
