/* ----- Header section ----- */
.header {
  background-color: var(--whitesmoke);
  padding-top: 22px;
  padding-bottom: 22px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar,
.nav-content-wrapper,
.nav-link-wrapper,
.nav-btn-wrapper,
.nav-btn-container {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  position: relative;
}

.navbar-logo {
  width: 154px;
  height: 24px;
}

.nav-link-wrapper {
  gap: 50px;
}

.nav-link {
  font-weight: 500;
  color: var(--gray-900);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary);
}

.responsive-nav-btn {
  display: none;
}

.nav-btn-container {
  gap: 20px;
}

.nav-btn-wrapper {
  gap: 14px;
}

.login-btn,
.sign-in-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: var(--line-height-1_4);
  padding: 10px 20px;
}

.toggle-container {
  display: none;
  width: 36px;
  height: 36px;
}

.nav-toggle {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--darkslategray);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.bar {
  height: 3px;
  width: 24px;
  background-color: var(--darkslategray);
  border-radius: 28px;
  transition: all 0.4s ease-in-out;
}

/* ----- Hero section ----- */
.hero-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--whitesmoke);
}

.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-content {
  width: 50%;
  max-width: 657px;
}

.hero-title {
  color: var(--dimgray);
  margin-bottom: 16px;
}

.hero-title span {
  color: var(--primary);
}

.hero-dec {
  color: var(--gray);
  margin-bottom: 32px;
}

.hero-media {
  width: 50%;
  max-width: 391px;
  height: 407px;
}

.splide__pagination {
  bottom: -4.5em !important;
}

.splide__pagination__page.is-active {
  background: var(--primary) !important;
}

.splide__pagination__page {
  background: var(--moss-200) !important;
}

/* ----- Our-Clients section ----- */
.our-clients-section {
  padding-top: 40px;
}

.our-clients-content {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.our-clients-content-title {
  color: var(--dimgray);
  margin-bottom: 8px;
}

.our-clients-content-dec {
  color: var(--gray);
}

.our-clients-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-top: 25px;
  padding-bottom: 18px;
  overflow-y: auto;
}

.our-clients-media {
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
}

.our-clients-media-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.our-clients-media-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 24px;
}
