@font-face {
  font-family: "FONTSPRING DEMO - Lyon";
  src: url("FONTSPRINGDEMO-LyonBold.eot");
  src: url("FONTSPRINGDEMO-LyonBold.eot?#iefix") format("embedded-opentype"),
    url("FONTSPRINGDEMO-LyonBold.woff2") format("woff2"),
    url("FONTSPRINGDEMO-LyonBold.woff") format("woff"),
    url("FONTSPRINGDEMO-LyonBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Lyon";
  src: url("FONTSPRINGDEMO-LyonItalic.eot");
  src: url("FONTSPRINGDEMO-LyonItalic.eot?#iefix") format("embedded-opentype"),
    url("FONTSPRINGDEMO-LyonItalic.woff2") format("woff2"),
    url("FONTSPRINGDEMO-LyonItalic.woff") format("woff"),
    url("FONTSPRINGDEMO-LyonItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Lyon";
  src: url("FONTSPRINGDEMO-LyonRegular.eot");
  src: url("FONTSPRINGDEMO-LyonRegular.eot?#iefix") format("embedded-opentype"),
    url("FONTSPRINGDEMO-LyonRegular.woff2") format("woff2"),
    url("FONTSPRINGDEMO-LyonRegular.woff") format("woff"),
    url("FONTSPRINGDEMO-LyonRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
