@font-face {
    font-family: 'Maison Neue Book';
    src: url('MaisonNeue-Book.eot');
    src: url('MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Book.woff2') format('woff2'),
        url('MaisonNeue-Book.woff') format('woff'),
        url('MaisonNeue-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Bold.eot');
    src: url('MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Bold.woff2') format('woff2'),
        url('MaisonNeue-Bold.woff') format('woff'),
        url('MaisonNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Light.eot');
    src: url('MaisonNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Light.woff2') format('woff2'),
        url('MaisonNeue-Light.woff') format('woff'),
        url('MaisonNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Mono.eot');
    src: url('MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Mono.woff2') format('woff2'),
        url('MaisonNeue-Mono.woff') format('woff'),
        url('MaisonNeue-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Demi';
    src: url('MaisonNeue-Demi.eot');
    src: url('MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Demi.woff2') format('woff2'),
        url('MaisonNeue-Demi.woff') format('woff'),
        url('MaisonNeue-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

