* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Common css */
.container {
  max-width: 1280px;
  padding-inline: 20px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

/* Card section */
.card-section {
  padding-block: 30px;
}

.card-filter-bar {
  background-color: #eaeaea;
  padding: 10px 10px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
}

.filter-bar-content-link {
  font-family: "Adobe Caslon Pro";
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  color: #606060;
  padding: 4px 10px;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.filter-bar-content-link:hover {
  color: #ffffff;
  background-color: #d2d2d2;
}

.filter-bar-sub-menu-overlay {
  position: relative;
  max-width: 145px;
}

.filter-bar-sub-menu {
  width: 145px;
  position: absolute;
  /* height: 0; */
  left: 0;
  top: 6px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
}

.filter-bar-content:hover .filter-bar-sub-menu {
  height: auto !important;
}

.filter-bar-sub-menu-list {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
}

.sub-menu-link {
  width: 100%;
  font-family: "Adobe Caslon Pro";
  font-size: 12px;
  padding: 8px 0 8px 10px;
  background-color: #ffffff;
  color: #959595;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  border-left: 3px solid rgb(199, 199, 199, 0);
  transition: 0.3s ease;
  cursor: pointer;
}

.sub-menu-link:hover {
  background-color: rgb(247, 247, 247);
  border-left-color: rgb(199, 199, 199, 1);
}

.sub-menu-link::before {
  content: "";
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="%239e9e9e" d="M320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576zM438 209.7C427.3 201.9 412.3 204.3 404.5 215L285.1 379.2L233 327.1C223.6 317.7 208.4 317.7 199.1 327.1C189.8 336.5 189.7 351.7 199.1 361L271.1 433C276.1 438 282.9 440.5 289.9 440C296.9 439.5 303.3 435.9 307.4 430.2L443.3 243.2C451.1 232.5 448.7 217.5 438 209.7z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 0;
  aspect-ratio: 1;
  transition: width 0.3s ease-in-out;
}

.sub-menu-link.active::before {
  width: 20px;
}
