:root {
  --white: #ffffff;
  --black: #000000;
  --black-24: #242424;
  --dimgray: #6e6e6e;
  --gray: #8c8c8c;
  --darksalmon: #c77a63;
  --blueviolet: #562dd4;
  --hotpink: #e2498a;
  --bg-darksalmon: rgba(199, 122, 99, 0.2);
  --gainsboro: #e5e5e5;
  --darkslategray: #2b2d42;
  --whitesmoke: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

.btn,
.btn-icon::before,
.btn-icon svg,
.btn-icon-line,
.btn-icon-arrow {
  transition: all 0.4s ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 36px;
  overflow: hidden;
  color: var(--black);
  position: relative;
}

.btn-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background-color: var(--black);
  color: var(--white);
}

.btn-icon::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 36px;
  background-color: var(--black);
  z-index: -1;
}

.btn-tag {
  padding: 6px;
  padding-right: 20px;
}

.btn-icon-line {
  opacity: 0;
  visibility: hidden;
}

.btn-icon-arrow {
  transform: translateX(-2px);
}

.btn:hover {
  color: var(--white);

  .btn-icon::before {
    width: 100%;
  }

  .btn-icon svg {
    transform: translateX(8px);
  }

  .btn-icon-arrow {
    transform: translateX(0);
  }

  .btn-icon-line {
    opacity: 1;
    visibility: visible;
  }
}

.outline {
  border: 1px solid var(--black);
}

/* ----- Primary button ----- */
.primary-button {
  color: var(--hotpink);

  .btn-icon {
    background-color: var(--hotpink);
    transition: all 0.4s ease-in;
  }
}
.primary-button:hover .btn-icon {
  background-color: var(--black);
}
/* ----- End primary button ----- */

/* ----- Secondary button ----- */
.secondary-button {
  color: var(--darksalmon);

  .btn-icon {
    background-color: var(--darksalmon);
    transition: all 0.4s ease-in;
  }
}
.secondary-button:hover .btn-icon {
  background-color: var(--black);
}
/* ----- End secondary button ----- */

/* ----- Big button ----- */
.button-big {
  width: 16%;
  .btn-icon {
    width: 90px;
    height: 55px;
  }

  .btn-tag {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
/* ----- End big button ----- */

/* ----- Small button ----- */
.button-small .btn-icon {
  width: 40px;
  height: 40px;
}
/* ----- End small button ----- */
