:root {
  --white: #ffffff;
  --black: #000000;
  --black-24: #242424;
  --dimgray: #6e6e6e;
  --gray: #8c8c8c;
  --darksalmon: #c77a63;
  --blueviolet: #562dd4;
  --hotpink: #e2498a;
  --bg-darksalmon: rgba(199, 122, 99, 0.2);
  --gainsboro: #e5e5e5;
  --darkslategray: #2b2d42;
  --whitesmoke: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

.outline {
  border: 1px solid transparent;
}

.primary-button {
  color: var(--blueviolet);
}

.primary-button:hover {
  color: var(--hotpink);
}

.secondary-button {
  color: var(--darkslategray);
  background-color: var(--white);
}

.secondary-button:hover {
  color: var(--white);
}
