/* ----- Grid card ----- */
.grid-card-section {
  padding: 70px 0;
}

.grid-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 60px 20px;
}

.grid-card-wrapper {
  justify-self: center;
}

.grid-card-media {
  max-height: 300px;
}

.grid-card-content {
  max-width: 360px;
  aspect-ratio: 1;
  background-color: var(--white);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.07);
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: -72px;
}

.grid-card-date-tag {
  width: fit-content;
  font-weight: 400;
  background-color: var(--bg-darksalmon);
  color: var(--darksalmon);
  padding: 6px 16px;
  display: inline-block;
}

.grid-card-title {
  font-size: 28px;
  font-weight: 400;
  margin: 16px 0;
  line-height: 1.4;
  flex-grow: 1;
}

.grid-description {
  color: var(--dimgray);
}

.grid-card-dec {
  margin: 10px 0 20px 0;
}

.grid-card-btn {
  width: 50px;
  height: 50px;
  border-color: var(--gainsboro);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -24px;
  left: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.grid-card-btn svg {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
}

.grid-card-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  scale: 0;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.grid-card-btn:hover {
  border-color: transparent;

  &::before {
    scale: 1;
    background-color: var(--darksalmon);
  }
}

/* ----- Flexible card ----- */
.flexible-card-section {
  background: url(../image/bg-image-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

.flexible-card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.flexible-card-content {
  width: 100%;
  max-width: 33.33%;
  padding: 20px;
}

.flexible-card-conatiner {
  background: url(../image/bg-blog-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 30px;
}

.flexible-card-icon {
  width: 70px;
  height: 70px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);
}

.flexible-card-icon img {
  width: 38px;
  height: 38px;
}

.flexible-card-title {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
  color: var(--black-24);
}

.flexible-card-dec {
  max-width: 248px;
  color: var(--gray);
  margin-bottom: 26px;
}

.flexible-card-btn {
  font-size: 14px;
  align-items: center;
  padding: 6px 10px;
  transition: all 0.3s ease-in-out;
}

.second-card {
  background: url(../image/bg-blog-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third-card {
  background: url(../image/bg-blog-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
