.flexible-card-section {
  padding: 30px 0;
}

.flexible-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

.card-media {
  max-height: 300px;
}

.card-content {
  max-width: 360px;
  aspect-ratio: 1;
  background-color: var(--white);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.07);
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: -72px;
}

.card-date-tag {
  width: fit-content;
  font-weight: 400;
  background-color: var(--bg-darksalmon);
  color: var(--darksalmon);
  padding: 6px 16px;
  display: inline-block;
}

.card-title {
  font-size: 28px;
  font-weight: 400;
  margin: 16px 0;
  line-height: 1.4;
  flex-grow: 1;
}

.description {
  color: var(--dimgray);
}

.card-dec {
  margin: 10px 0 20px 0;
}

.card-btn {
  width: 50px;
  height: 50px;
  border-color: var(--gainsboro);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -24px;
  left: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card-btn svg {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
}

.card-btn:hover {
}
