/*----- Footer -----*/
footer {
  margin-top: auto;
  z-index: 994;
}

.footer-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 28px;
  border-top: 1px solid var(--gray);
  padding-top: 70px;
  padding-bottom: 22px;
}

.footer-content-wrapper {
  width: 45%;
  max-width: 596px;
}

.footer-title {
  color: var(--black-100);
  margin-bottom: 44px;
}

.footer-items {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.footer-item {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: var(--line-height-1_8);
  display: flex;
  align-items: start;
  gap: 18px;
  color: var(--black-100);
}

.footer-item-content {
  align-self: center;
}

.footer-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.footer-item-icon {
  width: 42px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.footer-item-icon svg {
  transition: all 0.3s ease-in-out;
  width: 48%;
}

.footer-item:hover .footer-item-icon svg {
  transform: scale(1.2);
}

.footer-media-wrapper {
  margin-top: 64px;
}

.footer-media-wrapper,
.footer-social-media {
  display: flex;
  align-items: center;
  gap: 34px;
}

.footer-img-content {
  max-width: 170px;
}

.footer-icon {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--black);
  overflow: hidden;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 0.1);
  transition: all 0.3s ease-in-out;
}

.footer-icon svg {
  width: 56%;
  display: block;
}

.facebook-logo::after,
.linkedin-logo::after,
.instagram-logo::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.facebook-logo::after {
  background-color: rgb(59 130 246);
}

.linkedin-logo::after {
  background-color: rgb(0 102 153);
}

.instagram-logo::after {
  background: linear-gradient(
    185deg,
    rgba(168, 85, 247, 1) 0%,
    rgba(236, 72, 153, 1) 50%,
    rgba(234, 179, 8, 1) 100%
  );
}

.footer-icon:hover {
  color: var(--secondary);
}

.footer-icon:hover.facebook-logo::after,
.footer-icon:hover.linkedin-logo::after,
.footer-icon:hover.instagram-logo::after {
  top: 50%;
}

.footer-content {
  width: 55%;
  max-width: 636px;
}

.footer-form-wrapper {
  max-width: 450px;
}

.footer-input-title {
  color: var(--black-100);
  font-family: var(--font-prata);
  margin-bottom: 8px;
}

.footer-input-dec {
  color: var(--gray-300);
  font-size: 14px;
  line-height: var(--line-height-1_8);
  letter-spacing: 0.56px;
}

.form-checkbox-items {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 16px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-checkbox label {
  font-size: 14px;
  font-weight: 500;
  line-height: var(--line-height-1_8);
  letter-spacing: 0.56px;
  color: var(--black-100);
}

.footer-input-wrapper {
  max-width: 450px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer-email-input {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 1.08px;
  line-height: var(--line-height-1_3);
  background-color: var(--secondary-100);
  color: var(--black-100);
  padding: 16px 26px;
  padding-right: 48px;
  border-radius: 28px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.footer-email-input::placeholder {
  text-transform: uppercase;
  color: var(--black-100);
  font-weight: 600;
}

.footer-email-input:valid:focus {
  border-color: green;
  outline: none;
}

.footer-email-input:focus {
  outline: none;
  border-color: var(--black-100);
}

.footer-email-btn {
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.footer-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 18px;
  row-gap: 12px;
  flex-wrap: wrap;
  margin-top: 78px;
}

.footer-link {
  font-size: 12px;
  font-weight: 600;
  line-height: var(--line-height-2_1);
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--gray);
  padding-inline: 6px;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--black);
}

.footer-creator-tag {
  width: 100px;
  height: 10px;
  justify-self: end;
  margin-top: 20px;
}

.footer-creator-tag svg {
  width: 100px;
  height: 10px;
}

@media (max-width: 1279px) {
  .footer-items {
    flex-direction: column;
  }

  .footer-title {
    margin-bottom: 30px;
  }

  .footer-media-wrapper {
    margin-top: 50px;
  }

  .footer-link-wrapper {
    margin-top: 58px;
  }
}

@media (max-width: 991px) {
  .footer-wrapper {
    padding-top: 58px;
    gap: 38px;
  }

  .footer-content-wrapper,
  .footer-content {
    width: 100%;
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 24px;
  }

  .footer-media-wrapper {
    margin-top: 34px;
    gap: 28px;
  }

  .footer-social-media {
    gap: 26px;
  }

  .footer-form-wrapper {
    margin-left: 0;
    max-width: 100%;
  }

  .footer-link-wrapper,
  .footer-creator-tag {
    justify-content: start;
  }

  .footer-items-wrapper {
    width: 100%;
  }

  .footer-link-wrapper {
    margin-top: 38px;
  }
}
@media (max-width: 767px) {
  .footer-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .footer-wrapper {
    gap: 46px;
    padding-top: 50px;
  }

  .footer-input-wrapper {
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 22px;
  }

  .footer-email-input {
    font-size: 16px;
    padding-right: 58px;
  }

  .footer-items {
    gap: 22px;
  }

  .footer-media-wrapper {
    margin-top: 30px;
    gap: 32px;
  }

  .form-checkbox-items {
    margin-top: 38px;
  }

  .footer-input-wrapper {
    margin-top: 16px;
  }

  .footer-email-btn {
    top: 8px;
    right: 5px;
  }

  .footer-link-wrapper {
    margin-top: 34px;
    column-gap: 38px;
    row-gap: 32px;
  }

  .footer-link {
    font-weight: bold;
    line-height: 1.25;
  }

  .odr-1 {
    order: 1;
  }

  .odr-2 {
    order: 2;
  }

  .odr-3 {
    order: 3;
  }

  .odr-4 {
    order: 4;
  }

  .odr-5 {
    order: 5;
  }

  .footer-creator-tag {
    margin-top: 36px;
  }
}

@media (max-width: 424px) {
  .footer-media-wrapper {
    flex-direction: column-reverse;
    align-items: start;
  }
}
