/*----- Footer -----*/
footer {
  margin-top: auto;
}

.footer-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 18px;
  border-top: 1px solid var(--gray);
  padding-top: 70px;
  padding-bottom: 22px;
}

.footer-content-wrapper {
  width: 45%;
  max-width: 596px;
}

.footer-title {
  color: var(--black-100);
  font-family: var(--font-prata);
  margin-bottom: 44px;
}

.footer-items-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.footer-item {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: var(--line-height-1_8);
  display: flex;
  align-items: start;
  gap: 18px;
  color: var(--black-100);
}

.footer-item:hover .footer-item-icon {
  transform: scale(1.2);
}

.footer-item-content {
  align-self: center;
}

.footer-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.footer-item-icon {
  width: 42px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}

.footer-item-icon svg {
  width: 48%;
}

.footer-media-wrapper {
  margin-top: 64px;
}

.footer-media-wrapper,
.footer-social-media {
  display: flex;
  align-items: center;
  gap: 34px;
}

.footer-iso-tag {
  max-width: 170px;
}

.footer-icon {
  width: 25px;
  height: 25px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer-icon::before {
  content: "";
  width: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.2);

  &::before {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
.footer-icon svg {
  width: 100%;
  aspect-ratio: 1;
}

.footer-content-container {
  width: 55%;
  max-width: 636px;
}

.footer-from-container {
  max-width: 450px;
}

.footer-input-title {
  color: var(--black-100);
  font-family: var(--font-prata);
  margin-bottom: 8px;
}

.footer-input-dec {
  color: var(--gray-300);
  font-size: 14px;
  line-height: var(--line-height-1_8);
  letter-spacing: 0.56px;
}

.form-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 16px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-checkbox input[type="checkbox"] {
  width: 18px;
  aspect-ratio: 1;
  appearance: none;
  border: 1px solid var(--black);
  border-radius: 5px;
  position: relative;
}

.form-checkbox input[type="checkbox"]::after {
  content: "";
  width: 12px;
  aspect-ratio: 1;
  background-color: var(--black-100);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.form-checkbox input[type="checkbox"]:checked::after {
  opacity: 1;
  visibility: visible;
}

.form-checkbox label {
  font-size: 14px;
  font-weight: 500;
  line-height: var(--line-height-1_8);
  letter-spacing: 0.56px;
  color: var(--black-100);
}

.footer-input-wrapper {
  max-width: 450px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer-email-input {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 1.08px;
  line-height: var(--line-height-1_3);
  background-color: var(--white-100);
  color: var(--black-100);
  padding: 16px 26px;
  padding-right: 48px;
  border-radius: 28px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.footer-email-input::placeholder {
  text-transform: uppercase;
  color: var(--black-100);
  font-weight: 600;
}

.footer-email-input:valid:focus {
  border-color: green;
  outline: none;
}

.footer-email-input:focus {
  outline: none;
  border-color: var(--black-100);
}

.footer-email-btn {
  position: absolute;
  top: 10%;
  right: 1%;
}

.footer-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 78px;
}

.footer-link {
  font-size: 12px;
  font-weight: 600;
  line-height: var(--line-height-2_1);
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--gray);
  padding: 2px;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--black);
}

.footer-creator-tag {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.footer-creator-tag svg {
  width: 100px;
  height: 10px;
}

@media (max-width: 1279px) {
  .footer-items-container {
    flex-direction: column;
  }

  .footer-title {
    margin-bottom: 30px;
  }

  .footer-media-wrapper {
    margin-top: 50px;
  }

  .footer-link-wrapper {
    margin-top: 58px;
  }
}

@media (max-width: 991px) {
  .footer-wrapper {
    padding-top: 58px;
    flex-direction: column;
    gap: 38px;
  }

  .footer-content-wrapper,
  .footer-content-container {
    width: 100%;
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 24px;
  }

  .footer-media-wrapper {
    margin-top: 34px;
  }

  .footer-from-container {
    margin-left: 0;
    max-width: 100%;
  }

  .footer-link-wrapper,
  .footer-creator-tag {
    justify-content: start;
  }

  .footer-items-wrapper {
    width: 100%;
  }

  .footer-link-wrapper {
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .footer-wrapper {
    gap: 46px;
  }

  .footer-input-wrapper {
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 22px;
  }

  .footer-email-input {
    font-size: 16px;
  }

  .footer-items-container {
    gap: 22px;
  }

  .footer-media-wrapper {
    margin-top: 30px;
    gap: 32px;
  }

  .form-checkbox-wrapper {
    margin-top: 38px;
  }

  .footer-input-wrapper {
    margin-top: 16px;
  }

  .footer-email-btn {
    top: 12%;
    right: 2%;
  }

  .footer-link-wrapper {
    margin-top: 34px;
    gap: 36px;
    row-gap: 26px;
  }

  .footer-link {
    font-weight: bold;
    line-height: 1.25;
  }

  .odr-1 {
    order: 1;
  }

  .odr-2 {
    order: 2;
  }

  .odr-3 {
    order: 3;
  }

  .odr-4 {
    order: 4;
  }

  .odr-5 {
    order: 5;
  }

  .footer-creator-tag {
    margin-top: 36px;
  }
}

@media (max-width: 424px) {
  .footer-media-wrapper {
    flex-direction: column-reverse;
    align-items: start;
  }
}
