* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --white-14: rgba(255, 255, 255, 0.14);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-52: rgba(255, 255, 255, 0.52);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-100: #e8e8e8;
  --primary: #011b21;
  --black: #000000;
  --black-28: rgba(0, 0, 0, 0.28);
  --black-100: #0f0f0f;
  --black-100-46: rgba(15, 15, 15, 0.46);
  --black-100-50: rgba(15, 15, 15, 0.5);
  --black-100-68: rgba(15, 15, 15, 0.68);
  --black-100-76: rgba(15, 15, 15, 0.76);
  --black-200: #141414;
  --black-300: #161615;
  --black-400: #3c3c3c;
  --gray: #707070;
  --gray-75: rgba(112, 112, 112, 0.75);
  --gray-100: #d5d5d5;
  --gray-200: #c6c6c6;
  --gray-300: #828282;
  --gray-400: #9a9a9a;
  --gray-500: #e2e2e2;
  --darkslategray: #1d6c78;
  --orange: #f58220;
  --line-height-1_2: 1.2;
  --line-height-1_3: 1.3;
  --line-height-1_5: 1.5;
  --line-height-1_8: 1.8;
  --line-height-2_1: 2.1;
  --font-red-hat: "Red Hat Display";
  --font-prata: "Prata";
  --font-muli: "Muli";
}

body {
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  font-family: var(--font-red-hat);
  line-height: var(--line-height-1_5);
  color: var(--gray);
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1365px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

img {
  max-width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.mx-auto {
  margin-inline: auto;
}

.ml-auto {
  margin-left: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.caption-small,
.caption-big {
  color: var(--gray);
}

.caption-small {
  font-size: 12px;
  line-height: 2.166;
  letter-spacing: 1.8px;
}

.caption-big {
  font-size: 14px;
  line-height: var(--line-height-1_2);
  letter-spacing: 2.1px;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.btn {
  min-width: 208px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-inline: 32px;
  padding-block: 16px;
}

@media (max-width: 1279px) {
  .btn {
    padding-inline: 22px;
  }
}

.btn-extra-small {
  min-width: 168px;
}
@media (max-width: 1279px) {
  .btn-extra-small {
    min-width: 138px;
  }
}

.btn-small {
  min-width: 198px;
}

.btn-big {
  min-width: 221px;
}

.primary-btn {
  background-color: var(--white);
  color: var(--black);
}

.secondary-btn {
  background-color: var(--black);
  color: var(--white);
}

.primary-btn span {
  position: relative;
  z-index: 4;
}

/* .primary-btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  z-index: 1;
  background-color: var(--darkslategray);
  transition: all 0.3s ease-in-out;
} */

.primary-btn::before {
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 75% 75%/0 0 50% 50%;
  background-color: var(--darkslategray);
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

.primary-btn:hover {
  color: var(--white);
  &::before {
    /* width: 100%; */
    /* left: 0; */
    height: 150%;
  }
}

.text-icon-btn {
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: 1.26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
}

.text-btn {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 2.1px;
  line-height: var(--line-height-1_2);
}

.icon-btn {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.icon-btn-icon-1,
.icon-btn-icon-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.icon-btn-icon-1 {
  transform: translate(-50%, -50%);
}

.icon-btn-icon-2 {
  transform: translate(-42px, -50%);
}

.icon-btn:hover .icon-btn-icon-1 {
  transform: translate(42px, -50%);
}

.icon-btn:hover .icon-btn-icon-2 {
  transform: translate(-50%, -50%);
}

.icon-btn-white {
  background-color: var(--white);
  color: var(--black);
}

.icon-btn-black {
  background-color: var(--black);
  color: var(--white);
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: var(--font-prata);
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 66px;
  font-weight: 500;
  line-height: 1.354;
  color: var(--white);
}
@media (max-width: 1279px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 54px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 44px;
    line-height: 1.113;
    letter-spacing: 0.44px;
  }
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.357;
}
@media (max-width: 1279px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 30px;
    line-height: 1.366;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.352;
}
@media (max-width: 1279px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 30px;
    line-height: 1.366;
  }
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
}
@media (max-width: 767px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 28px;
  }
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.366;
}
@media (max-width: 767px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 26px;
  }
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.363;
}
@media (max-width: 767px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 18px;
  }
}

.font-24 {
  font-size: 24px;
  line-height: 1.25;
}

.font-20 {
  font-size: 20px;
  line-height: 1.35; /* page 5 card title LH:1  */
  letter-spacing: 0.4px;
}

.font-18 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.9px;
}

.font-14 {
  font-size: 14px;
  /* badhe alag alag line-height, letter-spacing che */
}
