* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --black-900: #0f0f0f;
  --primary: #707070;
  --line-height-1_3: 1.333;
  --line-height-1_5: 1.5;
  --font-red-hat: "Red Hat Display", sans-serif;
  --font-prata: "Prata", serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-red-hat);
  line-height: var(--line-height-1_5);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1365px;
  margin-inline: auto;
  padding-inline: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.mx-auto {
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}

.h1,
h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.09;
}
@media (max-width: 1279px) {
  .h1,
  h1 {
    font-size: 58px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 56px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1 {
    font-size: 54px;
  }
}
