* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary: #ffffff;
  --secondary-14: rgba(255, 255, 255, 0.14);
  --secondary-20: rgba(255, 255, 255, 0.2);
  --secondary-50: rgba(255, 255, 255, 0.5);
  --secondary-52: rgba(255, 255, 255, 0.52);
  --secondary-77: rgba(255, 255, 255, 0.77);
  --secondary-100: #e8e8e8;
  --primary: #011b21;
  --primary-100: #34494d;
  --black: #000000;
  --black-15: rgba(0, 0, 0, 0.15);
  --black-28: rgba(0, 0, 0, 0.28);
  --black-45: rgba(0, 0, 0, 0.45);
  --black-100: #0f0f0f;
  --black-100-46: rgba(15, 15, 15, 0.46);
  --black-100-50: rgba(15, 15, 15, 0.5);
  --black-100-68: rgba(15, 15, 15, 0.68);
  --black-100-76: rgba(15, 15, 15, 0.76);
  --black-100-77: rgba(15, 15, 15, 0.77);
  --black-200: #141414;
  --black-200-47: rgb(20 20 20 / 47%);
  --black-200-20: rgba(20, 20, 20, 0.2);
  --black-300: #161615;
  --black-400: #3c3c3c;
  --black-500: #080808;
  --gray: #707070;
  --gray-19: rgba(112, 112, 112, 0.19);
  --gray-44: rgba(112, 112, 112, 0.44);
  --gray-74: rgba(112, 112, 112, 0.74);
  --gray-75: rgba(112, 112, 112, 0.75);
  --gray-77: rgba(112, 112, 112, 0.77);
  --gray-100: #d5d5d5;
  --gray-100-46: rgba(213, 213, 213, 0.46);
  --gray-200: #c6c6c6;
  --gray-300: #828282;
  --gray-400: #9a9a9a;
  --gray-500: #e2e2e2;
  --gray-600: #a6afb2;
  --gray-700: #bcbcbc;
  --gray-800: #f2f2f2;
  --darkslategray: #1d6c78;
  --orange: #f58220;
  --line-height-1_2: 1.285;
  --line-height-1_3: 1.333;
  --line-height-1_5: 1.5;
  --line-height-1_8: 1.8;
  --line-height-2_1: 2.1;
  --font-red-hat: "Red Hat Display";
  --font-prata: "Prata";
  --font-muli: "Muli";
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.font-secondary {
  color: var(--secondary);
}

.font-black {
  color: var(--black-100);
}

.body-hidden {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

body {
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  font-family: var(--font-red-hat);
  line-height: var(--line-height-1_5);
  background-color: var(--secondary);
  color: var(--gray);
  display: flex;
  flex-direction: column;
  position: relative;
}

main,
section,
footer {
  background-color: var(--secondary);
  position: relative;
}

.container {
  width: 100%;
  max-width: 1365px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

img {
  max-width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.mx-auto {
  margin-inline: auto;
}

.ml-auto {
  margin-left: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.section-title {
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .section-title {
    text-align: start;
  }
}

.align-start {
  text-align: start;
}

.cursor-pointer {
  cursor: pointer;
}

.caption-small,
.caption-big {
  display: inline-block;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.caption-small {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 1.8px;
}

.caption-big {
  font-size: 14px;
  line-height: var(--line-height-1_2);
  letter-spacing: 2.1px;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  -webkit-line-clamp: 5;
}

.btn {
  min-width: 208px;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 1.8px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-inline: 32px;
  padding-block: 16px;
}

@media (max-width: 1279px) {
  .btn {
    padding-inline: 22px;
  }
}

.btn-extra-small {
  min-width: 168px;
}
@media (max-width: 1279px) {
  .btn-extra-small {
    min-width: 138px;
  }
}

.btn-small {
  min-width: 198px;
}

.btn-big {
  min-width: 222px;
}

.primary-btn {
  background-color: var(--secondary);
  color: var(--black);
}

.secondary-btn {
  background-color: var(--black);
  color: var(--secondary);
}

.btn-hover span {
  position: relative;
  z-index: 4;
}

.btn-hover::before {
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 75% 75%/0 0 50% 50%;
  background-color: var(--darkslategray);
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

.btn-hover:hover {
  color: var(--secondary);
  &::before {
    height: 150%;
  }
}

.text-icon-btn {
  width: max-content;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.285;
  font-family: var(--font-muli);
  letter-spacing: 1.26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
}

.text-btn {
  width: max-content;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  padding-block: 8px;
  position: relative;
  line-height: var(--line-height-1_2);
}

.text-btn::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 6px;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.text-btn:not(:where(.font-secondary))::after {
  background-color: var(--black-100);
}

.text-btn:hover::after {
  width: 100%;
}

.icon-btn {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn svg {
  width: 86%;
}

.icon-btn-content {
  width: 70%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
}

.icon-btn-svg,
.icon-btn-svg-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.icon-btn-svg {
  transform: translate(-50%, -50%);
}

.icon-btn-svg-2 {
  transform: translate(-42px, -50%);
}

.icon-btn:hover .icon-btn-svg,
.text-icon-btn:hover .icon-btn-svg {
  transform: translate(42px, -50%);
}

.icon-btn:hover .icon-btn-svg-2,
.text-icon-btn:hover .icon-btn-svg-2 {
  transform: translate(-50%, -50%);
}

.icon-btn-white {
  background-color: var(--secondary);
  color: var(--black);
}

.icon-btn-black {
  background-color: var(--black);
  color: var(--secondary);
}

.scroll-bar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--gray-75);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

/* ----- Heading css ----- */
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: var(--font-prata);
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 62px;
  font-weight: 400;
  line-height: 1.354;
  color: var(--secondary);
}
@media (max-width: 1279px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 54px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 44px;
    line-height: 1.113;
    letter-spacing: 0.44px;
  }
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.357;
}
@media (max-width: 1279px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 30px;
    line-height: 1.366;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.352;
}
@media (max-width: 1279px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 30px;
    line-height: 1.366;
  }
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
}
@media (max-width: 767px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 28px;
  }
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.366;
}
@media (max-width: 767px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 26px;
  }
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.363;
}

.font-24 {
  font-size: 24px;
  line-height: 1.25;
}
@media (max-width: 575px) {
  .font-24 {
    font-size: 18px;
    line-height: 1.555;
  }
}

.font-20 {
  font-size: 20px;
  line-height: 1.35; /* page 5 card title LH:1  */
  letter-spacing: 0.4px;
}
@media (max-width: 575px) {
  .font-20 {
    font-size: 18px;
    line-height: 1.388;
    letter-spacing: 0.36px;
  }
}

.font-18 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.9px;
}

.font-14 {
  font-size: 14px;
  /* badhe alag alag line-height, letter-spacing che */
}

/* ----- Quick contact sections ----- */
.quick-call-btn,
.quick-sms-btn {
  position: fixed;
  z-index: 8;
  transition: all 0.3s ease-in-out;
}

.quick-call-btn {
  max-width: 218px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 22px;
  background-color: var(--black-100);
  color: var(--secondary);
  border-radius: 10px 10px 0 0;
  left: 60px;
  bottom: 0;
  overflow: hidden;
}

.quick-call-btn::after {
  content: "";
  background-color: var(--darkslategray);
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 0 75% 75%/0 0 50% 50%;
  transition: all 0.3s ease-in-out;
}

.quick-call-btn:hover::after {
  height: 150%;
}

.quick-call-btn-icon-wrapper {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #242424;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.quick-call-icon {
  width: 70%;
}

.quick-call-btn .caption-big {
  letter-spacing: 0.28px;
  color: var(--secondary);
  text-transform: initial;
}

.quick-sms-btn {
  width: 62px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 60px;
  background-color: var(--black-100);
  color: var(--secondary);
}

.quick-sms-icon {
  width: 58%;
}

.quick-sms-btn::after {
  content: "";
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  animation: scale 2.2s infinite;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--black-100-76);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.3);
    background-color: transparent;
  }
}

@media (max-width: 575px) {
  .quick-call-btn,
  .quick-sms-btn {
    display: none;
  }
}

/* ----- Call back modal ----- */
.call-back-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black-28);
}

.call-back-modal {
  position: fixed;
  inset: 0;
  z-index: 998;
  padding: 20px;
  display: flex;
  overflow: auto;
}

.call-back-modal-overlay,
.call-back-modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.call-back-modal-overlay.active,
.call-back-modal.active {
  opacity: 1;
  visibility: visible;
}

.call-back-modal-wrapper {
  width: 100%;
  max-width: 562px;
  margin: auto;
}

.call-back-modal-dialog {
  position: relative;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.call-back-modal.active .call-back-modal-dialog {
  transform: scale(1);
}

.call-back-modal-close-btn {
  width: 58px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -24px;
  right: -24px;
  z-index: 4;
  border: none;
}

.call-back-modal-close-icon {
  width: 60%;
}

.call-back-modal-contents {
  padding-block: 52px 36px;
  padding-inline: 60px;
  text-align: center;
}

.call-back-caption {
  color: var(--secondary);
  line-height: 1.25;
  font-family: var(--font-muli);
  font-weight: 700;
  margin-block: 5px 36px;
}

.call-back-option-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: center;
  margin-bottom: 22px;
}

.call-back-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.call-back-option-label {
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: var(--font-muli);
}

.call-back-option input[type="radio"] {
  appearance: none;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 100%;
  position: relative;
}

.call-back-option input[type="radio"]::after {
  content: "";
  width: 78%;
  aspect-ratio: 1;
  background-color: var(--orange);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
}

.call-back-option input[type="radio"]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

.call-back-input-field {
  width: 100%;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1.08px;
  font-family: var(--font-muli);
  font-weight: 700;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 16px;
  background-color: var(--primary-100);
  transition: all 0.3s ease-in-out;
}

.call-back-input-field::placeholder {
  color: var(--secondary);
}

.call-back-inputs > :not(:first-child) {
  margin-top: 12px;
}

.call-back-input-field:focus {
  outline: none;
  border-color: var(--secondary);
}

.call-back-input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.call-back-newsletters-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
}

.call-back-newsletters-contents input[type="checkbox"] {
  width: 24px;
  border: none;
}

.call-back-newsletters-contents input[type="checkbox"]::after {
  background-color: var(--orange);
}

.newsletters-description {
  font-size: 10px;
  letter-spacing: 0.9px;
  line-height: 1.3;
  font-family: var(--font-muli);
  font-weight: 700;
}

.call-back-modal-btn {
  border: none;
  margin-top: 26px;
}

@media (max-width: 767px) {
  .call-back-modal-close-btn {
    top: 10px;
    right: 10px;
  }

  .call-back-input-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .call-back-modal-overlay,
  .call-back-modal {
    display: none;
  }
}

/* ----- end Call back modal ----- */

.container-overflow {
  width: auto;
  margin-inline: -20px;
  padding-left: 20px;
  padding-bottom: 16px;
  overflow: auto;
}
@media (max-width: 767px) {
  .container-overflow {
    padding-left: 16px;
  }
}

input[type="checkbox"] {
  width: 18px;
  aspect-ratio: 1;
  appearance: none;
  border: 1px solid var(--black);
  border-radius: 5px;
  position: relative;
}

input[type="checkbox"]::after {
  content: "";
  width: 76%;
  aspect-ratio: 1;
  background-color: var(--black-100);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}
