* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --black-500: #011b21;
  --black-800: #141414;
  --black-900: #0f0f0f;
  --primary: #707070;
  --primary-100: #828282;
  --line-height-1_2: 1.2;
  --line-height-1_3: 1.3;
  --line-height-1_5: 1.5;
  --font-red-hat: "Red Hat Display", sans-serif;
  --font-prata: "Prata", serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-red-hat);
  line-height: var(--line-height-1_5);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1365px;
  margin-inline: auto;
  padding-inline: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.mx-auto {
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}

.caption-small,
.caption-big {
  color: var(--primary);
}

.caption-small {
  font-size: 12px;
  line-height: var(--line-height-1_3);
  letter-spacing: 1.8px;
}

.caption-big {
  font-size: 14px;
  line-height: var(--line-height-1_2);
  letter-spacing: 2.1px;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  border-radius: 5px;
}

.primary-btn {
  padding-block: 16px;
  padding-inline: 32px;
  background-color: var(--white);
}

.secondray-btn {
  font-size: 14px;
  line-height: var(--line-height-1_2);
  letter-spacing: 1.26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
}

.text-btn {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 2.1px;
  line-height: var(--line-height-1_2);
}

.icon-btn {
  width: 39px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.09;
}
@media (max-width: 1279px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 58px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 56px;
  }
}
@media (max-width: 575px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 54px;
  }
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 42px;
  font-weight: 500;
  line-height: var(--line-height-1_3);
}
@media (max-width: 1279px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 34px;
  font-weight: 500;
  line-height: var(--line-height-1_3);
}
@media (max-width: 1279px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 30px;
  }
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 32px;
  font-weight: 500;
  font-weight: var(--line-height-1_3);
}
@media (max-width: 767px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 28px;
  }
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 30px;
  font-weight: 500;
  font-weight: var(--line-height-1_3);
}
@media (max-width: 767px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .h5,
  h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
    font-size: 26px;
  }
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 22px;
  font-weight: 500;
  font-weight: var(--line-height-1_3);
}
@media (max-width: 767px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .h6,
  h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
    font-size: 18px;
  }
}
