/*----- Header -----*/
header {
  width: 100%;
  padding-block: 26px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 996;
  transition: all 0.3s ease-in-out;
}

.body-scroll {
  padding-block: 14px;
  backdrop-filter: blur(12px);
  background: rgba(0 0 0 / 0.4);
}

.body-scroll .header-logo-media {
  max-width: 92px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.header-logo-media {
  max-width: 132px;
  transition: all 0.3s ease-in-out;
}

.header-logo {
  width: 100%;
  height: 100%;
  display: block;
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.header-wrapper,
.header-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-link {
  font-size: 12px;
  font-weight: 500;
  line-height: var(--line-height-1_3);
  letter-spacing: 1.8px;
  padding: 8px;
  padding-right: 6px;
  text-transform: uppercase;
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.header-link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 4px;
  right: 0;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.header-link:hover {
  &::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}

.header-search-btn {
  width: 36px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--gray);
  color: var(--secondary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.header-search-btn svg {
  width: 56%;
}

.header-search-svg,
.header-search-svg-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.header-search-svg {
  transform: translate(-50%, -50%);
}

.header-search-svg-2 {
  transform: translate(-42px, -50%);
}

.header-search-btn:hover .header-search-svg {
  transform: translate(42px, -50%);
}

.header-search-btn:hover .header-search-svg-2 {
  transform: translate(-50%, -50%);
}

.responsive-btn {
  display: none;
}

.nav-toggle-wrapper {
  width: 58px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.nav-toggle {
  width: 62%;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 6px;
  border: none;
  position: relative;
  background-color: transparent;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}

.nav-toggle-wrapper .bar:nth-child(2) {
  max-width: 22px;
}

.nav-toggle-wrapper.active .bar:nth-child(2) {
  transform: translateX(-6px);
  opacity: 0;
}

.nav-toggle-wrapper.active .bar:nth-child(1) {
  transform: translate(0, 12px) rotate(45deg);
}

.nav-toggle-wrapper.active .bar:nth-child(3) {
  transform: translate(0, -12px) rotate(-45deg);
}

@media (max-width: 1279px) {
  .header-logo-media {
    max-width: 104px;
  }

  .header-wrapper,
  .header-content,
  .header-links,
  .header-content-wrapper {
    gap: 4px;
  }

  .header-link {
    padding: 6px;
    padding-right: 4px;
  }
}

@media (max-width: 991px) {
  header {
    padding-block: 36px 30px;
  }

  header.active {
    background-color: var(--secondary);
  }

  .header-logo-media {
    max-width: 134px;
  }

  header.active .header-logo {
    color: var(--black);
  }

  .nav-toggle-wrapper {
    display: flex;
  }

  .nav-toggle-wrapper.active {
    background-color: var(--black);
  }

  .header-content-wrapper {
    width: 100%;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary);
    padding-top: 20px;
    padding-inline: 20px;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease-in-out;
  }

  .body-scroll .header-content-wrapper {
    height: calc(100vh - 96.13px);
  }

  .header-content-wrapper.active {
    opacity: 1;
    visibility: visible;
  }

  .header-links {
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 26px;
  }

  .header-wrapper {
    gap: 26px;
  }

  .header-link {
    font-size: 24px;
    line-height: 1.375;
    color: var(--black-100);
  }

  .header-link::after {
    background-color: var(--black-100);
  }

  .desktop-btn,
  .header-search-btn {
    display: none;
  }

  .responsive-btn {
    display: block;
  }
}

@media (max-width: 767px) {
  .header-content-wrapper {
    padding-top: 16px;
    padding-inline: 16px;
  }

  /* .header-content-wrapper,
  .header-links {
    gap: 16px;
    } */

  .nav-toggle-wrapper {
    width: 58px;
  }

  .nav-toggle {
    width: 50%;
  }

  .nav-toggle .bar:nth-child(2) {
    max-width: 16px;
  }
}

@media (max-width: 575px) {
  .header-content-wrapper {
    gap: 20px;
  }
}

/* ======================================
            Header v2
======================================*/
.header-v2 .header-logo,
.header-v2 .header-link {
  color: var(--black-200);
}

.header-v2 .header-link:hover::after {
  background-color: var(--black-200);
}

.body-scroll .header-logo,
.body-scroll .header-link {
  color: var(--secondary);
}

.header-v2 .bar {
  background-color: var(--black-100);
}

.body-scroll .header-link:hover::after,
.header-v2 .nav-toggle-wrapper.active .bar,
.body-scroll .bar {
  background-color: var(--secondary);
}

.header-content-wrapper.active .header-link {
  color: var(--black-200);
}
