@media (max-width: 1279px) {
  /* ----- Split section ----- */
  .split-v1 {
    --marginTop: 156px;
  }

  /* ====================================== 
             MARINE HTML 
====================================== */
  /* ----- Split section ----- */
  .split-v2-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ----- Case studies slider section ----- */
  .case-studies-content-wrapper-v2 {
    padding-inline: 60px 42px;
  }

  /* ----- Brochure section ----- */
  .brochure-wrapper {
    gap: 78px;
  }

  /* ======================================
            PRODUCTS HTML
====================================== */
  .products-filters-wrapper {
    top: 160px;
  }

  .products-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-card {
    margin-inline: auto;
  }
}

@media (max-width: 991px) {
  /* ----- Hero section ----- */
  .home-hero-section .hero-text-title {
    font-size: 62px;
  }

  /* ----- Split section ----- */
  .split-v1 {
    --marginTop: 120px;
    padding-bottom: 50px;
  }

  /* ----- Articles section ----- */
  .home-articles {
    padding-block: 72px 138px;
  }

  /* ----- Our story section ----- */
  .home-our-story {
    padding-bottom: 66px;
  }

  /* ----- Our services section ----- */
  .our-services-section {
    padding-block: 62px;
  }

  /* ----- Featured card section ----- */
  .home-featured-card {
    padding-block: 78px;
  }

  .featured-cards-content {
    max-width: 100%;
  }

  /* ----- Case studies section ----- */
  .home-case-studies-section {
    padding-block: 90px;
  }

  /* ----- Testimonial section ----- */
  .testimonial-list-wrapper::before {
    left: 0;
  }

  .testimonial-list-wrapper::after {
    right: 0;
  }

  .testimonial-content {
    font-size: 32px;
  }

  /* ====================================== 
             MARINE HTML 
====================================== */
  /* ----- Split  section ----- */
  .marine-split {
    padding-block: 68px;
  }

  /* ----- Featured card section ----- */
  .marine-featured-card {
    padding-block: 76px;
  }

  /* ----- Case studies slider section ----- */
  .case-studies-section-v2 {
    padding-block: 60px;
  }

  .case-studies-content-wrapper-v2 {
    padding-inline: 50px 30px;
    padding-block: 84px 74px;
  }

  /* ----- Blog img section ----- */
  .blog-img-section {
    padding-block: 56px;
  }

  /* ----- Articles section ----- */
  .marine-articles {
    padding-block: 60px;
  }

  /* ----- Brochure section ----- */
  .marine-brochure {
    padding-block: 56px;
  }

  .brochure-wrapper {
    gap: 58px;
  }

  /* ======================================
            SAFETY HTML
====================================== */
  /* ----- Featured card section ----- */
  .safety-featured-card {
    padding-block: 68px;
  }

  /* ----- Split section ----- */
  .safety-split {
    padding-block: 60px;
  }

  /* ----- Blog img section ----- */
  .blog-img-section-v2 {
    padding-top: 50px;
  }

  /* ----- Articles section ----- */
  .safety-articles {
    padding-block: 76px;
  }

  /* ----- Case studies section ----- */
  .safety-case-studies {
    padding-block: 64px;
  }

  /* ----- Brochure section ----- */
  .safety-brochure {
    padding-block: 62px;
  }

  /* ----- Cta section ----- */
  .safety-cta {
    padding-block: 50px;
  }

  /* ======================================
            PRODUCTS HTML
====================================== */
  .products-wrapper {
    flex-direction: column;
  }

  .products-filters-wrapper,
  .products-listing-wrapper {
    width: 100%;
  }

  .products-filters-wrapper {
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .products-title {
    margin-bottom: 32px;
  }

  .products-filters-content {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 20px;
    background-color: var(--secondary);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: all 0.3s ease-in-out;
  }

  .products-filters-content.active {
    opacity: 1;
    visibility: visible;
  }

  .products-filters-btn,
  .filters-content-close-btn {
    display: flex;
  }

  .products-section {
    overflow: hidden;
  }

  .products-banner {
    width: auto;
    margin-inline: -20px;
  }

  .products-listing-wrapper {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-text-wrapper {
    max-width: 100%;
    padding-left: 0;
  }

  .home-hero-section .hero-text-title {
    font-size: 58px;
  }

  /* ----- Split section ----- */
  .split-v1 {
    --marginTop: 26px;
    padding-bottom: 38px;
    overflow: hidden;
  }

  .split-v1-wrapper {
    width: auto;
    margin-inline: -20px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* ----- Articles section ----- */
  .home-articles {
    padding-block: 52px 102px;
  }

  .articles-splide {
    margin-top: 28px;
  }

  .articles-media {
    max-width: 300px;
    height: 300px;
  }

  .articles-content-title {
    max-width: 218px;
  }

  /* ----- Our story section ----- */
  .home-our-story {
    padding-bottom: 50px;
  }

  .our-story-section {
    overflow: hidden;
  }

  .our-story-wrapper {
    flex-direction: column;
  }

  .our-story-media {
    width: auto;
    margin-inline: -20px;
  }

  .our-story-content {
    padding-top: 44px;
    width: 100%;
    max-width: 100%;
  }

  .our-story-title {
    margin-bottom: 15px;
  }

  .our-story-dec {
    margin-bottom: 15px;
    line-height: 1.625;
    letter-spacing: 0.64px;
  }

  /* ----- Our services section ----- */
  .our-services-splide {
    margin-top: 62px;
  }

  .our-services-media {
    max-width: 305px;
  }

  /* ----- Featured card section ----- */
  .featrued-section-content {
    text-align: start;
  }

  /* ----- Case studies section ----- */
  .case-studies-section {
    background: var(--primary);
  }

  .case-studies-title {
    line-height: 1.375;
  }

  .case-studies-wrapper {
    margin-top: 34px;
    gap: 18px;
  }

  .case-studies-card {
    width: 300px;
  }

  .case-studies-card-media {
    width: 300px;
    height: 300px;
  }

  .case-studies-card-content {
    margin-top: 20px;
  }

  .case-studies-card-content .caption-big {
    color: var(--secondary);
  }

  .case-studies-card-title {
    color: var(--secondary);
  }

  .case-studies-card-dec {
    max-width: 266px;
    color: var(--secondary-77);
  }

  /* ----- Testimonial section ----- */
  .testimonial-content {
    font-size: 28px;
  }

  .testimonial-list-wrapper::before {
    top: -30px;
  }

  .testimonial-list-wrapper::after {
    bottom: 22px;
  }

  /* ====================================== 
             MARINE HTML 
====================================== */
  /* ----- Hero section ----- */
  .hero-text-dec-v2 {
    max-width: 100%;
  }

  /* ----- Split  section ----- */
  .split-v2 .section-title {
    padding-inline: 16px;
  }

  .split-v2-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ----- Featured card section ----- */
  .marine-featured-card {
    padding-block: 50px;
  }

  /* ----- Case studies slider section ----- */
  .case-studies-section-v2 {
    padding-block: 48px;
  }

  .case-studies-wrapper-v2 {
    flex-direction: column;
    width: auto;
    margin-inline: -16px;
  }

  .case-studies-media-v2,
  .case-studies-v2 {
    width: 100%;
    max-width: 100%;
  }

  .case-studies-content-wrapper-v2 {
    max-width: 100%;
    padding-block: 60px 54px;
    padding-inline: 36px 24px;
  }

  /* ----- Brochure section ----- */
  .brochure-wrapper {
    flex-direction: column;
    gap: 48px;
    margin-inline: 20px;
    padding: 0;
  }

  .brochure-card {
    white-space: normal;
    flex-direction: column;
  }

  .brochure-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .brochure-wrapper-border {
    width: 100%;
    border: 1px solid var(--gray-19);
  }

  /* ----- Cta section ----- */
  .cta-wrapper {
    width: auto;
    margin-inline: -20px;
  }

  .cta-img {
    height: 400px;
  }

  .cta-content {
    flex-direction: column;
    gap: 8px;
  }
  /* ======================================
            SAFETY HTML 
====================================== */
  /* ----- Featured card section ----- */
  .safety-featured-card {
    padding-block: 58px;
  }

  /* ----- Split section ----- */
  .safety-split {
    padding-bottom: 10px;
  }

  /* ----- Blog img section ----- */
  .blog-img-section-v2 {
    padding-top: 0;
  }

  /* ----- Case studies section ----- */
  .safety-case-studies {
    padding-block: 45px;
  }

  /* ----- Brochure section ----- */
  .safety-brochure {
    padding-block: 42px;
  }

  /* ----- Cta section ----- */
  .safety-cta {
    padding-block: 36px;
  }

  /* ======================================
            PRODUCTS HTML
====================================== */
  .products-banner {
    flex-direction: column;
    gap: 34px;
  }

  .products-banner-content {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
  }

  .products-banner-title {
    margin-bottom: 18px;
  }

  .products-banner-media {
    width: 100%;
    height: 198px;
  }

  .products-listing-wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  /* ----- Hero section ----- */
  .home-hero-section .hero-text-title {
    font-size: 54px;
    line-height: 1.203;
    letter-spacing: 0.54px;
  }

  .hero-text-dec {
    font-size: 14px;
    line-height: 1.785;
    letter-spacing: 0.42px;
  }

  /* ----- Articles section ----- */
  .home-articles {
    padding-block: 36px 76px;
  }

  /* ----- Featured card section ----- */
  .featured-cards-content {
    margin-top: 24px;
  }

  .featured-card-media {
    width: 214px;
    height: 256px;
  }

  .featured-card-wrapper {
    gap: 20px;
  }

  .featured-card-caption {
    margin-top: 22px;
    margin-bottom: 4px;
    color: var(--secondary);
  }

  /* ----- Testimonial section ----- */
  .testimonial-content {
    font-size: 24px;
    letter-spacing: 0.23px;
    line-height: 1.608;
    margin-bottom: 8px;
  }

  .testimonial-list-wrapper::after {
    bottom: 12px;
  }

  /* ====================================== 
             MARINE HTML 
====================================== */
  /* ----- Hero section ----- */
  .hero-section-v2 {
    align-items: start;
  }

  .hero-text-splide-v2 {
    width: auto;
    margin-inline: -16px;
  }

  .hero-text-wrapper-v2 {
    height: 100%;
    padding-block: 180px 52px;
    padding-inline: 16px;
    background-color: var(--primary);
  }

  .hero-text-title-v2 {
    margin-block: 8px 12px;
  }

  .marine-slider {
    position: static;
  }

  .hero-section-v2 {
    flex-direction: column-reverse;
  }

  .hero-section-v2 .hero-bg-img-wrapper::after {
    background: none;
  }

  /* ----- Split section ----- */
  .split-v2-wrapper .split-card-title {
    font-size: 26px;
    line-height: 1.346;
    margin-bottom: 8px;
  }

  /* ----- Case studies slider section ----- */
  .case-studies-content-wrapper-v2 {
    padding-block: 30px 42px;
  }

  .case-studies-media-v2 {
    height: 310px;
  }

  .case-studies-content-tile-v2 {
    margin-top: 10px;
  }

  .case-studies-content-dec-v2 {
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height: 1.611;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
  }

  /* ----- Blog img section ----- */
  .blog-section-img {
    min-height: 330px;
  }

  /* ----- Brochure section ----- */
  .brochure-heading {
    flex-direction: column;
    gap: 8px;
  }

  .brochure-wrapper {
    margin-top: 60px;
    gap: 30px;
  }

  .brochure-card {
    gap: 14px;
  }

  .brochure-card:not(:first-child) {
    padding-top: 22px;
  }

  .brochure-card-media {
    width: 78px;
    height: 70px;
  }

  .brochure-card-dec {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    margin-block: 6px 14px;
  }

  /* ----- Cta section ----- */
  .cta-title {
    max-width: 238px;
  }

  /* ======================================
            SAFETY HTML
====================================== */
  /* ----- Featured card section ----- */
  .safety-featured-card {
    padding-block: 46px;
  }

  /* ----- Blog img section ----- */
  .blog-img-v2 {
    min-height: 284px;
  }

  /* ======================================
            PRODUCTS HTML
====================================== */
  .products-banner-content {
    text-align: center;
    max-width: 200px;
  }

  .products-card-media {
    max-width: 146px;
    height: 172px;
  }

  .products-card-caption {
    font-size: 10px;
    letter-spacing: 1.5px;
  }

  .products-card-title {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 1.333;
  }
}
