@media (max-width: 991px) {
  /* ----- Hero section ----- */
  .home-hero-section .hero-slider-title {
    font-size: 62px;
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-slider-content {
    max-width: 100%;
    padding-left: 0;
  }

  .home-hero-section .hero-slider-title {
    font-size: 58px;
  }
}
@media (max-width: 575px) {
  /* ----- Hero section ----- */
  .home-hero-section .hero-slider-title {
    font-size: 54px;
    line-height: 1.203;
    letter-spacing: 0.54px;
  }

  .hero-slider-dec {
    font-size: 14px;
    line-height: 1.785;
    letter-spacing: 0.42px;
  }
}
