@media (max-width: 1279px) {
  /*----- Header -----*/
  .header {
    padding-block: 38px;
  }

  .header-logo img {
    max-width: 100px;
  }

  .header-wrapper,
  .header-content-container,
  .header-link-wrapper,
  .header-content-wrapper {
    gap: 8px;
  }

  .header .primary-btn {
    padding-inline: 22px;
  }

  /*----- Footer -----*/
  .footer-items-container {
    flex-direction: column;
  }

  .footer-title {
    margin-bottom: 30px;
  }

  .footer-media-wrapper {
    margin-top: 50px;
  }

  .footer-link-wrapper {
    margin-top: 58px;
  }
}

@media (max-width: 991px) {
  /*----- Header -----*/
  .header {
    padding-block: 28px;
  }

  .nav-toggle {
    display: flex;
  }

  .header-content-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
  }

  .header-content-wrapper.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .header-link-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .header-wrapper {
    gap: 20px;
  }

  /*----- Footer -----*/
  .footer-wrapper {
    padding-top: 58px;
    flex-direction: column;
    gap: 38px;
  }

  .footer-content-wrapper,
  .footer-content-container {
    width: 100%;
    max-width: 100%;
  }

  .footer-title {
    margin-bottom: 24px;
  }

  .location-item {
    align-items: center;
  }

  .footer-media-wrapper {
    margin-top: 34px;
  }

  .footer-from-container {
    margin-left: 0;
    max-width: 100%;
  }

  .footer-link-wrapper,
  .footer-creator-tag {
    justify-content: start;
  }

  .footer-items-wrapper {
    width: 100%;
  }

  .footer-link-wrapper {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  /*----- Header -----*/
  .header-content-wrapper {
    padding: 16px;
  }

  .bar {
    width: 34px;
  }

  .nav-toggle .bar:nth-child(2) {
    width: 20px;
  }
}

@media (max-width: 575px) {
  .desktop-btn {
    display: none;
  }

  .responsive-btn {
    display: block;
  }

  .header-content-wrapper {
    gap: 20px;
  }

  /*----- Footer -----*/
  .footer-input-wrapper {
    max-width: 100%;
  }

  .footer-email-input {
    font-size: 16px;
  }

  .footer-email-btn {
    top: 12%;
    right: 2%;
  }

  .footer-link-wrapper {
    margin-top: 28px;
  }
}

@media (max-width: 424px) {
  /*----- Footer -----*/
  .footer-media-wrapper {
    flex-direction: column-reverse;
    align-items: start;
  }
}
