@media (max-width: 1279px) {
  /* ----- Split section ----- */
  .split-section {
    margin-top: -140px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  /* ----- Our story section ----- */
  .our-story-section {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 16%,
      rgba(1, 27, 33, 1) 16%,
      rgba(1, 27, 33, 1) 100%
    );
  }
}

@media (max-width: 991px) {
  /* ----- Hero section ----- */
  .home-hero-section .hero-slider-title {
    font-size: 62px;
  }

  /* ----- Split section ----- */
  .split-section {
    padding-bottom: 50px;
    margin-top: -110px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 24%,
      rgba(255, 255, 255, 1) 24%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  /* ----- Articles section ----- */
  .articles-section {
    padding-block: 50px 62px;
  }

  /* ----- Our story section ----- */
  .our-story-section {
    padding-block: 62px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(1, 27, 33, 1) 12%,
      rgba(1, 27, 33, 1) 100%
    );
  }
}

@media (max-width: 767px) {
  /* ----- Hero section ----- */
  .hero-content-wrapper {
    max-width: 100%;
    padding-left: 0;
  }

  .home-hero-section .hero-slider-title {
    font-size: 58px;
  }

  /* ----- Split section ----- */
  .split-section {
    padding-bottom: 38px;
    margin-top: -70px;
    overflow: hidden;
  }

  .split-wrapper {
    width: auto;
    margin-inline: -20px;
    flex-direction: column;
    gap: 4px;
  }

  .split-card {
    max-width: 100%;
  }

  /* ----- Articles section ----- */
  .articles-section {
    padding-block: 38px;
  }

  .articles-section-title {
    margin-bottom: 28px;
  }

  .articles-media {
    max-width: 300px;
    height: 300px;
  }

  .articles-content-title {
    max-width: 218px;
  }

  /* ----- Our story section ----- */
  .our-story-section {
    padding-block: 38px;
    overflow: hidden;
  }

  .our-story-wrapper {
    flex-direction: column;
  }

  .our-story-media {
    width: auto;
    margin-inline: -20px;
  }

  .our-story-content {
    padding-top: 68px;
    width: 100%;
    max-width: 100%;
  }

  .our-story-title {
    margin-bottom: 16px;
  }

  .our-story-dec {
    line-height: 1.625;
    letter-spacing: 0.64px;
  }
}

@media (max-width: 575px) {
  /* ----- Hero section ----- */
  .home-hero-section .hero-slider-title {
    font-size: 54px;
    line-height: 1.203;
    letter-spacing: 0.54px;
  }

  .hero-slider-dec {
    font-size: 14px;
    line-height: 1.785;
    letter-spacing: 0.42px;
  }

  /* ----- Articles section ----- */
}
