/* ----- Hero section ----- */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.hero-bg-img-splide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-bg-img-splide,
.hero-bg-img-track {
  height: 100%;
}

.hero-bg-img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-bg-img-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(19deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.hero-text-wrapper {
  max-width: 680px;
  padding-left: 8%;
}

.home-hero-section .hero-text-title {
  font-size: 66px;
  line-height: 1.09;
  letter-spacing: 0.66px;
  text-shadow: 0 20px 20px #00000029;
}

.hero-text-dec {
  color: var(--secondary);
  margin-top: 8px;
  text-shadow: 0 3px 6px #00000029;
}

.splide__pagination {
  padding: 0;
}

.hero-bg-img-splide .splide__pagination {
  top: 50%;
  right: 30px;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
  flex-direction: column;
  gap: 6px;
}

.splide__pagination li {
  line-height: 0;
  display: flex;
}

.hero-bg-img-splide .splide__pagination__page {
  width: 2px;
  height: 24px;
  padding-inline: 8px;
}

.splide__pagination__page {
  margin: 0;
  border-radius: 0;
  opacity: 1;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.splide__pagination__page:hover,
.splide__pagination__page.is-active {
  background: transparent;
}

.splide__pagination__page.is-active {
  transform: scale(1);
}

.splide__pagination__page::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.hero-bg-img-splide .splide__pagination__page::after {
  width: 2px;
  height: 24px;
  background: var(--secondary);
}

.splide__pagination__page.is-active::after,
.splide__pagination__page:hover::after {
  opacity: 0.4;
}

.splide__pagination__page:focus-visible {
  outline: none;
}

/* ----- Split section ----- */
.split-v1 {
  --marginTop: 198px;
  padding-bottom: 62px;
  margin-top: calc(-1 * var(--marginTop));
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) var(--marginTop),
    rgba(255, 255, 255, 1) var(--marginTop)
  );
  pointer-events: none;
}

.split-wrapper {
  display: grid;
}

.split-v1-wrapper {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4px;
}

.split-card {
  max-height: 434px;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
}

.split-card-img {
  transition: all 0.3s ease-in-out;
}

.split-card:hover .split-card-img {
  transform: scale(1.1);
}

.split-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  padding: 20px;
}

.split-card-title {
  color: var(--secondary);
  margin-bottom: 8px;
  text-shadow: 0 0 5px #00000081;
  filter: drop-shadow(0 0 20px var(--black));
  text-transform: capitalize;
}

/* ----- Articles section ----- */
.home-articles {
  padding-block: 92px 186px;
}

.articles-splide {
  margin-top: 34px;
}

.articles-content-wrapper {
  margin-top: 28px;
}

.articles-track {
  overflow: visible;
}

.articles-media {
  width: 100%;
  max-width: 410px;
  height: 268px;
  overflow: hidden;
}

.articles-img {
  transition: all 0.3s ease-in-out;
}

.articles-item-wrapper:hover .articles-img {
  transform: scale(1.1);
}

.articles-content-title {
  max-width: 330px;
  margin-block: 12px;
}

.slider-arrow {
  width: 44px;
  height: 12px;
  border-radius: 0;
  background: transparent;
  opacity: 1;
  top: -62px;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.slider-arrows .slider-arrow svg {
  width: 100%;
  height: 100%;
}

.slider-arrows .slider-arrow:hover {
  color: var(--black-100);
  opacity: 0.7;
}

.slider-arrows .slider-arrow:hover:not(:where(.color-black)) {
  color: var(--secondary);
}

.slider-arrows .slider-arrow[disabled] {
  opacity: 1;
  pointer-events: none;
}

.slider-arrows .splide__arrow--prev {
  left: auto;
  right: 68px;
}

.slider-arrows .splide__arrow--next {
  right: 0;
}

.slider-arrows .slider-arrow[disabled] {
  opacity: 12%;
}

.splide.is-focus-in .splide__arrow:focus,
.splide__arrow:focus-visible {
  outline: none;
}

/* ----- Our story section ----- */
.home-our-story {
  padding-bottom: 82px;
}

.our-story-section {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 14%, rgba(1, 27, 33, 1) 14%);
}

.our-story-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.our-story-media {
  width: 60%;
  max-width: 764px;
}

.our-story-content {
  width: 40%;
  max-width: 456px;
}

.our-story-title {
  color: var(--secondary);
  margin-bottom: 18px;
  text-transform: capitalize;
}

.our-story-dec {
  color: var(--gray-600);
  letter-spacing: 0.32px;
  line-height: 1.75;
  margin-bottom: 24px;
}

/* ----- Our services section ----- */
.our-services-section {
  padding-block: 80px;
}

.our-services-splide {
  margin-top: 46px;
}

.our-services-track {
  overflow: visible;
}

.our-services-media {
  width: 100%;
  max-width: 372px;
  height: 286px;
  position: relative;
  overflow: hidden;
}

.our-services-img {
  transition: all 0.3s ease-in-out;
}

.our-services-wrapper:hover .our-services-img {
  transform: scale(1.1);
}

.our-services-media-overlay {
  width: 100%;
  height: 140px;
  background: linear-gradient(180deg, rgba(1, 27, 33, 0) 0%, rgba(1, 27, 33, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.our-services-caption {
  position: absolute;
  bottom: 6px;
  left: 20px;
}

.our-services-content {
  margin-top: 6px;
  padding-left: 20px;
}

.our-services-card-title {
  max-width: 186px;
  color: var(--secondary);
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* ----- Featured card section ----- */
.home-featured-card {
  padding-block: 90px;
}

.featrued-section-content {
  text-align: center;
}

.featured-cards-content {
  max-width: 1104px;
  margin-top: 20px;
}

.featured-card-wrapper {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
}

.featured-card {
  white-space: nowrap;
}

.featured-card-media {
  width: 336px;
  height: 363px;
  overflow: hidden;
}

.featured-card-media img {
  transition: all 0.3s ease-in-out;
}

.featured-card:hover .featured-card-media img {
  transform: scale(1.04);
}

.featured-card-caption {
  margin-top: 18px;
  margin-bottom: 10px;
}

/* ----- Case studies section ----- */
.home-case-studies-section {
  padding-block: 88px;
}

.case-studies-section {
  background: linear-gradient(180deg, rgba(1, 27, 33, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.case-studies-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.case-studies-card {
  white-space: nowrap;
}

.case-studies-card-media {
  width: 654px;
  height: 450px;
  overflow: hidden;
}

.case-studies-card-media img {
  transition: all 0.3s ease-in-out;
}

.case-studies-card:hover .case-studies-card-media img {
  transform: scale(1.1);
}

.case-studies-card-content {
  margin-top: 26px;
  text-wrap: auto;
}

.case-studies-card-title {
  color: var(--black-100);
  text-transform: capitalize;
  margin-block: 8px;
}

.case-studies-card-dec {
  max-width: 526px;
  letter-spacing: 0.32px;
  line-height: 1.75;
  color: var(--gray-77);
}

@media (min-width: 768px) {
  .case-studies-section .scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--gray);
  }
}

/* ----- Testimonial section ----- */
.testimonial-section {
  padding-block: 85px;
}

.testimonial-splide {
  max-width: 992px;
}

.testimonial-track {
  height: 350px;
}

.testimonial-lists {
  align-items: center;
}

.testimonial-list-wrapper {
  text-align: center;
  max-width: 912px;
}

.testimonial-list-wrapper::before,
.testimonial-list-wrapper::after {
  content: "“";
  width: 48px;
  height: 162px;
  font-size: 120px;
  line-height: 1.35;
  position: absolute;
  font-family: var(--font-prata);
  color: var(--black-200-20);
}

.testimonial-list-wrapper::before {
  top: -38px;
  left: 56px;
}

.testimonial-list-wrapper::after {
  bottom: 8px;
  right: 56px;
  transform: rotate(180deg);
}

.testimonial-content {
  font-size: 36px;
  letter-spacing: 0.36px;
  line-height: 1.555;
  color: var(--black-200);
  margin-bottom: 20px;
  font-family: var(--font-prata);
  position: relative;
}

.testimonial-caption {
  color: var(--black-200);
}

.testimonial-splide .splide__pagination {
  gap: 8px;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
}

.testimonial-splide .splide__pagination__page {
  width: 18px;
  height: 2px;
  padding-block: 8px;
  position: relative;
}

.testimonial-splide .splide__pagination__page::after {
  width: 18px;
  height: 2px;
  background: var(--primary);
}

.testimonial-splide .splide__pagination__page.is-active::after {
  background: var(--gray-75);
}

.splide.is-focus-in .splide__pagination__page:focus,
.splide__pagination__page:focus-visible {
  outline: none;
}
/* ====================================== 
             MARINE HTML 
====================================== */
/* ----- Hero section ----- */
.hero-text-wrapper-v2 {
  max-width: 904px;
}

.hero-text-wrapper-v2 .caption-small {
  color: var(--secondary-50);
}

.hero-text-title-v2 {
  margin-top: 10px;
}

.hero-text-dec-v2 {
  max-width: 566px;
}

.hero-slider-btn-v2 {
  margin-top: 10px;
}

.marine-slider .splide__pagination {
  top: 46%;
}

.scroll-down-arrow {
  width: 16px;
  height: 30px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down-arrow-icon {
  width: 100%;
  height: 100%;
}

/* ----- Split section ----- */
.marine-split {
  padding-block: 95px;
}

.split-v2 {
  width: 100%;
  background: var(--secondary);
}

.split-v2-wrapper {
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
}

.split-v2-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.split-v2-wrapper .split-card-title {
  max-width: 346px;
  margin-bottom: 12px;
}

/* ----- Featured card section ----- */
.marine-featured-card {
  padding-block: 90px;
}

.featured-card-white:hover .caption-small {
  color: var(--black-100);
}

/* ----- Case studies slider section ----- */
.case-studies-section-v2 {
  padding-block: 75px;
}

.case-studies-heading-content-v2 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.case-studies-wrapper-v2 {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.case-studies-media-v2 {
  width: 62%;
  max-width: 806px;
}

.case-studies-v2 {
  width: 38%;
  max-width: 578px;
  box-shadow: 0 0 16px 0 var(--black-15);
}

.case-studies-heading-title-v2 {
  text-transform: capitalize;
  color: var(--black-200);
}

.case-studies-content-wrapper-v2 {
  max-width: 504px;
  padding-block: 118px 90px;
  padding-inline: 72px 48px;
}

.case-studies-content-tile-v2 {
  margin-top: 8px;
  margin-bottom: 6px;
}

.case-studies-content-dec-v2 {
  letter-spacing: 0.32px;
  line-height: 1.75;
  color: var(--gray-77);
  margin-bottom: 20px;
}

/* ----- Blog img section ----- */
.blog-img-section {
  padding-block: 60px;
}

.blog-section-img {
  min-height: 640px;
}

/* ----- Articles section ----- */
.marine-articles {
  padding-block: 64px;
}

/* ----- Brochure section ----- */
.marine-brochure {
  padding-block: 64px;
}

.brochure-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.brochure-wrapper {
  display: flex;
  align-items: center;
  gap: 98px;
  margin-top: 58px;
}

.brochure-card {
  display: flex;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
}

.brochure-card-media {
  width: 166px;
  height: 132px;
}

.brochure-card-title {
  color: var(--black);
}

.brochure-card-dec {
  margin-block: 4px 15px;
  letter-spacing: 0.64px;
  line-height: 1.625;
}

/* ----- Cta section ----- */
.marine-cta {
  padding-block: 44px;
}

.cta-wrapper {
  position: relative;
}

.cta-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black-45);
  z-index: 0;
}

.cta-img {
  width: 100%;
  height: 184px;
}

.cta-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  padding: 20px;
}

/* ======================================
            SAFETY HTML
====================================== */
/* ----- Hero section ----- */
.safety-hero-content {
  max-width: 662px;
}

/* ----- Featured card section ----- */
.safety-featured-card {
  padding-block: 78px;
}

/* ----- Split section ----- */
.safety-split {
  padding-block: 74px;
}

/* ----- Blog img section ----- */
.blog-img-section-v2 {
  padding-top: 66px;
}

.blog-img-v2 {
  min-height: 608px;
}

/* ----- Articles section ----- */
.safety-articles {
  padding-block: 82px;
}

/* ----- Case studies section ----- */
.safety-case-studies {
  padding-block: 84px;
}

/* ----- Brochure section ----- */
.safety-brochure {
  padding-block: 82px;
}

/* ----- Cta section ----- */
.safety-cta {
  padding-block: 64px;
}

/* ======================================
            PRODUCTS HTML
====================================== */
/* ----- Products section ----- */
.products-section {
  padding-top: 230px;
}

.products-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 4px;
}

.products-filters-wrapper {
  width: 25%;
  max-width: 330px;
  position: sticky;
  top: 230px;
  left: 0;
}

.products-title {
  margin-bottom: 56px;
}

.products-filters-btn {
  line-height: 2.071;
  font-family: inherit;
  display: none;
  align-items: center;
  gap: 18px;
  padding-inline: 6px;
  border: none;
  background: transparent;
}

.products-filters-btn-icon {
  width: 18px;
  height: 12px;
}

.products-filters-content {
  max-width: 264px;
  margin-bottom: 40px;
  overflow: auto;
}

.filters-content-close-btn {
  width: 58px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--black);
  color: var(--secondary);
  display: none;
  align-items: center;
  justify-self: end;
  justify-content: center;
  border: none;
}

.filters-content-close-btn svg {
  width: 58%;
}

.filters-clear-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--gray);
  margin-bottom: 10px;
}

.filters-clear-btn,
.filters-clear-btn-icon {
  transition: all 0.3s ease-in-out;
}

.filters-clear-btn-icon {
  width: 14px;
  color: var(--gray-700);
}

.filters-clear-btn span {
  font-size: 10px;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.filters-clear-btn:hover,
.filters-clear-btn:hover .filters-clear-btn-icon {
  color: var(--black-100);
}

.filters-content-wrapper {
  color: var(--black-100);
}

.filters-content-items {
  padding-block: 16px;
  overflow: hidden;
}

.filters-content-items:not(:last-child) {
  border-bottom: 2px solid var(--gray-100-46);
}

.filters-content-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.filters-content-title {
  font-family: var(--font-prata);
}

.filters-item-title {
  line-height: 1.857;
  letter-spacing: 0.56px;
}

.filters-content-title-icon {
  width: 24px;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}

.filters-content-title-wrapper.active .filters-content-title-icon {
  transform: rotate(-180deg);
}

.filters-lists-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease-in-out;
}

.filters-lists-wrapper.active {
  grid-template-rows: 1fr;
}

.filters-lists {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.filters-lists-wrapper.active .filters-lists {
  padding-top: 20px;
}

.filters-lists-item:not(:last-child) {
  margin-bottom: 14px;
}

.filters-lists-item-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.products-filters-update-btn {
  border: none;
  margin-top: 26px;
}

.products-listing-wrapper {
  width: 75%;
  margin-top: 104px;
}

.products-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 16px;
}

.products-card-media {
  max-width: 320px;
  height: 363px;
  overflow: hidden;
}

.products-card .products-card-img {
  transition: all 0.3s ease-in-out;
}

.products-card:hover .products-card-img {
  transform: scale(1.04);
}

.products-card-caption {
  margin-block: 15px 4px;
}

.products-card-title {
  letter-spacing: normal;
  color: var(--black);
  font-family: var(--font-prata);
}

.products-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-block: 57px 42px;
}

.products-banner-content {
  width: 50%;
  padding-left: 6%;
}

.products-banner-caption {
  color: var(--gray-300);
}

.products-banner-title {
  text-transform: capitalize;
  margin-block: 8px;
}

.products-banner-media {
  width: 50%;
  height: 212px;
}

.products-listing-btn {
  align-items: center;
  margin-block: 76px;
}

.products-listing-btn-icon {
  width: 10px;
}

/* ======================================
            PRODUCT DETAILS HTML 
====================================== */
/* ----- Product overview section ----- */
.product-overview {
  padding-block: 210px 42px;
}

.overview-links-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: auto;
  white-space: nowrap;
}

.product-overview .scroll-bar::-webkit-scrollbar {
  height: 10px;
}

.overview-link {
  font-size: 10px;
  letter-spacing: 0.9px;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--gray-500);
  padding-block: 4px;
  transition: all 0.3s ease-in-out;
}

.overview-link:hover {
  color: var(--black-100);
}

.overview-links-bar {
  min-width: 1px;
  height: 12px;
  background-color: var(--gray-500);
}

.product-overview-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  margin-top: 25px;
}

.product-overview-media {
  width: 62%;
  max-width: 786px;
}

.product-overview-image {
  width: 100%;
  height: 530px;
}

.product-overview-splide .splide__arrow {
  width: 40px;
  height: 40px;
  background: var(--black-200);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.product-overview-splide .splide__arrow svg {
  fill: var(--secondary);
  width: 30%;
  height: 30%;
}

.product-overview-splide .splide__arrow--prev {
  left: 18px;
}

.product-overview-splide .splide__arrow--next {
  right: 18px;
}

.product-overview-splide .splide__arrow:hover:not(:disabled) {
  opacity: 0.8;
}

.product-overview-content {
  width: 38%;
  max-width: 402px;
}

.product-overview-caption {
  letter-spacing: 1.26px;
  font-family: var(--font-muli);
  font-weight: 700;
  color: var(--gray-44);
  margin-block: 2px 20px;
}

.product-overview-dec {
  letter-spacing: 0.64px;
  line-height: 1.625;
  margin-bottom: 10px;
}

.overview-view-specs-btn {
  font-size: 12px;
  letter-spacing: 1.8px;
  line-height: 1.333;
  color: var(--black-200);
}

.product-overview-select {
  width: 100%;
  height: 48px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--black-200);
  margin-block: 38px 12px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  float: none;
  border: 1px solid var(--black-500);
}

.product-overview-select::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path id="Polygon_14" data-name="Polygon 14" d="M5,0l5,6H0Z" transform="translate(10 6) rotate(180)" fill="%23141414"/></svg>');
  border: none;
  width: 10px;
  height: auto;
  right: 18px;
  margin: 0;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: inherit;
  transition: all 0.3s ease-in-out;
}

.product-overview-select.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.product-overview-select .list {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

/* ----- Additional information section ----- */
.additional-information-section {
  padding-block: 42px;
}

.additional-information-wrapper {
  max-width: 1120px;
}

.additional-information-columns {
  display: flex;
  align-items: start;
  gap: 36px;
  margin-top: 12px;
}

.additional-information-column {
  width: 50%;
  max-width: 542px;
}

.additional-information-dec {
  letter-spacing: 0.64px;
  line-height: 1.625;
  color: var(--black-100-77);
}

.additional-information-dec:not(:first-child) {
  margin-top: 14px;
}

/* ----- Key features section ----- */
.key-features-main-wrapper {
  padding-block: 46px;
  border-top: 1px solid var(--gray-74);
  border-bottom: 1px solid var(--gray-74);
}

.key-features-splide {
  margin-top: 36px;
}

.key-features-track {
  overflow: visible;
}

.key-features-slide {
  max-width: 350px;
}

.key-features-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.key-features-media {
  width: 115px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.key-features-title {
  letter-spacing: normal;
  text-transform: capitalize;
}

.key-features-dec {
  line-height: 1.428;
  letter-spacing: 0.56px;
}
