/* ----- Hero section ----- */
.home-hero-section {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-slider-wrapper {
  width: 100%;
  height: 780px;
  background: url("../images/section/home-slider-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-slider-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(19deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.hero-slider-content {
  width: 100%;
  position: absolute;
  top: 36%;
  left: 0;
}

.hero-content-wrapper {
  max-width: 680px;
  padding-left: 8%;
}

.home-hero-section .hero-slider-title {
  font-size: 66px;
  line-height: 1.09;
  letter-spacing: 0.66px;
  text-shadow: 0 20px 20px #00000029;
}

.hero-slider-dec {
  color: var(--white);
  margin-top: 8px;
  text-shadow: 0 3px 6px #00000029;
}

.hero-slider .splide__pagination {
  top: 50%;
  bottom: auto;
  left: auto;
  right: -4%;
  transform: translateX(-50%) rotate(90deg);
  gap: 6px;
}

.hero-slider .splide__pagination li {
  line-height: 0;
}

.hero-slider .splide__pagination__page {
  margin: 0;
  width: 24px;
  height: 2px;
  border-radius: 0;
  opacity: 1;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.hero-slider .splide__pagination__page.is-active {
  background: #cccccc6e;
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}

.hero-slider .splide__pagination__page:hover {
  background: #cccccc6e;
}

.hero-slider .splide__pagination__page:focus-visible {
  outline: none;
}

/* ----- Split section ----- */
.split-section {
  padding-bottom: 62px;
  margin-top: -186px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
}

.split-wrapper {
  display: flex;
  align-items: center;
}

.split-card {
  width: 100%;
  max-width: 664px;
  height: 434px;
  position: relative;
}

.split-card-media {
  width: 100%;
  height: 100%;
}

.split-card-content {
  text-align: center;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.split-card-title {
  color: var(--white);
  margin-bottom: 8px;
  text-shadow: 0 0 5px #00000081;
  text-transform: capitalize;
}

/* ----- Articles section ----- */
.articles-section {
  padding-block: 62px 92px;
  overflow: hidden;
}

.articles-section-title {
  margin-bottom: 34px;
  color: var(--black-100);
}

.articles-content-wrapper {
  margin-top: 28px;
}

.articles-track {
  overflow: visible;
}

.articles-media {
  width: 100%;
  max-width: 410px;
  height: 268px;
}

.articles-content-title {
  max-width: 330px;
  margin-block: 12px;
  color: var(--black-100);
}

.articles-splide .splide__arrow {
  width: 44px;
  height: 12px;
  border-radius: 0;
  background: transparent;
  opacity: 1;
  top: -14%;
  transform: translateY(0);
  color: var(--black-100);
}

.articles-splide .splide__arrow svg {
  width: 100%;
  height: 100%;
}

.articles-splide .splide__arrow--prev {
  left: auto;
  right: 68px;
}

.articles-splide .splide__arrow--next {
  right: 0;
}

.articles-splide .splide__arrow[disabled] {
  opacity: 12%;
}

/* ----- Our story section ----- */
.our-story-section {
  padding-block: 92px 72px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 24%,
    rgba(1, 27, 33, 1) 24%,
    rgba(1, 27, 33, 1) 100%
  );
}

.our-story-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.our-story-media {
  width: 60%;
  max-width: 764px;
}

.our-story-content {
  width: 40%;
  max-width: 456px;
}

.our-story-title {
  color: var(--white);
  margin-bottom: 18px;
  text-transform: capitalize;
}

.our-story-dec {
  color: var(--white);
  opacity: 78%;
  letter-spacing: 0.32px;
  line-height: 1.75;
  margin-bottom: 24px;
}

.our-story-btn {
  width: max-content;
  color: var(--white);
}
