:root {
  --black: #000000;
  --white: #ffffff;
  --neutral--50: #f5f7f8;
  --neutral--300: #c9d2d9;
  --neutral--900: #50555f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ----- Pricing card section ----- */
.pricing-card-section {
  padding: 50px 0;
}

.pricing-card-headings {
  max-width: 545px;
  margin: 0 auto;
  text-align: center;
  color: var(--black);
}

.pricing-headings-tag {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.pricing-headings-title {
  font-size: 56px;
  font-weight: 600;
  margin: 12px 0 10px 0;
}

.pricing-headings-dec {
  font-size: 20px;
  font-weight: 400;
  color: var(--neutral--900);
}

.pricing-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pricing-plan-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--neutral--50);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 30px;
}

.pricing-tab {
  padding: 8px 32px;
  color: var(--neutral--900);
  border-radius: 8px;
  text-transform: capitalize;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.pricing-tab::before {
  content: "";
  width: 20%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-160%, -25%) rotate(25deg);
  background-color: #ffffff;
  box-shadow: 0px 0px 12px 6px rgb(255, 255, 255),
    -12px 0px 12px 6px rgb(255, 255, 255);
  opacity: 80%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.pricing-tab:hover {
  border-color: var(--white);

  &::before {
    left: 200%;
  }
}

.pricing-tab.active {
  color: var(--black);
  background-color: var(--white);
}

.pricing-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-content: center;
}

.pricing-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border: 1px solid var(--neutral--300);
  border-radius: 12px;
  padding: 24px;
}

.pricing-card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-card-tag {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid var(--neutral--300);
  border-radius: 32px;
  padding: 4px 12px;
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 16px;
}

.pricing-wrapper {
  height: 84px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.monthly-price,
.yearly-price {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.yearly-price,
.change .monthly-price {
  opacity: 0;
  visibility: hidden;
}

.change .monthly-price,
.change .yearly-price {
  transform: translateY(-80px);
}

.change .monthly-price {
  opacity: 0;
  visibility: hidden;
}

.change .yearly-price {
  opacity: 1;
  visibility: visible;
}

.pricing-card-price {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -3px;
}

.pricing-card-price-tag {
  padding: 10px;
}

.pricing-card-dec {
  margin-top: 8px;
  color: var(--neutral--900);
}

.pricing-card-btn {
  display: flex;
  justify-content: center;
  background-color: var(--neutral--50);
  color: var(--black);
  border-radius: 10px;
  padding: 12px;
  margin-top: 14px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.pricing-card-btn span {
  z-index: 4;
}

.pricing-card-btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--black);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.pricing-card-btn:hover {
  color: var(--white);
}

.pricing-card-btn:hover::before {
  width: 100%;
}

.pricing-lists-content:not(:last-child) {
  margin-bottom: 24px;
}

.pricing-lists-tag {
  font-size: 14px;
  color: var(--neutral--900);
  margin-bottom: 12px;
}

.pricing-list-container,
.pricing-list {
  display: flex;
  gap: 12px;
}

.pricing-list-container {
  flex-direction: column;
}

.pricing-list {
  align-items: center;
}

.pricing-list-icon {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--white);
  color: var(--black);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0.5px #95a0b233;
}

@media (max-width: 991px) {
  .pricing-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing-headings-title {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .pricing-headings-title {
    margin: 6px 0;
  }

  .pricing-plan-tab {
    padding: 8px;
  }

  .pricing-content-wrapper {
    flex-direction: column;
  }

  .pricing-card-content {
    width: 100%;
  }

  .pricing-card-price {
    font-size: 46px;
  }

  .pricing-wrapper {
    height: 69px;
  }

  .change .monthly-price,
  .change .yearly-price {
    transform: translateY(-68px);
  }
}

@media (max-width: 575px) {
  .pricing-headings-title,
  .pricing-card-price {
    font-size: 36px;
  }

  .pricing-card-container {
    margin-top: 24px;
  }

  .pricing-plan-tab {
    margin-bottom: 20px;
  }

  .pricing-wrapper {
    height: 54px;
  }

  .pricing-content-wrapper {
    gap: 30px;
  }

  .change .monthly-price,
  .change .yearly-price {
    transform: translateY(-52px);
  }

  .pricing-headings-dec {
    font-size: 18px;
  }
}
